.page-where-to-buy#modalContent {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 10000;
  display: block;
  overflow: hidden;
}

.page-where-to-buy .modal-title {
  font-size: 18px;
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  line-height: 40px;
}

.page-where-to-buy .modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #003e69;
}

.page-where-to-buy .modal-header a.close {
  margin: 0;
}

.page-where-to-buy .modal-header a.close > button.close {
  margin: 0 10px 0 0;
  line-height: 40px;
  opacity: 1;
}

.page-where-to-buy div.ctools-modal-content fieldset,
.page-where-to-buy div.ctools-modal-content .form-radios,
.page-where-to-buy div.ctools-modal-content .form-checkboxes {
  clear: none;
}

.page-where-to-buy div.ctools-modal-content .form-item label {
  width: auto;
}

.page-where-to-buy .ctools-modal-content {
  position: relative;
  margin: 50px auto;
  max-width: 1024px;
  height: auto !important;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.page-where-to-buy #modal-content {
  position: relative;
  padding: 15px;
  max-height: 650px !important;
  width: 100% !important;
  height: auto !important;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

#modalBackdrop {
  background: rgb(0, 0, 0) !important;
}

#shurtape-tool-where-to-buy-form .fieldset-description {
  font-size: 15px;
  font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
  line-height: 18px;
}

#shurtape-tool-where-to-buy-form label {
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
}

#shurtape-tool-where-to-buy-form input[type="text"] {
  display: block;
  padding: 6px 12px;
  width: 100%;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  color: #555;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#shurtape-tool-where-to-buy-form input[type="text"].error {
  border: 2px solid red;
}

#shurtape-tool-where-to-buy-form input[type="text"]:focus {
  outline: 0;
  border-color: #66afe9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

#shurtape-tool-where-to-buy-form input[type="text"]:-moz-placeholder {
  color: #999;
}

#shurtape-tool-where-to-buy-form input[type="text"]::-moz-placeholder {
  color: #999;
}

#shurtape-tool-where-to-buy-form input[type="text"]:-ms-input-placeholder {
  color: #999;
}

#shurtape-tool-where-to-buy-form input[type="text"]::-webkit-input-placeholder {
  color: #999;
}

#shurtape-tool-where-to-buy-form input[type="submit"] {
  display: inline-block;
  margin-right: 10px;
  width: 152px;
  height: 34px;
  border: 0;
  background: url(../i/btn-readmore.png) no-repeat 0 0;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  line-height: 34px;
}

#shurtape-tool-where-to-buy-form input[type="submit"]:hover {
  border-radius: 20px;
  background: #e77b11;
}

#shurtape-tool-where-to-buy-form .form-checkboxes .form-item input {
  margin: -4px 0 0;
}

#shurtape-tool-where-to-buy-form #map_canvas {
  width: 480px;
  height: 400px;
}

#shurtape-tool-where-to-buy-form .data-loading {
  margin: 1em auto;
  width: 16px;
  height: 16px;
  background: url(../i/ajax-loader.gif) no-repeat center 0;
  text-align: center;
}

#shurtape-tool-where-to-buy-form #edit-results {
  float: left;
  width: 400px;
}

#shurtape-tool-where-to-buy-form #edit-googlemap {
  float: right;
  border-right: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
  box-shadow: 1px 1px 4px #b4b4b4;
}

#shurtape-tool-where-to-buy-form #edit-results-wrapper.map-hide {
  overflow: hidden;
  visibility: hidden;
  height: 0;
}

#shurtape-tool-where-to-buy-form h1#page-title {
  margin: 0;
  padding-bottom: 10px;
  color: #f57e20;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Helvetica-Narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 32px;
}

#shurtape-tool-where-to-buy-form legend {
  font-size: 21px;
  font-family: 'Helvetica-Narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#shurtape-tool-where-to-buy-form .shurtape-help-text {
  padding-bottom: 10px;
  font-size: 14px;
  font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
  line-height: 18px;
}

#shurtape-tool-where-to-buy-form fieldset#edit-filters {
  position: relative;
  display: block;
  margin: 0 0 10px;
  padding: 20px;
  border: 1px solid #9a9a9a;
}

#shurtape-tool-where-to-buy-form .form-type-radios.form-item-type,
#shurtape-tool-where-to-buy-form .form-type-radios.form-item-purchase {
  float: left;
  margin: 0;
  width: 330px;
}

#shurtape-tool-where-to-buy-form .form-type-radios.form-item-purchase {
  width: 185px;
}

#shurtape-tool-where-to-buy-form .form-type-radios .form-type-radio {
  margin: 0;
}

#shurtape-tool-where-to-buy-form .form-type-radios > label {
  display: block;
  float: left;
  margin: 0 90px 0 0;
  color: #003e69;
  font-weight: bold;
  font-size: 16px;
  line-height: 80px;
}

#shurtape-tool-where-to-buy-form #edit-geodata {
  display: inline-block;
  float: right;
  width: 120px;
}

#shurtape-tool-where-to-buy-form #edit-type,
#shurtape-tool-where-to-buy-form #edit-purchase {
  padding: 20px 0;
}

#shurtape-tool-where-to-buy-form input[type="radio"] {
  margin: -2px 0 0;
}

#shurtape-tool-where-to-buy-form .form-item-zip-code {
  margin: 0 0 12px;
}

#shurtape-tool-where-to-buy-form .form-item-radius {
  margin: 0;
}

#shurtape-tool-where-to-buy-form .form-actions {
  float: right;
  margin: 0;
  padding: 23px 0 23px 50px;
}

#shurtape-tool-where-to-buy-form #header-results > div.item-list {
  margin-top: 1em;
  padding-bottom: 1em;
  border: solid 1px #ccc;
}

#shurtape-tool-where-to-buy-form #header-results > div.item-list > ul,
#shurtape-tool-where-to-buy-form #view-companies > div.item-list > ul {
  margin: 0;
  padding: 0;
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
}

#shurtape-tool-where-to-buy-form #header-results > div.item-list > ul li,
#shurtape-tool-where-to-buy-form #view-companies > div.item-list > ul li {
  margin: 1em 0 0 25px;
  padding: 0;
  max-width: 370px;
  list-style: none;
}

#shurtape-tool-where-to-buy-form #view-companies > div.item-list > ul li:before {
  float: left;
  margin-left: -25px;
  content: attr(data-index);
}

#shurtape-tool-where-to-buy-form legend {
  color: #003e69;
  font-weight: bold;
  font-size: 22px;
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  line-height: 35px;
}

#shurtape-tool-where-to-buy-form .empty-text {
  margin: 1em 0;
}

#shurtape-tool-where-to-buy-form .form-radios > .form-item-type > label:after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../i/help.png) no-repeat 0 0px;
  position: relative;
  top: 2px;
  -webkit-background-size: contain;
  background-size: contain;
}

#shurtape-tool-where-to-buy-form .form-radios > .form-item-type > label:hover:after {
  cursor: help;
}

@media (max-width: 640px) {
  #shurtape-tool-where-to-buy-form {
    padding: 10px;
  }

  #shurtape-tool-where-to-buy-form #edit-geodata {
    float: none;
    width: auto;
  }

  #shurtape-tool-where-to-buy-form .form-actions {
    float: none;
    padding: 10px 0 23px 0;
  }

  #shurtape-tool-where-to-buy-form input[type="submit"] {
    margin-right: 0;
  }

  #shurtape-tool-where-to-buy-form .form-type-radios.form-item-type,
  #shurtape-tool-where-to-buy-form .form-type-radios.form-item-purchase {
    float: none;
    width: auto;
  }

  #shurtape-tool-where-to-buy-form #edit-purchase {
    padding: 0 0 10px;
  }

  #shurtape-tool-where-to-buy-form .form-type-radios.form-item-purchase {
    margin-left: 202px;
  }

  #shurtape-tool-where-to-buy-form #edit-googlemap {
    float: none;
    clear: both;
    border: solid 1px #b4b4b4;
    box-shadow: none;
  }

  #shurtape-tool-where-to-buy-form #map_canvas {
    width: 100%;
  }

  #shurtape-tool-where-to-buy-form #edit-results {
    float: none;
    width: 100%;
  }

  #shurtape-tool-where-to-buy-form #header-results > div.item-list > ul li,
  #shurtape-tool-where-to-buy-form #view-companies > div.item-list > ul li {
    max-width: 100%;
  }

  .pagination {
    width: 100%;
    border-radius: 0;
    text-align: center;
  }
}

@media (max-width: 418px) {
  #shurtape-tool-where-to-buy-form .form-type-radios > label {
    float: none;
    margin: 0;
    line-height: 20px;
  }

  #shurtape-tool-where-to-buy-form #edit-type,
  #shurtape-tool-where-to-buy-form #edit-purchase {
    padding: 10px 0;
  }

  #shurtape-tool-where-to-buy-form .form-type-radios.form-item-purchase {
    margin-left: 0;
  }
}
