/**
 * Shurtape - product filter bar (on the search and category pages)
 * pages have body class .product
 */
 
#filter_bar a {
	text-decoration:none;
}


#filter_bar h2 {
	font-size:18px;
	font-weight:bold;
	padding:12px;
	margin-top:10px !important;
	margin-bottom:8px;
	background-image:url(../images/bg_filter_heading.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-color:transparent;
}

#filter_bar h2 .count {
	font-size:14px;
	font-weight:normal !important;
}

#filter_bar h3 {
	background-color: #003e69;
	color:#ffffff;
	font-weight:bold;
	padding:8px;
	margin:0 10px 12px !important;
	font-size:14px !important;
	position:relative;
}

#filter_bar h3:after {
	content: ' ';
	height:0;
	position:absolute;
	width:0;
	border:10px solid transparent;
	border-top-color:#003e69;
	top:100%;
	left:10px;
}

#filter_bar .toggle_box {
	border:1px solid #bbbbbb;
	margin:10px;
}

#filter_bar .toggle_box ul {
	list-style:none;
}

#filter_bar .toggle_box h4 {
	margin:0 !important;
	font-size:14px;
	font-weight:bold;
	color:#000000;
}

#filter_bar .toggle_box h4 a {
	background-image:url(../images/bg_grid_box.jpg);
	background-repeat:repeat;
	background-position:0 0;
	background-color:transparent;
	padding:10px;
	display:block;
	padding-left:30px;
	font-weight:bold;
	color:#000000;
	position:relative;
}

#filter_bar .toggle_box h4 a:hover {
	color:#000000 !important;
}

#filter_bar .toggle_box h4 a .toggle_arrow {
	background-image:url(../images/btn_filter_arrow.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-color:transparent;
	width:15px;
	height:15px;
	display:inline-block;
	position:absolute;
	left:10px;
	top:10px;
}

#filter_bar .toggle_box.open h4 a .toggle_arrow {
	background-image:url(../images/btn_filter_arrow_open.png);
}

#filter_bar .toggle_box .toggle_target {
	margin:0 !important;
	border-top:1px solid #bbbbbb;
	padding:10px;
	display:block;
}

#filter_bar .mini_toggle {
	padding-left:3px;
	margin-bottom:6px;
}

#filter_bar .mini_toggle .mini_control {
	color:#f57e20;
	font-weight:bold;
	font-size:14px;
	position:relative;
	padding-left:14px;
	background-image:url(../images/btn_mini_arrow.png);
	background-repeat:no-repeat;
	background-position:1px 5px;
	background-color:transparent;
	margin-bottom:3px;
	display:block;
}

#filter_bar .mini_toggle.open .mini_control {
	background-image:url(../images/btn_mini_arrow_open.png);
	background-position:0 7px;
}

#filter_bar .mini_toggle .mini_target {
	border-top:none !important;
	padding-left:14px !important;
}

#filter_bar .mini_toggle .mini_target li {
	margin-bottom:3px;
	position:relative;
}

#filter_bar .mini_toggle .mini_target li a {
	color:#003e69 !important;
	font-size:12px !important;
	display:inline-block;
	background-image:url(../images/icon_bullet.png);
	background-repeat:no-repeat;
	background-position:0 5px;
	background-color:transparent;
	padding-left:14px;
}


#filter_bar .filter_box li {
	margin-bottom:6px;
}

#filter_bar .filter_box .filter_control {
	padding-left:20px;
	background-image:url(../images/control_checkbox.png);
	background-repeat:no-repeat;
	background-position:0 50%;
	background-color:transparent;
	display:block;
}

#filter_bar .filter_box .filter_control.current {
	background-image:url(../images/control_checkbox_on.png);
	color:#003e69 !important;
}

#filter_bar .filter_box .filter_control:hover {
	color:#003e69 !important;
}