/**
 * Shurtape - common site CSS
 */

/**
 * global
 */
body {
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#003e69;
	min-width:1200px;
}

p {
	margin-bottom:1.6em;
}

a {
	color:#003e69;
	text-decoration:none;
	/*
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
	*/
}

b {
	font-family:'open_sansbold', sans-serif;
	font-weight:bold;
}

a:hover {
	color:#999999;
}

/**
 * typography
 */
.headline {
	color:#f57e20;
	margin:0;
	margin-top:20px;
	padding-left:6px;
	font-size:28px;
	font-weight:bold;
}

.blue_bar {
	color: #ffffff;
	background-color: #003e69;
	min-height:32px;
	line-height:32px;
	overflow:hidden;
	clear:both;
	display:block;
	float:none;
	margin:10px 0 20px;
	padding:0 12px;
}


b {
	font-weight: bold !important;
}

strong {
	font-weight: bold !important;
}

i {
	font-style: italic !important;
}

em {
	font-style: normal !important;
}

hr {
	border:none;
	border-top:1px solid #cccccc !important;
	margin:20px 0;
}

.small {
	font-size: 12px !important;
}

.blue {
	color:#003e69;
}

.orange {
	color:#f57e20;
}

.white {
	color: #ffffff !important;
}

.regular, 
.reg {
	font-size: 14px !important;
}

.medium, 
.med {
	font-size: 16px !important;
}

.large,
big {
	font-size: 22px !important;
}

.xlarge {
	font-size: 30px !important;
}

.xxlarge {
	font-size: 36px !important;
}

.xxxlarge {
	font-size: 56px !important;
}



/**
 * common
 */
.fixed_wrap {
	width:940px;
	margin:0 auto;
}

.white_box {
	background-color:#ffffff;
	background-image:none;
	padding:20px;
	-moz-border-radius:.4em; 
	-webkit-border-radius:.4em; 
	border-radius:.4em;
	border:1px solid #cccccc;
	-moz-box-shadow:0 0 6px #cccccc;
	-webkit-box-shadow:0 0 6px #cccccc;
	box-shadow:0 0 6px #cccccc;
}

.pad {
	margin:20px 0;
}

.padded_body {
	padding:0 30px;
}

ul.link_list {
	padding:0 20px;
	margin-bottom:40px;
}

ul.link_list li {
	margin-bottom:10px;
}

ul.link_list .link_desc {
	clear:both;
	display:block;
}

ul.event_list li {
	margin-bottom:20px;
	overflow:hidden;
	clear:both;
	display:block;
}

ul.event_list li a {
	text-decoration:none !important;
	color:#000000 !important;
}

ul.event_list li a:hover {
	text-decoration:none !important;
	color:#000000 !important;
}

ul.event_list li .event_thumb {
	display:inline-block;
	float:left;
	max-width:150px;
	margin-right:30px;
}

ul.event_list li .event_thumb img {
	max-width:100%;
}

ul.event_list li .event_content {
	display:inline-block;
	float:left;
	width:600px;
}

ul.event_list li .event_content h3 {
	color:#003e69;
	font-size:22px;
	font-weight:bold;
	margin-bottom:4px;
	margin-top:16px !important;
}

/**
 * tab controls - on a couple pages 
 */
ul.tab_controls {
	list-style:none;
	padding-left:0;
	margin:20px;
}

ul.tab_controls li {
	float:left;
	display:inline-block;
}

ul.tab_controls li a.tab_control {
	padding:10px 40px;
	margin-right:10px;
	text-decoration:none !important;
	font-size:16px;
	background-color:#cccccc !important;
	display:block;
	font-weight:bold;
	color:#000000 !important;
	-webkit-border-top-right-radius:.4em !important;
	-webkit-border-top-left-radius:.4em !important;
	-moz-border-radius-topright:.4em !important;
	-moz-border-radius-topleft:.4em !important;
	border-top-right-radius:.4em !important;
	border-top-left-radius:.4em !important;
}

ul.tab_controls li a.tab_control.current {
	background-color:#ffffff !important;
	color:#003e69 !important;
}

/**
 * forms
 */
.form_wrapper {
	padding:0 20px;
}

.form-control {
	color:#333333;
}

.form-inline {
	margin-bottom:16px;
}


/* placeholders (inline labels) - these MUST STAY SEPARATE - do not combine */
.placeholder {
	color:#333333 !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color:#333333 !important;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:#333333 !important;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:#333333 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:#333333 !important;
}

/**
 * errors
 */
.all_errors_container {
	display:block;
	background:#dddddd;
	color:#d51212;
	padding:20px;
	display:none;
	font-size:12px;
	font-weight:bold;
	margin-bottom:20px;
	clear:both;
	overflow:hidden;
}

.error_container {
	display:none;
}

.error_field .error_container {
	color:#d51212;
	text-align:center;
	margin:10px 0;
	display:block;
}

.error_field input[type="text"], 
.error_field input[type="password"], 
.error_field input[type="email"],
.error_field select,
.error_field textarea {
	border:3px solid #d51212 !important;
}

/* placeholders (inline labels) - these MUST STAY SEPARATE - do not combine */
.error_field .placeholder {
	color:#d51212 !important;
}

.error_field ::-webkit-input-placeholder { /* WebKit browsers */
	color:#d51212 !important;
}

.error_field :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:#d51212 !important;
}

.error_field ::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:#d51212 !important;
}

.error_field :-ms-input-placeholder { /* Internet Explorer 10+ */
	color:#d51212 !important;
}


/**
 * buttons
 */
.btn {
	padding-left:1em;
	padding-right:1em;
	position: relative;
	border:none;
	font-weight:bold;
	text-decoration:none !important;
	color:#003e69;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-moz-border-radius:2em; 
	-webkit-border-radius:2em; 
	border-radius:2em;
	border:1px solid #cccccc;
}

.btn:focus,
.btn:active,
.btn.current {
	color:#003e69 !important;
	background-color:#eeeeee;
	border:1px solid transparent !important;
}

.btn:hover {
	color:#003e69 !important;
}

.btn.btn-wide {
	padding-left:3em;
	padding-right:3em;
}

.btn.btn-orange {
	color:#ffffff !important;
	background-color:#ee8925;
	background-image:-moz-linear-gradient(top, #feaa55, #e27203);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#feaa55), to(#e27203));
	background-image:-webkit-linear-gradient(top, #feaa55, #e27203);
	background-image:-o-linear-gradient(top, #feaa55, #e27203);
	background-image:linear-gradient(to bottom, #feaa55, #e27203);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffeaa55', endColorstr='#ffe27203', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-moz-border-radius:2em; 
	-webkit-border-radius:2em; 
	border-radius:2em;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
	border-color:transparent !important;
}

.btn.btn-orange:focus,
.btn.btn-orange:active,
.btn.btn-orange.current {
	color: #ffffff;
	background-color:#e77b11;
	border:none;
}

.btn.btn-orange:active,
.btn.btn-orange.current {
	background-image: none;
}

.btn.btn-squared {
	-moz-border-radius:.4em; 
	-webkit-border-radius:.4em; 
	border-radius:.4em;
	text-shadow:none;
	font-weight:normal;
}

#search_box .btn {
	padding-left:0.6em !important;
	padding-right:0.6em !important;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	border:none;
	background-color:#0e4f7a;
	background-image:-moz-linear-gradient(top, #276f9b, #003e69);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#276f9b), to(#003e69));
	background-image:-webkit-linear-gradient(top, #276f9b, #003e69);
	background-image:-o-linear-gradient(top, #276f9b, #003e69);
	background-image:linear-gradient(to bottom, #276f9b, #003e69);
	background-repeat:repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff276f9b', endColorstr='#ff003e69', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#search_box .btn:active,
#search_box .btn.current {
	background-color:#084873;
	background-image:none;
	border:none;
}

#search_box .btn .icon_search {
	width:19px;
	height:19px;
	display:block;
	background-color:transparent;
	background-image:url(../images/icon_search.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
}


/**
 * tables
 */
table.table {
	clear:both;
	margin:20px 0;
	font-size:13px;
	background-color:#ffffff;
	border:1px solid transparent;
}

table.table thead th {
	background-color:#003e69;
	color:#ffffff;
	text-transform:uppercase;
	padding:8px 12px;
	font-size:12px;
	font-weight:bold;
	border:none !important;
	vertical-align:middle;
}

table.table tbody tr td {
	padding:6px 12px;
	border:1px solid #ffffff;
}

table.table tbody td.region {
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
}

table.table tbody tr td.gray_cell {
	background-color:#cccccc;
	font-weight:bold;
}

table.table tfoot tr td {
	background-color:#003e69;
	color:#ffffff;
}

/**
 * header
 */
#header {
	margin:0;
	background-image:url(../images/bg_header_texture.jpg);
	background-color:#e5e5e5;
	background-repeat:repeat-x;
	background-position:0 0;
	border-top:24px solid #003e69;	
}

#header #logo {
	padding:26px 0;
}

#header #search_box {
	position:absolute;
	right:0;
	top:36px;
	width:290px;
}

#header #top_cta {
	position:absolute;
	right:336px;
	top:42px;
	font-size:17px;
}

#header .fixed_wrap {
	position:relative;
}

/**
 * nav
 */
#nav {
	position:absolute;
	color:#003e69;
	margin:0;
	right:0;
	bottom:0;
	width:983px;
	height:43px;
	background-color:transparent;
	background-position:0 0;
	background-image:url(../images/bg_nav.png);
	background-repeat:no-repeat;
}

#nav .row {
	margin:0;
}

#nav ul.primary_menu {
	margin-left:300px;
	margin-bottom:0 !important;
}

#nav ul.primary_menu li {
	padding:0 !important;
	text-align:center;
	position:relative;
}

#nav ul.primary_menu li a {
	display:block;
	color:#134b73;
	padding:10px 0 !important;
	font-size:16px;
	float:none;
	clear:both;
	text-align:center;
	text-decoration:none;
}

#nav ul.primary_menu li a:active,
#nav ul.primary_menu li a.current {
	color:#ffffff;
	background-color: #999999;
	background-image: -moz-linear-gradient(top, #c0c0c0, #7f7f7f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c0c0c0), to(#7f7f7f));
	background-image: -webkit-linear-gradient(top, #c0c0c0, #7f7f7f);
	background-image: -o-linear-gradient(top, #c0c0c0, #7f7f7f);
	background-image: linear-gradient(to bottom, #c0c0c0, #7f7f7f);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc0c0c0', endColorstr='#ff7f7f7f', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#nav ul.primary_menu li a#link_products {
	width:140px !important;
}

#nav ul.primary_menu li a#link_resources {
	width:140px !important;
}

#nav ul.primary_menu li a#link_about {
	width:108px !important;
}

#nav ul.primary_menu li a#link_contact {
	width:156px !important;
}

#nav ul.primary_menu li a#link_where {
	color:#ffffff !important;
	width:122px !important;
}

#nav ul.submenu {
	position:absolute;
	display:block;
	margin-left:0 !important;
	top:43px;
	left:0;
	width:230px;
	padding-left:0 !important;
	list-style:none;
	-moz-box-shadow: 0px 3px 8px #5e5e5e;
	-webkit-box-shadow: 0px 3px 8px #5e5e5e;
	box-shadow: 0px 3px 8px #5e5e5e;
	display:none;
	z-index:2005;
}

.lt-ie9 #nav ul.submenu {
	border:1px solid #999999;
	border-top:none !important;
	margin-left:-1px !important;
}

#nav ul.submenu li a {
	text-align:left;
	background-color:#e0e0e0;
	background-image:url(../images/icon_blue_chevron_right.png);
	background-repeat:no-repeat;
	background-position:22px 50%;
	border-top:1px solid #ffffff;
	border-bottom:1px solid #969696;
	padding:7px 0 7px 36px !important;
	font-weight:normal;
}

#nav ul.submenu li a:hover {
	background-color:#f57f20;
	border-bottom:1px solid #f57f20;
	border-top:1px solid transparent;
	background-image:url(../images/icon_chevron_right.png);
	color:#ffffff;
}

#nav ul.submenu li a:active,
#nav ul.submenu li a.current {
	background-repeat:no-repeat;
}

#nav ul.primary_menu li a#link_where:active,
#nav ul.primary_menu li a#link_where.current {
	background-color:#e77b11 !important;
	background-image:none !important;
}

#nav ul.submenu li.first a {
	border-top:none;
	-webkit-box-shadow: inset 0 8px 8px -8px #5e5e5e;
    -moz-box-shadow: inset 0 8px 8px -8px #5e5e5e;
    box-shadow: inset 0 8px 8px -8px #5e5e5e;
}

 
/**
 * footer
 */
#footer {
	padding-bottom:120px;
	background-color:#003e69;
	color:#ffffff !important;
	padding:10px 0 140px;
}

#footer img {
	max-width:100%;
}

#footer .col {
	padding:10px 20px;
}

#footer .col h4 {
	margin-top:0 !important;
	font-size:14px;
}

#footer .col#footer_home {
	width:14%;
}

#footer .col#footer_products {
	width:20%;
}

#footer .col#footer_resources {
	width:22%;
}

#footer .col#footer_about {
	width:20%;
}

#footer .col#footer_share {
	width:24%;
}

#footer .col#footer_share a.footer_logo {
	padding:10px 0;
	margin-bottom:20px;
}

#footer .col#footer_share h4 {
	margin-top:10px !important;
	font-size:12px;
	padding-left:5px;
}

#footer a {
	color:#ffffff !important;
}

#footer a:hover {
	color:#dddddd !important;
	text-decoration:none;
}


#footer #meta #links {
	margin-bottom:4px;
}


/**
 * content
 */
#content {
	min-height:500px;
	padding:0;
	padding-bottom:100px;
	background-image:url(../images/bg_texture.jpg);
	background-color:#e5e5e5;
	background-repeat:repeat;
	background-position:0 0;
}

#content a {
	color:#003e69;
	text-decoration:underline;
}

#content a:hover,
#content a:active,
#content a.current {
	color:#999999;
	text-decoration:none;
}

#content #main.fixed_wrap.white_box {
	-webkit-border-top-right-radius:0 !important;
	-webkit-border-top-left-radius:0 !important;
	-moz-border-radius-topright:0 !important;
	-moz-border-radius-topleft:0 !important;
	border-top-right-radius:0 !important;
	border-top-left-radius:0 !important;
	border-top:none;
	padding-bottom:40px;
}

/**
 * marquee / slideshow
 */
.home #marquee,
.promotions #marquee {
	width:1145px;
	margin:0 auto;
	z-index:1001;
	position:relative;
}


/**
 * subcontent
 */
#subcontent {
	z-index:1002;
	position:relative;
	padding:10px;
	width:960px;
	margin:0 auto;
	margin-top:-80px;
}

#subcontent h2 {
	font-size:17px;
	padding-left:20px;
	font-weight:bold;
}

#subcontent hr {
	background-color:transparent;
	background-image:url(../images/bg_hr.png);
	background-repeat:no-repeat;
	background-position:0 0;
	display:block;
	width:860px;
	margin:20px auto;
	height:1px;
	border:none;
	clear:both;
}

#subcontent .headline {
	background-color:#003e69;
	color:#ffffff;
	padding:4px 40px;
	font-size:24px;
	margin-top:0;
	-moz-border-radius:.2em; 
	-webkit-border-radius:.2em; 
	border-radius:.2em;
}

/**
 * product grid - used on products index + home page touts
 */
.product_grid {
	padding-top:20px;
}

.product_grid h2 {
	text-transform:uppercase;
}

.product_grid ul {
	list-style:none;
	padding-left:0 !important;
	margin-right:-10px;
	margin-left:-10px;
}

.product_grid ul:before, 
.product_grid ul:after {
	display:table;
	content:" ";
}

.product_grid ul:after {
	clear:both;
}

.product_grid ul li {
	width:33.33333333333333%;
	float:left;
	position: relative;
	min-height: 1px;
	padding-right:10px;
	padding-left:10px;
	margin-bottom:20px;
}

.product_grid ul li a.item {
	text-decoration:none;
	color:#000000 !important;
	padding:0 !important;
	display:block;
	clear:both;
	overflow:hidden;
	max-width:100%;
	width:100%;
	position:relative;
	border-right:1px solid #b4b4b4;
	border-bottom:1px solid #b4b4b4;
	-moz-box-shadow:1px 1px 4px #b4b4b4;
	-webkit-box-shadow:1px 1px 4px #b4b4b4;
	box-shadow:1px 1px 4px #b4b4b4;
}

.lt-ie9 .product_grid  ul li a.item {
	border-right:2px solid #c6c6c6;
	border-bottom:2px solid #c6c6c6;
}

.product_grid ul li a.item img {
	max-width:100%;
	width:100%;
}

.product_grid ul li a.item .item_content {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}

.product_grid ul li a.item .item_content .item_title {
	font-size:17px;
	clear:both;
	display:block;
	line-height:20px;
	position:relative;
	padding:6px;
	padding-left:30px;
	background-color:#ffffff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.product_grid ul li a.item .cta_arrow {
	background-color:transparent;
	background-image:url(../images/btn_cta_arrow_small.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	width:17px;
	height:17px;
	position:absolute;
	top:6px;
	left:6px;
	z-index:2002;
}


/**
 * promotions page
 */
.promotions #subcontent  {
	margin-top:-56px;
	padding-bottom:100px;
}

.promotions #subcontent #prev_viewed {
	clear:both;
	overflow:hidden;
	position:relative;
	margin:0 14px;
}

.promotions #subcontent #prev_viewed h2 {
	color:#003e69;
}

.promotions #subcontent #prev_viewed .item {
	float:left;
	width:180px;
	text-decoration:none;
	display:inline-block;
	height:200px;
	margin:10px 20px;
	padding:10px;
	color:#000000 !important;
	overflow:hidden;
}

.promotions #subcontent #prev_viewed .item .item_thumb {
	clear:both;
	display:block;
	margin-bottom:24px;
	margin-top:10px;
}

.promotions #subcontent #prev_viewed .item .item_title {
	clear:both;
	display:block;
	font-size:16px;
	line-height:16px;
	font-weight:bold;
}

.promotions #subcontent #prev_viewed .item .item_desc {
	clear:both;
	display:block;
	font-size:10px;
	line-height:14px;
	font-weight:bold;
	margin-bottom:10px;
}

.promotions #subcontent #promo_body {
	padding:20px 30px 20px 40px;
}

.promotions #subcontent #promo_body h3 {
	font-weight:bold;
	font-size:18px;
	margin-bottom:16px;
	margin-top:0;
}

.promotions #subcontent #promo_body h3 a {
	text-decoration:none !important;
}

.promotions #subcontent #promo_body h4 {
	font-weight:bold;
	font-size:24px;
	color:#003e69 !important;
	margin-top:30px;
	margin-bottom:16px;
}

.promotions #subcontent #promo_body #promo_form {
	position:relative;
}

.promotions #subcontent #promo_form .form_wrapper {
	width:670px;
	padding:0;
}

.promotions #subcontent #promo_form .form_wrapper .row {
	margin-right:0;
}

.promotions #subcontent #promo_form .form_wrapper .form-group {
	padding-right:0;
}

.promotions #subcontent #promo_form .button_bar {
	margin-top:16px;
}

.promotions #subcontent #promo_form .btn.btn-wide {
	padding-left:5em;
	padding-right:5em;
}


.promotions #subcontent #promo_form .detail_badge {
	position:absolute;
	right:0;
	top:-8px;
}


/**
 * about page
 */
.arrow_box_wrap {
	position:relative;
}

.blue_arrow_box {
	position:absolute;
	background-color:#013f6a;
	color:#ffffff;
	-webkit-border-top-right-radius:3px !important;
	-webkit-border-bottom-right-radius:3px !important;
	-moz-border-radius-topright:3px !important;
	-moz-border-radius-bottomright:3px !important;
	border-top-right-radius:3px !important;
	border-bottom-right-radius:3px !important;
	padding:20px 30px;
	padding-left:90px;
	font-size:20px;
	width:400px;
	top:70px;
	left:-60px;
}

.blue_arrow_box .pointer {
	width:0;
	height:0;
	border-style:solid;
	border-color:transparent transparent transparent #013f6a;
	position:absolute;
	top:0;
	border-width: 62px 0 62px 42px;
	right:-41px;
}

.blue_arrow_box:hover {
	background-color:#0e4f7a;
}

.blue_arrow_box:hover .pointer {
	border-color:transparent transparent transparent #0e4f7a;
}

.about .video {
	margin-right:34px;
}

.about #content p {
	text-align:justify;
}

.about #content .marquee_image {
	display:block;
	clear:both;
	overflow:hidden;
	margin-bottom:20px;
}

.lt-ie9 .about .blue_arrow_box .pointer {
	border-width: 63px 0 63px 42px !important;
	right:-42px !important;
}

/**
 * contact page
 */
.contact #content #left {
	width:360px;
}

.contact #content #right {
	width:460px;
	margin-right:50px;
	padding-top:20px;
}

.contact #content #right h2 {
	color:#003e69;
	font-size:24px;
	font-weight:bold;
}

.contact #content #right p {
	text-align:justify;
}

.contact #content #right h2 .required {
	color:#666666;
	font-size:12px;
	text-align:right;
	float:right;
	line-height:24px;
	padding-top:4px;
}

.contact #content #right .form-inline .field_group.first {
	width:130px;
	margin-right:6px;
}

.contact #content #right .form-inline .field_group.middle {
	width:100px;
	margin-right:6px;
}

.contact #content #right .form-inline .field_group.last {
	width:90px;
}

.contact #content #right .form_wrapper {
	padding:0 !important;
	width:340px;
}

/**
 * news detail page
 */
.news_detail #content .news_detail_wrap {
	padding:0 30px 50px;
	display:block;
	clear:both;
	overflow:hidden;
}

.news_detail #content h2.news_detail_title {
	color:#003e69;
	font-size:22px;
	font-weight:bold;
	margin-top:10px !important;
}

.news_detail #content h3.news_detail_subtitle {
	color:#333333;
	font-size:20px;
	font-style:italic;
	margin-top:10px !important;
}
 
.news_detail #content .news_detail_content {
	clear:both;
	overflow:hidden;
	display:block;
	float:none;
	margin-top:30px;
}

.news_detail #content .news_detail_photo {
	margin-right:10px;
	padding-top:10px;
	width:300px;
}

.news_detail #content .news_detail_photo img {
	max-width:100%;
}

.news_detail #content .news_detail_body {
	width:500px;
	text-align:justify;
}

/**
 * where to buy page
 */
.where_to_buy #content h2 {
	font-size:18px;
	font-weight:bold;
}

.where_to_buy #content hr {
	margin-top:0 !important;
}

.where_to_buy #content #main {
	min-height:600px;
}

.where_to_buy #content .form_wrap {
	padding-bottom:60px;
}

.where_to_buy #content .form_wrap .btn {
	padding-left:2em;
	padding-right:2em;
}

.where_to_buy #content .form_wrap .pull-left {
	width:520px;
}

.where_to_buy #content .form_wrap .pull-right {
	width:280px;
}

.where_to_buy #content .form_wrap .first {
	width:200px;
	margin-right:10px;
}

.where_to_buy #content .form_wrap .second {
	width:190px;
	margin-right:10px;
}

.where_to_buy #content .form_wrap .or_separator {
	font-weight:bold;
	font-size:16px;
	display:inline-block;
	margin-left:190px;
	color:#666666;
	margin-bottom:16px;
}

.where_to_buy #content .form_wrap .pull-right .first {
	width:170px;
}

.where_to_buy #content .results_section {
	padding-bottom:40px;
}

.where_to_buy #content .results_section h2 {
	color:#003e69;
	font-size:22px;
	font-weight:bold;
	border-bottom:1px solid #cccccc;
	margin-bottom:20px;
	padding-bottom:10px;
}

.where_to_buy #content .results_section .results_grid .item {
	margin-bottom:40px;
}

.where_to_buy #content .results_section .results_grid .item h4 {
	font-size:14px;
	line-height:1.4em;
	font-weight:bold;
	margin-bottom:0 !important;
}

.where_to_buy #content .results_section .results_grid .item a {
	color:#f57e20;
	text-decoration:none;
	font-weight:bold;
}

/**
 * media page
 */
.media_page .headline {
	margin-bottom:10px !important;
}

.media_page .blue_bar {
	margin:5px 0 0 !important;
	padding-left:20px;
}

.media_page .blue_bar.for_access {
	font-weight:bold;
	font-size:13px;
}

.media_page #main #marquee {
	background-color:#f57e20;
	color:#ffffff;
	margin-bottom:6px;
	margin-top:5px;
}

.media_page #main #marquee .marquee_content {
	width:354px;
	padding:30px 0 20px 20px;
	font-size:14px;
}

.media_page #main #marquee .marquee_content .highlight {
	text-transform:uppercase;
	font-weight:bold;
}


.media_page #main #marquee .marquee_image {
	width:540px;
	text-align:right;
}

.media_page #main #marquee ul.link_list {
	list-style:none;
	padding-left:17px;
	margin-top:20px;
	margin-bottom:14px;
}

.media_page #main #marquee ul.link_list li {
	margin-bottom:0 !important;
	list-style-image:url(../images/icon_chevron_right.png);
}

.media_page #main #marquee ul.link_list li.additional {
	margin-bottom:0 !important;
	list-style-image:none;
	text-transform:uppercase;
	font-weight:bold;
	margin-left:-16px;
	margin-bottom:4px !important;
}

.media_page #main #marquee ul.link_list li a {
	text-decoration:none;
	color:#ffffff;
	text-transform:uppercase;
	font-weight:bold;
}

.media_page #main .gray_bar {
	padding:5px 0;
	background-color:#e4e4e4;
	padding:12px;
	font-style:italic;
}

.media_page #main .gray_bar .indicates {
	width:280px;
	line-height:40px;
	margin-left:5px;
}

.media_page #main .gray_bar .adobe {
	width:580px;
}

.media_page #main .gray_bar .adobe img {
	padding-left:10px;
}


/*******/
.media_page #main #brand_assets {
	margin:0;
	padding:20px;
	border:1px solid #9a9a9a;
	display:block;
	position:relative;
	padding-bottom:0 !important;
}

.media_page #main #brand_assets h3 {
	font-weight:bold;
	font-size:14px;
	margin-top:0 !important;
	color:#003c69;
	text-transform:uppercase;
}

.media_page #main #brand_assets ul {
	overflow:hidden;
	display:block;
	clear:both;
	padding-left:160px;
}

.media_page #main #brand_assets ul li {
	display:inline-block;
	float:left;
	overflow:hidden;
	width:50%;
	margin-bottom:30px;
}

.media_page #main #brand_assets ul li .thumb {
	display:table-cell;
	vertical-align:middle;
	padding-right:10px;
}

.media_page #main #brand_assets ul li .content {
	display:table-cell;
	vertical-align:middle;
}


.media_page #main #brand_assets ul li .content .title {
	clear:both;
	text-decoration:none;
	color:#000000;
	font-weight:bold;
}

.media_page #main #brand_assets ul li .content .link {
	clear:both;
	display:block;
}

.media_page #main #brand_assets ul li .content .link .sub_left {
	clear:left;
	float:left;
	margin-right:4px;
	width:72px;
	overflow:hidden;
	display:inline-block;
	color:#003c69;
	font-weight:bold;
}

.media_page #main #brand_assets ul li .content .link .sub_right {
	clear:none;
	float:left;
	overflow:hidden;
	display:inline-block;
}

.media_page #main #accordian h3 {
	margin:0 !important;
}

.media_page #main #accordian h3 a {
	text-decoration:none;
	display:block;
	font-weight:bold;
	font-size:16px;
	line-height:40px;
	color:#003e69 !important;
	padding-left:60px;
	outline:none !important;
	background-image:url(../images/control_accordian_expand.png);
	background-repeat:no-repeat;
	background-position:19px 51%;
	background-color:#e4e4e4;
}

.media_page #main #accordian h3 a:hover {
	text-decoration:none;
	color:#003e69 !important;
}

.media_page #main #accordian .group {
	border:1px solid #9a9a9a;
	margin:16px 0;
}

.media_page #main #accordian .group .box {
	border-top:1px solid #9a9a9a;
}

.media_page #main #accordian .group.open h3 a {
	background-color:#003e69;
	background-image:url(../images/control_accordian_collapse.png);
	background-position:20px 50%;
	color:#ffffff !important;
}

.media_page #main #accordian .group .box ul {
	font-style:none;
	padding-left:100px;
	overflow:hidden;
}

.media_page #main #accordian .group .box ul li {
	float:left;
	width:50%;
	margin:0;
	padding:20px;
	display:inline-block;
}

.media_page #main #accordian .group .box ul li a {
	overflow:hidden;
	display:table-row;
}

.media_page #main #accordian .group .box ul li a .thumb {
	overflow:hidden;
	display:table-cell;
	vertical-align:middle;
	padding-right:16px;
}

.media_page #main #accordian .group .box ul li a .title {
	overflow:hidden;
	display:table-cell;
	vertical-align:middle;
}


/**
 * responsiveness
 */
/* sm devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {

}

/* xs devices (phones) */
@media (max-width: 767px) {
	
}

/* xs devices (phones) */
@media (max-width: 500px) {
	
}