/**
 * Shurtape - product filter (search) pages
 * pages have body class .product.search
 * =====================================
 * NOTE: the CSS for the filter bar is in filter_bar.css because it's shared with the category page
 */

/**
 * product search / filter page
 */
.product.search #content .fixed_wrap.white_box {
	padding-left:0 !important;
}

.product.search ul.filter_tags {
	padding-left:0;
	list-style:none;
	margin-bottom:0 !important;
}

.product.search ul.filter_tags li {
	display:inline-block;
	padding:0 !important;
}

.product.search ul.filter_tags li a {
	background-color:transparent;
	background-image:url(../images/control_remove.png);
	background-repeat:no-repeat;
	background-position:0 50%;
	color:#ffffff !important;
	text-decoration:none !important;
	padding:7px;
	padding-left:16px;
	font-weight:bold;
	margin-right:8px;
}

.product.search #main #top_filter_nav {
	clear:both;
	overflow:hidden;
	padding:10px 0 0 0;
	display:block;
}

.product.search #main #top_filter_nav ul.tab_controls {
	margin: 0;
	background: white;
	position: relative;
	top: 2px;
}

.product.search #main #top_filter_nav ul.tab_controls li {

}

.product.search #main #top_filter_nav ul.tab_controls a.current {
	border-bottom: solid 1px white;
	border-top: solid 1px black;
	border-left: solid 1px black;
	border-right: solid 1px black;
	background: white;
	position: relative;
	display: inline-block;
	z-index: 5;
}


/**
 * normal view navigation bar
 */
.product.search .results_nav {
	
}

.product.search .results_nav h4 {
	float:left;
	width:auto;
	display:inline-block;
	color:#003e69;
	font-size:14px;
	font-weight:bold;
	margin-right:10px;
}

.product.search .results_nav select {
	float:left;
	width:auto;
	display:inline-block;
}

.product.search ul.page_nav {
	list-style:none;
	margin:6px 0;
}

.product.search ul.page_nav li {
	display:inline-block;
}

.product.search ul.page_nav li a {
	display:block;
	text-decoration:none !important;
	padding:4px 8px;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e2e2e2));
	background-image: -webkit-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: -o-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: linear-gradient(to bottom, #ffffff, #e2e2e2);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe2e2e2', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
	border-radius:3px;
	border:1px solid #dddddd;
	font-size:10px;
	font-weight:bold;
}

.product.search ul.page_nav li a.current {
	background-color:#003e69 !important;
	background-image:none !important;
	color:#ffffff !important;
}

.product.search #main #bottom_filter_nav {
	clear:both;
	overflow:hidden;
	padding:10px 0;
	display:block;
}

/**
 * product search - normal view grid
 */
.product.search #main #product_grid {
	background-image:none !important;
	border-bottom:1px solid black;
	border-left: solid 1px black;
	border-right: solid 1px black;
	border-top: solid 1px black;
	padding-bottom:10px;
	position: relative;
	z-index: 3;
}

.product.search #main #product_grid #compare-paginate {
	padding: 10px;
}

.product.search #main #product_grid .row {
	margin:0 !important;
	position:relative;
	
}

.product.search #main #product_grid .row .item {
	text-decoration:none;
	color:#000000 !important;
	overflow:hidden;
	position:relative;
	border-right:1px solid #e6e6e6;
	border-top:1px solid #e6e6e6;
	margin:0 !important;
	width:230px;
	height:230px;
	padding:0 !important;
	z-index:1003;
}

.product.search #main #product_grid .row .item.last {
	border-right:none;
}


/* border mask "shortens" the grid item borders to create the broken-border-edge effect */
.product.search #main #product_grid .row .border_mask {
	background-color:#ffffff;
	position:absolute;
	top:-10px;
	width:20px;
	height:20px;
	z-index:1004;
}

.product.search #main #product_grid .row.first .border_mask {
	top:1px;
	height:9px;
}

.product.search #main #product_grid .row .border_mask.one {
	left:220px;
}

.product.search #main #product_grid .row .border_mask.two {
	left:450px;
}

.product.search #main #product_grid .control_compare {
	padding:10px;
	padding-left:30px;
	background-image:url(../images/control_checkbox.png);
	background-repeat:no-repeat;
	background-position:10px 10px;
	background-color:transparent;
	display:block;
	text-decoration:none;
	text-transform:uppercase;
	position:absolute;
	top:0;
	left:0;
	color:#333333 !important;
	font-size:12px;
}

.product.search #main #product_grid .control_compare.current {
	background-image:url(../images/control_checkbox_on.png);
	color:#333333 !important;
}

.product.search #main #product_grid .control_compare:hover {
	color:#333333 !important;
}

.product.search #main #product_grid .row .item .item_thumb {
	display:block;
	overflow:hidden;
}

.product.search #main #product_grid .row .item .item_thumb img {
	display:block;
	margin-left:56px;
	width:auto;
}

.product.search #main #product_grid .row .item .item_wrap {
	display:block;
	margin-top:10px;
	margin-left:56px;
	position:relative;
	width:140px;
}


.product.search #main #product_grid .row .item .item_title {
	clear:both;
	display:block;
	font-size:16px;
	line-height:16px;
	font-weight:bold;
	color:#003e69 !important;
}

.product.search #main #product_grid .row .item .item_desc {
	clear:both;
	display:block;
	font-size:10px;
	line-height:14px;
	font-weight:bold;
	margin-bottom:10px;
}


.product.search #main #product_grid .row .item .item_category {
	clear:both;
	display:block;
	font-size:10px;
	text-transform:uppercase;
}


/**
 * responsiveness
 */
/* sm devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {

}

/* xs devices (phones) */
@media (max-width: 767px) {
	
}

/* xs devices (phones) */
@media (max-width: 500px) {
	
}