/**
 * slideshow CSS for custom slideshow (non-plugin)
 */
.thumb_slider {
	position:relative;
}

.thumb_slider .slides {
	overflow:hidden;
	display:block;
}

.thumb_slider .slides .slide {
	width:400px;
	height:263px;
}

.thumb_slider .slides .slide img {
	width:400px;
	height:263px;
}

.thumb_slider .controls {
	list-style:none;
	padding-left:0 !important;
	margin-top:30px;
	overflow:hidden;
	display:block;
}

.thumb_slider .controls .control {
	display:inline-block;
	float:left;
	margin-right:10px;
}

.thumb_slider .controls .control a {
	overflow:hidden;
	display:block;
	width:75px;
	height:75px;
	outline:none;
}


.thumb_slider .controls .control a img {
	width:75px;
	height:75px;
}




