/**
 * Shurtape - product filter bar (on the search and category pages)
 */

#filter_bar a {
  text-decoration: none;
}

body.page-search .form-select {
  width: 170px;
}

#filter_bar {
  h2 {
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    margin-top: 10px !important;
    margin-bottom: 8px;
    background-image: url(../images/bg_filter_heading.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
    .count {
      font-size: 14px;
      font-weight: normal !important;
    }
  }
  h3 {
    background-color: #003e69;
    color: #ffffff;
    font-weight: bold;
    padding: 8px;
    margin: 0 10px 12px !important;
    font-size: 14px !important;
    position: relative;
  }
}

body.page-search .pane-views-exp-search-page .pane-title {
  background-color: #003e69;
  color: #ffffff;
  font-weight: bold;
  padding: 8px;
  margin: 0 10px 12px !important;
  font-size: 14px !important;
  position: relative;
}

#filter_bar h3:after, body.page-search .pane-views-exp-search-page .pane-title {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 10px solid transparent;
  border-top-color: #003e69;
  top: 100%;
  left: 10px;
}

.page-search #filter_bar h3 {
  height: 30px;
}

#filter_bar .toggle_box {
  border: 1px solid #bbbbbb;
  margin: 10px;
  ul {
    list-style: none;
  }
  h4 {
    margin: 0 !important;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    vertical-align: top;
    a {
      background-image: url(../images/bg_grid_box.jpg);
      background-repeat: repeat;
      background-position: 0 0;
      background-color: transparent;
      padding: 10px;
      display: block;
      padding-left: 30px;
      font-weight: bold;
      color: #000000;
      position: relative;
    }
  }
}

body.page-search .views-exposed-form label {
  background-image: url(../images/bg_grid_box.jpg);
  background-repeat: repeat;
  background-position: 0 0;
  background-color: transparent;
  padding: 10px;
  display: block;
  padding-left: 30px;
  font-weight: bold;
  color: #000000;
  position: relative;
}

#filter_bar .toggle_box h4 a:hover, body.page-search .views-exposed-form label:hover {
  color: #000000 !important;
}

#filter_bar {
  .toggle_box {
    h4 a .toggle_arrow {
      background-image: url(../images/btn_filter_arrow.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: transparent;
      width: 15px;
      height: 15px;
      display: inline-block;
      position: absolute;
      left: 10px;
      top: 10px;
    }
    &.open h4 a .toggle_arrow {
      background-image: url(../images/btn_filter_arrow_open.png);
    }
    .toggle_target {
      margin: 0 !important;
      border-top: 1px solid #bbbbbb;
      padding: 10px;
      display: none;
    }
    &.open .toggle_target {
      display: block;
    }
  }
  ul {
    &.toggle_target > li {
      padding-left: 3px;
      margin: 0 !important;
      margin-bottom: 6px;
      > a {
        color: #f57e20;
        font-weight: bold;
        font-size: 14px;
        position: relative;
        padding-left: 14px;
        background-image: url(../images/btn_mini_arrow.png);
        background-repeat: no-repeat;
        background-position: 1px 5px;
        background-color: transparent;
        margin-bottom: 3px;
        display: block;
      }
      &.open > a {
        background-image: url(../images/btn_mini_arrow_open.png);
        background-position: 0 7px;
      }
      ul {
        border-top: none !important;
        padding-left: 14px !important;
        > li {
          margin: 0 !important;
          margin-bottom: 3px;
          position: relative;
          a {
            color: #003e69 !important;
            font-size: 12px !important;
            display: inline-block;
            background-image: url(../images/icon_bullet.png);
            background-repeat: no-repeat;
            background-position: 0 5px;
            background-color: transparent;
            padding-left: 14px;
          }
        }
      }
    }
    &.facetapi-facetapi-checkbox-links, &.facetapi-boolean {
      list-style-type: none !important;
    }
    &.facetapi-facetapi-checkbox-links li, &.facetapi-boolean li {
      margin: 0;
      margin-bottom: 6px;
      list-style-type: none !important;
      list-style-image: none !important;
      display: block;
      overflow: hidden;
    }
  }
  .facetapi-facetapi-checkbox-links label, .facetapi-boolean label {
    display: none !important;
  }
  .facetapi-facetapi-checkbox-links a, .facetapi-boolean a {
    display: inline-block;
    float: left;
    width: 140px;
  }
  .facetapi-facetapi-checkbox-links input[type=checkbox], .facetapi-boolean input[type=checkbox] {
    margin: 3px 6px 0 0 !important;
    display: inline-block;
    float: left;
    width: 15px;
    height: 15px;
  }
  .facetapi-facetapi-checkbox-links input[type=checkbox]:before, .facetapi-boolean input[type=checkbox]:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../images/control_checkbox.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #ffffff;
  }
  .facetapi-facetapi-checkbox-links input[type=checkbox]:checked:before, .facetapi-boolean input[type=checkbox]:checked:before {
    background-image: url(../images/control_checkbox_on.png);
  }
  .facetapi-facetapi-checkbox-links .filter_control:hover, .facetapi-boolean .filter_control:hover {
    color: #003e69 !important;
  }
}

/*******************/

.panels-flexible-region-inside {
  padding-right: 0 !important;
}
