/**
 * Shurtape - common site CSS
 */

/**
 * global
 */

body {
  color: #000000;
  font-family: "franklin-gothic-urw",sans-serif;
  letter-spacing: -0.02em;
  &.typekit {
    letter-spacing: 0;
  }
  background-color: #003e69;
  min-width: 1200px;
  overflow-y: scroll;

}

iframe {
  display: block;
  margin: 10px;
}

p {
  margin-bottom: 1.6em;
  font-style: normal;
  font-weight: 400;
}

a {
  color: #003e69;
  text-decoration: none;
  /*
  transition:.3s;
  */
}

b {
  font-weight: bold;
}

a:hover {
  color: #999999;
}

/**
 * typography
 */

.headline {
  color: #f57e20;
  margin: 0;
  margin-top: 20px;
  padding-left: 6px;
  font-size: 24px;
  font-weight: bold;
}

.blue_bar {
  color: #ffffff;
  background-color: #003e69;
  min-height: 32px;
  line-height: 32px;
  overflow: hidden;
  clear: both;
  display: block;
  float: none;
  margin: 10px 0 20px;
  padding: 0 12px;
}

b, strong {
  font-weight: bold !important;
}

i {
  font-style: italic !important;
}

em {
  font-style: normal !important;
}

hr {
  border: none;
  border-top: 1px solid #cccccc !important;
  margin: 20px 0;
}

.small {
  font-size: 12px !important;
}

.blue {
  color: #003e69;
}

.orange {
  color: #f57e20;
}

.white {
  color: #ffffff !important;
}

.regular, .reg {
  font-size: 14px !important;
}

.medium, .med {
  font-size: 16px !important;
}

.large, big {
  font-size: 22px !important;
}

.xlarge {
  font-size: 30px !important;
}

.xxlarge {
  font-size: 36px !important;
}

.xxxlarge {
  font-size: 56px !important;
}

/**
 * common
 */

.fixed_wrap {
  width: 940px;
  margin: 0 auto;
}

.white_box {
  background-color: #ffffff;
  background-image: none;
  padding: 20px;
  border-radius: .4em;
  border: 1px solid #cccccc;
  box-shadow: 0 0 6px #cccccc;
}

.pad {
  margin: 20px 0;
}

.padded_body {
  padding: 0 30px;
}

ul {
  &.link_list {
    padding: 0 20px;
    margin-bottom: 40px;
    li {
      margin-bottom: 10px;
    }
    .link_desc {
      clear: both;
      display: block;
    }
  }
  &.event_list li {
    margin-bottom: 20px;
    overflow: hidden;
    clear: both;
    display: block;
    .event_thumb {
      display: inline-block;
      float: left;
      max-width: 150px;
      margin-right: 30px;
      img {
        max-width: 100%;
      }
    }
    .event_content {
      display: inline-block;
      float: left;
      width: 600px;
      h3 {
        color: #003e69;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 4px;
        margin-top: 16px !important;
      }
    }
  }
  &.unstyled {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      float: none;
      clear: both;
      display: block;
    }
  }
}

/**
 * pagination
 */

.item-list ul.pager {
  list-style: none;
  margin: 6px 0;
  display: inline-block;
  margin-left: 20px;
  li {
    display: inline-block;
    text-decoration: none !important;
    padding: 0;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, white, #e2e2e2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e2e2e2));
    background-image: -webkit-linear-gradient(top, white, #e2e2e2);
    background-image: -o-linear-gradient(top, white, #e2e2e2);
    background-image: linear-gradient(to bottom, white, #e2e2e2);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe2e2e2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border-radius: 3px;
    border: 1px solid #dddddd;
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    a {
      border: none;
      margin: 0;
      padding: 4px 8px;
      background: none;
      text-decoration: none !important;
      &.progress-disabled {
        text-indent: -9999px !important;
        padding: 4px 0 !important;
      }
    }
    .ajax-progress {
      float: left;
      padding-left: 4px;
      padding-right: 2px;
    }
    &.pager-current {
      padding: 4px 8px;
      background-color: #003e69 !important;
      background-image: none !important;
      color: #ffffff !important;
      border-color: transparent;
    }
    &.pager-ellipsis {
      padding: 4px 8px;
    }
    &.pager-first, &.pager-last, &.pager-ellipsis {
      display: none;
    }
  }
}

/* for the ajax wheel inside the pagination */

/**
 * tab controls - on a couple pages
 */

ul {
  &.tab_controls {
    list-style: none;
    padding-left: 0;
    margin: 20px;
    li {
      float: left;
      display: inline-block;
      a.tab_control {
        padding: 10px 40px;
        margin-right: 10px;
        text-decoration: none !important;
        font-size: 16px;
        background-color: #cccccc !important;
        display: block;
        font-weight: bold;
        color: #000000 !important;
        border-top-right-radius: .4em !important;
        border-top-left-radius: .4em !important;
        &.current {
          background-color: #ffffff !important;
          color: #003e69 !important;
        }
      }
    }
  }
  &.tabs {
    list-style: none;
    padding: 0 !important;
    margin: 10px !important;
    > li {
      float: left;
      display: inline-block;
      > a {
        padding: 8px 20px;
        margin-right: 10px;
        text-decoration: none !important;
        font-size: 14px;
        background-color: #cccccc !important;
        display: block;
        font-weight: bold;
        color: #000000 !important;
        margin-bottom: -1px !important;
        border-top-right-radius: .4em !important;
        border-top-left-radius: .4em !important;
        &.active {
          background-color: #ffffff !important;
          color: #003e69 !important;
        }
      }
    }
  }
  &.secondary.tabs {
    border: none;
    margin: 10px 0;
    > li {
      border: none;
      padding: 0;
      > a {
        border-radius: 10px !important;
        padding: 5px 15px;
        &.active {
          border: none;
          background-color: #003e69 !important;
          color: #ccc !important;
        }
      }
    }
  }
}

/**
 * Drupal tabs - some styling for the user login page and edit links above pages when user is logged in
 */

/**
 * forms
 */

input {
  &[type="text"], &[type="password"], &[type="email"], &[type="phone"] {
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
}

textarea, select {
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #eeeeee;
  border-radius: 8px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input {
  &[type="text"], &[type="password"], &[type="email"], &[type="phone"] {
    box-shadow: inset 2px 2px 2px #666666;
  }
}

textarea {
  box-shadow: inset 2px 2px 2px #666666;
}

select {
  border: 1px solid #cccccc;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(to bottom, white, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

input {
  &[type="text"], &[type="password"], &[type="email"], &[type="phone"] {
    display: block;
    height: 34px;
  }
}

select {
  display: inline-block;
  height: 34px;
}

textarea {
  display: block;
  height: auto;
  background-image: none;
  overflow: auto;
  margin: 0;
}

*:focus {
  /* outline:0 !important; */
}

.form_wrapper {
  padding: 0 20px;
}

.form-control {
  color: #333333;
}

.form-inline {
  margin-bottom: 16px;
}

.lt-ie9 {
  input {
    &[type="text"], &[type="password"], &[type="email"], &[type="phone"] {
      border: 2px solid #999999;
      border-right-color: #dddddd;
      border-bottom-color: #dddddd;
    }
  }
  textarea, select {
    border: 2px solid #999999;
    border-right-color: #dddddd;
    border-bottom-color: #dddddd;
  }
}

/* placeholders (inline labels) - these MUST STAY SEPARATE - do not combine */

.placeholder {
  color: #333333 !important;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #333333 !important;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #333333 !important;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #333333 !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #333333 !important;
}

/**
 * errors
 */

.all_errors_container {
  display: block;
  background: #dddddd;
  color: #d51212;
  padding: 20px;
  display: none;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
  clear: both;
  overflow: hidden;
}

.error_container {
  display: none;
}

.error_field {
  .error_container {
    color: #d51212;
    text-align: center;
    margin: 10px 0;
    display: block;
  }
  input {
    &[type="text"], &[type="password"], &[type="email"] {
      border: 3px solid #d51212 !important;
    }
  }
  select, textarea {
    border: 3px solid #d51212 !important;
  }
  .placeholder {
    color: #d51212 !important;
  }
  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #d51212 !important;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #d51212 !important;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #d51212 !important;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #d51212 !important;
  }
}

/* placeholders (inline labels) - these MUST STAY SEPARATE - do not combine */

/**
 * buttons
 */

.btn {
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  border: none;
  font-weight: bold;
  text-decoration: none !important;
  color: #003e69;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(to bottom, white, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border-radius: 2em;
  border: 1px solid #cccccc;
  &:focus, &:active, &.current {
    color: #003e69 !important;
    background-color: #eeeeee;
    border: 1px solid transparent !important;
  }
  &:hover {
    color: #003e69 !important;
  }
  &.btn-wide {
    padding-left: 3em;
    padding-right: 3em;
  }
  &.btn-orange {
    color: #ffffff !important;
    background-color: #ee8925;
    background-image: -moz-linear-gradient(top, #feaa55, #e27203);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#feaa55), to(#e27203));
    background-image: -webkit-linear-gradient(top, #feaa55, #e27203);
    background-image: -o-linear-gradient(top, #feaa55, #e27203);
    background-image: linear-gradient(to bottom, #feaa55, #e27203);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffeaa55', endColorstr='#ffe27203', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border-radius: 2em;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
    border-color: transparent !important;
    &:focus, &:active, &.current {
      color: #ffffff;
      background-color: #e77b11;
      border: none;
    }
    &:active, &.current {
      background-image: none;
    }
  }
  &.btn-squared {
    border-radius: .4em;
    text-shadow: none;
    font-weight: normal;
  }
}

#search_box {
  .element-invisible {
    display: none !important;
  }
  .container-inline {
    position: relative;
    display: table;
    border-collapse: separate;
    margin: 0 !important;
    box-sizing: border-box;
    width: 100%;
  }
  .form-item {
    display: table-cell;
  }
  .form-actions {
    display: table-cell;
    padding: 0 !important;
    vertical-align: middle;
    height: 32px;
    width: 36px;
    background-color: #0e4f7a;
    background-image: -moz-linear-gradient(top, #276f9b, #003e69);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#276f9b), to(#003e69));
    background-image: -webkit-linear-gradient(top, #276f9b, #003e69);
    background-image: -o-linear-gradient(top, #276f9b, #003e69);
    background-image: linear-gradient(to bottom, #276f9b, #003e69);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff276f9b', endColorstr='#ff003e69', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  input[type="text"] {
    height: 34px;
    border: 0px solid #ccc;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.lt-ie9 #search_box input[type="text"] {
  border: 2px solid #999999;
  border-right: none;
  border-bottom-color: #dddddd;
}

#search_box {
  input[type="submit"] {
    color: #ffffff;
    text-indent: -999px;
    width: 100%;
    height: 32px;
    padding-left: 0.6em !important;
    padding-right: 0.6em !important;
    border: none;
    background-image: url(../images/icon_search.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
  }
  .form-actions {
    &:active, &.current {
      background-color: #084873;
      background-image: none;
      border: none;
    }
  }
}

/**
 * tables
 */

table.table {
  clear: both;
  margin: 20px 0;
  font-size: 13px;
  background-color: #ffffff;
  border: 1px solid transparent;
  thead th {
    background-color: #003e69;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: bold;
    border: none !important;
    vertical-align: middle;
  }
  tbody {
    tr td {
      padding: 6px 12px;
      border: 1px solid #ffffff;
    }
    td.region {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
    }
    tr td.gray_cell {
      background-color: #cccccc;
      font-weight: bold;
    }
  }
  tfoot tr td {
    background-color: #003e69;
    color: #ffffff;
  }
}

/**
 * div table (necessary for mobile
 * - since TABLE TR TD markup puts markup out of order for conversion to content blocks
 */

.div_table {
  width: 100%;
  display: block;
  clear: both;
  overflow: hidden;
  .heading_row {
    padding: 0;
    font-weight: bold;
  }
  .div_table_row {
    display: block;
    clear: both;
    float: none;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .div_table_col {
    display: inline-block;
    float: left;
  }
}

/**
 * contact page table
 */

.contact_table {
  font-size: 0.9em;
  .heading_row {
    padding: 0;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .region {
    width: 16%;
    padding: 0 12px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .contact {
    width: 28%;
    padding: 0 12px;
    p {
      margin: 0;
      padding: 0;
    }
  }
  .region p {
    margin: 0;
    padding: 0;
  }
}

/**
 * header
 */

#header {
  margin: 0;
  min-height: 152px;
  background-image: url(../images/bg_header_texture.jpg);
  background-color: #e5e5e5;
  background-repeat: repeat-x;
  background-position: 0 0;
  border-top: 24px solid #003e69;
}

.lt-ie9 #header {
  min-height: 130px !important;
}

#header #logo {
  padding: 26px 0;
  z-index: 302;
  float: left;
  display: inline;
  clear: none;
  position: relative;
  min-height: 76px;
  width: 232px;
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

.lt-ie9 #header #logo {
  float: none;
  min-height: 76px;
  clear: both;
  display: block;
  overflow: hidden;
}

#header {
  #search_box {
    position: absolute;
    right: 0;
    top: 36px;
    width: 290px;
  }
  #top_cta {
    position: absolute;
    right: 336px;
    top: 42px;
    font-size: 17px;
    b {
      font-weight: 700;
      font-style: normal;
    }
  }
  .fixed_wrap {
    position: relative;
  }
}

/**
 * nav
 */

#nav {
  position: absolute;
  color: #003e69;
  right: 0;
  bottom: 0;
  width: 990px;
  background-color: transparent;
  background-position: 0 0;
  background-image: url(../images/bg_nav.png);
  background-repeat: no-repeat;
}

.lt-ie9 #nav {
  top: 85px;
}

#nav {
  .row {
    margin: 0;
  }
  ul.primary_menu {
    margin-left: 300px;
    margin-bottom: 0 !important;
    li {
      padding: 0 !important;
      text-align: center;
      position: relative;
      a {
        display: block;
        color: #134b73;
        padding: 10px 0 !important;
        font-size: 17px;
        float: none;
        clear: both;
        text-align: center;
        text-decoration: none;
      }
      &.link_products_item {
        width: 142px !important;
      }
      &.link_resources_item {
        width: 145px !important;
      }
      &.link_about_item {
        width: 111px !important;
      }
      &.link_contact_item {
        width: 160px !important;
      }
      &.link_where_item {
        color: #ffffff !important;
        width: 132px !important;
        a {
          color: #ffffff !important;
        }
      }
      ul.menu {
        padding-left: 0 !important;
        li {
          margin: 0 !important;
          list-style-type: none;
          list-style-image: none;
          a {
            display: block;
            color: #134b73;
            padding: 10px 0 !important;
            font-size: 16px;
            float: none;
            clear: both;
            text-align: center;
            text-decoration: none;
            &:active, &.current {
              color: #ffffff;
              background-color: #999999;
              background-image: -moz-linear-gradient(top, silver, #7f7f7f);
              background-image: -webkit-gradient(linear, 0 0, 0 100%, from(silver), to(#7f7f7f));
              background-image: -webkit-linear-gradient(top, silver, #7f7f7f);
              background-image: -o-linear-gradient(top, silver, #7f7f7f);
              background-image: linear-gradient(to bottom, silver, #7f7f7f);
              background-repeat: repeat-x;
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc0c0c0', endColorstr='#ff7f7f7f', GradientType=0);
              filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
            }
          }
        }
      }
      > ul.menu {
        margin-bottom: 0 !important;
      }
      &.link_where_item a {
        &:active, &.current, &.active, &:hover {
          background-color: #e77b11 !important;
          background-image: none !important;
          border-top-right-radius: 8px !important;
        }
      }
      ul.menu li ul.menu {
        position: absolute;
        display: block;
        margin-left: 0 !important;
        top: 42px;
        left: 0;
        width: 230px;
        padding-left: 0 !important;
        list-style: none;
        box-shadow: 0px 3px 8px #5e5e5e;
        display: none;
        z-index: 505;
      }
    }
    > li {
      display: block !important;
      float: left !important;
    }
    > li > ul.menu > li > a {
      &.active, &:hover {
        color: #ffffff;
        background-color: #999999;
        background-image: -moz-linear-gradient(top, silver, #7f7f7f);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(silver), to(#7f7f7f));
        background-image: -webkit-linear-gradient(top, silver, #7f7f7f);
        background-image: -o-linear-gradient(top, silver, #7f7f7f);
        background-image: linear-gradient(to bottom, silver, #7f7f7f);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc0c0c0', endColorstr='#ff7f7f7f', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
      }
    }
  }
}

.lt-ie9 #nav ul.primary_menu li ul.menu li ul.menu {
  border: 1px solid #999999;
  border-top: none !important;
  margin-left: -1px !important;
}

#nav ul.primary_menu li ul.menu li ul.menu li {
  a {
    text-align: left;
    background-color: #e0e0e0;
    background-image: url(../images/icon_blue_chevron_right.png);
    background-repeat: no-repeat;
    background-position: 22px 50%;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #969696;
    padding: 7px 0 7px 36px !important;
    font-weight: normal;
    &:hover {
      background-color: #f57f20;
      border-bottom: 1px solid #f57f20;
      border-top: 1px solid transparent;
      background-image: url(../images/icon_chevron_right.png);
      color: #ffffff;
    }
    &:active, &.current {
      background-repeat: no-repeat;
    }
  }
  &.first a {
    border-top: none;
    box-shadow: inset 0 8px 8px -8px #5e5e5e;
  }
}

/**
 * footer
 */

#footer {
  background-color: #003e69;
  color: #ffffff !important;
  padding: 10px 0 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  position: relative;
  img {
    max-width: 100%;
  }
  .col {
    padding: 10px;
    h2 {
      margin-top: 0 !important;
      font-size: 14px;
      text-transform: uppercase;
    }
    h4 {
      margin-top: 0 !important;
      font-size: 14px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: normal;
      font-style: normal !important;
    }
    > ul.menu > li > a {
      margin-top: 0 !important;
      font-size: 14px;
      text-transform: uppercase;
    }
    ul {
      padding-left: 0 !important;
      list-style: none;
    }
  }
  ul.menu li {
    margin: 0;
    padding: 0 !important;
    list-style-image: none !important;
    list-style-type: none !important;
    a {
      margin-bottom: 10px !important;
      display: block !important;
      line-height: 1em !important;
    }
    ul li a {
      margin-bottom: 0 !important;
      line-height: 1.5em !important;
    }
  }
  .col {
    &#footer_first {
      width: 15%;
    }
    &#footer_second {
      width: 22%;
    }
    &#footer_third {
      width: 21%;
    }
    &#footer_fourth {
      width: 19%;
    }
    &#footer_fifth {
      width: 23%;
      padding-right: 0 !important;
      p {
        margin-bottom: 0 !important;
      }
      a {
        &.footer_logo {
          margin: 10px 0 30px;
          background-image: url(../images/logo_footer.png);
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-color: transparent;
          height: 57px;
          width: 178px;
          display: block;
          text-indent: -9999px;
        }
        &.pstc_logo {
          margin: 30px 0 10px;
          background-image: url(../images/PSTC.png);
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-color: transparent;
          height: 57px;
          width: 88px;
          display: block;
          text-indent: -9999px;
        }
      }
    }
  }
}

.share_links.pull-right {
  width: 81%;
}

.view-social-icons-home.view-display-id-block ul li {
  margin: 0;
  padding: 0px 5px;
}

#footer {
  .col#footer_fifth {
    .share_links {
      a {
        width: 22px;
        height: 22px;
        display: block;
        background-color: transparent;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        *text-indent: -9999px;
      }
      h4 {
        text-transform: uppercase;
      }
      a {
        &.facebook {
          background-image: url(../images/icon_facebook.png);
        }
        &.twitter {
          background-image: url(../images/icon_twitter.png);
        }
        &.linkedin {
          background-image: url(../images/icon_linkedin.png);
        }
        &.youtube {
          background-image: url(../images/icon_youtube.png);
        }
      }
    }
    h4 {
      margin-top: 10px !important;
      font-size: 12px;
      padding-left: 5px;
    }
  }
  a {
    color: #ffffff !important;
    &:hover {
      color: #dddddd !important;
      text-decoration: none;
    }
  }
  #meta #links {
    margin-bottom: 4px;
  }
  #copyline {
    margin-top: 30px;
    clear: both;
    overflow: hidden;
  }
  a.scroll_top {
    background-image: url(../images/icon_scroll_top.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 50% 50%;
    display: block;
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-indent: -9999px;
    height: 64px;
    width: 64px;
    z-index: 3001;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity = 80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    &:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity = 100);
      -moz-opacity: 1;
      -khtml-opacity: 1;
      opacity: 1;
    }
  }
  .view-id-social_icons_home.view-display-id-block_1 ul {
    position: relative;
    top: 40px;
    li {
      float: right;
    }
  }
}

/**
 * content
 */

#content {
  min-height: 500px;
  padding: 0;
  padding-bottom: 100px;
  background-image: url(../images/bg_texture.jpg);
  background-color: #e5e5e5;
  background-repeat: repeat;
  background-position: 0 0;
  a {
    color: #003e69;
    text-decoration: underline;
    &:hover, &:active, &.current {
      color: #999999;
      text-decoration: none;
    }
  }
  #main.fixed_wrap.white_box {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top: none;
    padding-bottom: 40px;
  }
}

/**
 * marquee / slideshow
 */

.page-blogs #marquee, .front #marquee, .promotions #marquee {
  width: 1145px;
  margin: 0 auto;
  z-index: 501;
  position: relative;
}

#marquee a {
  overflow: hidden;
}

.page-blogs #marquee a, .front #marquee a {
  display: block;
}

/**
 * subcontent
 */

#subcontent {
  z-index: 502;
  position: relative;
  padding: 10px;
  width: 960px;
  margin: 0 auto;
  margin-top: -80px;
  h2 {
    font-size: 17px;
    padding-left: 20px;
    font-weight: bold;
  }
  hr {
    background-color: transparent;
    background-image: url(../images/bg_hr.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    display: block;
    width: 860px;
    margin: 20px auto;
    height: 1px;
    border: none;
    clear: both;
  }
  .headline {
    background-color: #003e69;
    color: #ffffff;
    padding: 4px 40px;
    font-size: 24px;
    margin-top: 0;
    border-radius: .2em;
  }
}

/**
 * product grid - used on products index + home page touts
 */

.product_grid {
  padding-top: 20px;
  h2 {
    text-transform: uppercase;
  }
  ul {
    list-style: none;
    padding-left: 0 !important;
    margin-right: -10px;
    margin-left: -10px;
    &:before {
      display: table;
      content: " ";
    }
    &:after {
      display: table;
      content: " ";
      clear: both;
    }
    li {
      width: 33.33333333333333%;
      float: left;
      position: relative;
      min-height: 1px;
      padding-right: 10px;
      padding-left: 10px;
      margin-bottom: 20px;
      a.item {
        text-decoration: none;
        color: #000000 !important;
        padding: 0 !important;
        display: block;
        clear: both;
        overflow: hidden;
        max-width: 100%;
        width: 100%;
        position: relative;
        border-right: 1px solid #b4b4b4;
        border-bottom: 1px solid #b4b4b4;
        box-shadow: 1px 1px 4px #b4b4b4;
      }
    }
  }
}

.lt-ie9 .product_grid ul li a.item {
  border-right: 2px solid #c6c6c6;
  border-bottom: 2px solid #c6c6c6;
}

.product_grid {
  ul li a.item {
    img {
      max-width: 100%;
      width: 100%;
    }
    .item_content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
    .item_image, .item_thumb {
      display: block;
      overflow: hidden;
    }
    .item_content .item_title {
      font-size: 17px;
      clear: both;
      display: block;
      line-height: 18px;
      position: relative;
      padding: 6px 6px 10px 30px;
      background-color: #ffffff;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      filter: alpha(opacity = 80);
      -moz-opacity: 0.8;
      -khtml-opacity: 0.8;
      opacity: 0.8;
      min-height: 52px;
    }
  }
  &.browse_type {
    .item {
      height: 204px;
      position: relative;
    }
    .item_thumb {
      background-image: url(../images/bg_type_grid_item.png);
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: 0 0;
      background-size: cover;
      text-align: center;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      img {
        width: 160px;
        height: auto;
        position: absolute;
        left: 50%;
        margin-left: -80px;
        bottom: 64px;
      }
    }
  }
  ul li a.item .cta_arrow {
    background-color: transparent;
    background-image: url(../images/btn_cta_arrow_small.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 502;
  }
}

/**
 * promotions page
 */

.promotions #subcontent {
  margin-top: -56px;
  padding-bottom: 100px;
  #prev_viewed {
    clear: both;
    overflow: hidden;
    position: relative;
    margin: 0 14px;
    h2 {
      color: #003e69;
    }
    .item {
      float: left;
      width: 180px;
      text-decoration: none;
      display: inline-block;
      height: 200px;
      margin: 10px 20px;
      padding: 10px;
      color: #000000 !important;
      overflow: hidden;
      .item_thumb {
        clear: both;
        display: block;
        margin-bottom: 24px;
        margin-top: 10px;
      }
      .item_title {
        clear: both;
        display: block;
        font-size: 16px;
        line-height: 16px;
        font-weight: bold;
      }
      .item_desc {
        clear: both;
        display: block;
        font-size: 10px;
        line-height: 14px;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }
  #promo_body {
    padding: 20px 30px 20px 40px;
    h3 {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 16px;
      margin-top: 0;
      a {
        text-decoration: none !important;
      }
    }
    h4 {
      font-weight: bold;
      font-size: 24px;
      color: #003e69 !important;
      margin-top: 30px;
      margin-bottom: 16px;
    }
    #promo_form {
      position: relative;
    }
  }
  #promo_form {
    .form_wrapper {
      width: 670px;
      padding: 0;
      .row {
        margin-right: 0;
      }
      .form-group {
        padding-right: 0;
      }
    }
    .button_bar {
      margin-top: 16px;
    }
    .btn.btn-wide {
      padding-left: 5em;
      padding-right: 5em;
    }
    .detail_badge {
      position: absolute;
      right: 0;
      top: -8px;
    }
  }
}

/**
 * about page
 */

.arrow_box_wrap {
  position: relative;
}

.blue_arrow_box {
  position: absolute;
  background-color: #013f6a;
  color: #ffffff;
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  padding: 20px 30px;
  padding-left: 90px;
  font-size: 20px;
  width: 400px;
  top: 70px;
  left: -60px;
  font-weight: 500;
  .pointer {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent #013f6a;
    position: absolute;
    top: 0;
    border-width: 62px 0 62px 42px;
    right: -41px;
  }
  &:hover {
    background-color: #013f6a;
    /* change this to have a hover state */
    .pointer {
      border-color: transparent transparent transparent #013f6a;
      /* change this to have a hover state - same color as above */
    }
  }
}

.lt-ie9 .node-type-page .blue_arrow_box .pointer {
  border-width: 63px 0 63px 42px !important;
  right: -42px !important;
}

.node-type-page {
  .video {
    margin-right: 34px;
  }
  #content {
    p {
      text-align: justify;
    }
    .marquee_image {
      display: block;
      clear: both;
      overflow: hidden;
      margin-bottom: 20px;
    }
  }
}

.page-node-1 .blue_bar {
  margin-bottom: 20px !important;
}

/**
 * contact page
 */

.node-type-webform {
  #content {
    #left {
      width: 360px;
    }
    #right {
      width: 460px;
      margin-right: 50px;
      padding-top: 20px;
      h2 {
        color: #003e69;
        font-size: 24px;
        font-weight: bold;
      }
      p {
        text-align: justify;
      }
      h2 .required {
        color: #666666;
        font-size: 12px;
        text-align: right;
        float: right;
        line-height: 24px;
        padding-top: 4px;
      }
      .form-inline .field_group {
        &.first {
          width: 130px;
          margin-right: 6px;
        }
        &.middle {
          width: 100px;
          margin-right: 6px;
        }
        &.last {
          width: 90px;
        }
      }
      .form_wrapper {
        padding: 0 !important;
        width: 340px;
      }
    }
  }
  .placeholder {
    font-size: 16px;
    line-height: 20px;
  }
  ::-webkit-input-placeholder {
    /* WebKit browsers */
    font-size: 16px;
    line-height: 20px;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: 16px;
    line-height: 20px;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: 16px;
    line-height: 20px;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-size: 16px;
    line-height: 20px;
  }
}

/* placeholders (inline labels) - these MUST STAY SEPARATE - do not combine */

/**
 * news / events detail page
 */

.node-type-article #content {
  .news_detail_wrap {
    padding: 0 30px 50px;
    display: block;
    clear: both;
    overflow: hidden;
  }
  h2.news_detail_title {
    color: #003e69;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px !important;
  }
  h3.news_detail_subtitle {
    color: #333333;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    margin-top: 10px !important;
  }
  .news_detail_content {
    clear: both;
    overflow: hidden;
    display: block;
    float: none;
    margin-top: 30px;
  }
  .news_detail_photo {
    margin-right: 10px;
    padding-top: 10px;
    width: 300px;
    img {
      max-width: 100%;
      margin-bottom: 25px;
    }
  }
}

.node-type-event #content .news_detail_photo img {
  max-width: 100%;
  margin-bottom: 25px;
}

.node-type-article #content .news_detail_body, .node-type-event #content .news_detail_body {
  width: 500px;
  text-align: justify;
}

.node-type-article #content .news_detail_wrap h3, .node-type-event #content .news_detail_wrap h3 {
  font-size: 1em;
  font-weight: normal;
}

.node-type-article #content .news_detail_wrap .smaller, .node-type-event #content .news_detail_wrap .smaller {
  font-size: 0.9em;
}

/**
 * careers page iframe styles
 */

.page-node-428 iframe {
  overflow: hidden;
  clear: both;
  display: block;
  margin: 0 auto;
  width: 680px;
  height: 1000px;
}

/**
 * industry links page
 */

.page-resources-industry-links {
  .blue_bar h3 {
    font-size: 14px;
    line-height: 32px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
  }
  .field-content p {
    margin: 0 !important;
  }
}

/**
 * news & events index
 */

.node-type-page {
  h2 {
    font-size: 14px;
    line-height: 32px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #003e69;
    min-height: 32px;
    line-height: 32px;
    overflow: hidden;
    clear: both;
    display: block;
    float: none;
    margin: 10px 0 20px;
    padding: 0 12px;
  }
  .field-content p {
    margin: 0 !important;
  }
  ul.link_list li {
    font-weight: 500;
    .link_desc {
      font-style: italic;
    }
  }
  .more_link_wrap {
    clear: both;
    overflow: hidden;
    a.more_news_link {
      text-decoration: none !important;
      color: #000000 !important;
      font-weight: 700;
      padding-left: 22px;
      background-image: url(../images/btn_filter_arrow.png);
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-color: transparent;
      display: inline-block;
      width: 200px;
      text-align: left;
      height: 40px;
      line-height: 40px;
      margin-top: 10px;
    }
  }
  ul.event_list li {
    margin-bottom: 20px;
    overflow: hidden;
    clear: both;
    display: block;
    a {
      text-decoration: none !important;
      &:hover {
        text-decoration: none !important;
      }
    }
    .views-field {
      display: inline-block;
      float: left;
      width: 600px;
      &.views-field-field-event-image {
        display: inline-block;
        float: left;
        max-width: 150px;
        margin-right: 30px;
        img {
          max-width: 100%;
          width: 150px;
          height: auto;
        }
      }
      &.views-field-title {
        color: #003e69;
        font-size: 22px;
        font-weight: bold;
        margin-top: 16px !important;
      }
      &.views-field-field-booth {
        font-weight: bold;
      }
    }
  }
  h3 {
    color: #003e69;
    font-size: 22px;
    font-weight: bold;
  }
  h4 {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
  }
  .blue_bar, ul, ol {
    margin-bottom: 30px;
  }
  .view-media-contact {
    margin-top: -20px;
    ul {
      list-style-type: none;
    }
  }
  .news_section .news-date {
    font-style: italic;
  }
}

/**
 * static pages
 */

/**
 * where to buy page
 */

.page-about-where-to-buy {
  .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 0 !important;
  }
  #content {
    h2 {
      font-size: 18px;
      font-weight: bold;
    }
    hr {
      margin-top: 0 !important;
    }
    #main {
      min-height: 600px;
    }
    h2 {
      border-bottom: 1px solid #cccccc !important;
      padding-bottom: 10px !important;
      margin-bottom: 10px !important;
    }
    input[type="submit"] {
      position: relative;
      text-decoration: none !important;
      border: 1px solid transparent;
      padding: 5px 2em;
      border-radius: .4em;
      text-shadow: none;
      font-weight: normal;
      color: #ffffff !important;
      background-color: #ee8925;
      background-image: -moz-linear-gradient(top, #feaa55, #e27203);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#feaa55), to(#e27203));
      background-image: -webkit-linear-gradient(top, #feaa55, #e27203);
      background-image: -o-linear-gradient(top, #feaa55, #e27203);
      background-image: linear-gradient(to bottom, #feaa55, #e27203);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffeaa55', endColorstr='#ffe27203', GradientType=0);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
      line-height: 1.5;
    }
    .form_wrap {
      padding-bottom: 60px;
      .btn {
        padding-left: 2em;
        padding-right: 2em;
      }
      .pull-left {
        width: 520px;
      }
      .pull-right {
        width: 280px;
      }
      .first {
        width: 200px;
        margin-right: 10px;
      }
      .second {
        width: 190px;
        margin-right: 10px;
      }
      .or_separator {
        font-weight: bold;
        font-size: 16px;
        display: inline-block;
        margin-left: 190px;
        color: #666666;
        margin-bottom: 16px;
      }
      .pull-right .first {
        width: 170px;
      }
    }
    .results_section {
      padding-bottom: 40px;
      h2 {
        color: #003e69;
        font-size: 22px;
        font-weight: bold;
        border-bottom: 1px solid #cccccc;
        margin-bottom: 20px;
        padding-bottom: 10px;
      }
      .results_grid .item {
        padding-bottom: 20px;
        height: 150px;
        border-right: 1px solid #CCCCCC;
        overflow: hidden;
        .views-field-title-field {
          font-size: 16px;
          line-height: 1.4em;
          font-weight: bold;
          margin-bottom: 0 !important;
        }
        a {
          color: #f57e20;
          text-decoration: none;
          font-weight: bold;
        }
        &.last {
          border-right: 0px;
        }
      }
    }
  }
}

/**
 * locations page (.locations is a div class, not a body class)
 */

.locations {
  .field-name-body {
    padding: 0;
  }
  h2 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #333333;
    font-weight: bold;
    text-transform: none;
  }
  h3 {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  h4 {
    font-size: 12px;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
  .blue_bar {
    padding: 0 8px;
    margin-top: 0 !important;
    margin-bottom: 20px !important;
    h3 {
      line-height: 32px;
      font-size: 11px;
      display: inline-block;
      color: #ffffff !important;
      text-transform: uppercase;
    }
  }
  .mobile_pad p {
    margin: 0;
    padding: 0;
  }
  .map {
    margin-bottom: 30px;
  }
  .offices {
    margin: 0;
    margin-bottom: 40px;
    padding: 0 8px;
    font-size: 12px;
    clear: both;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif !important;
    h4 {
      font-style: normal !important;
      color: #000000 !important;
    }
  }
  .item {
    float: left;
    display: inline;
    clear: none;
  }
}

/**
 * NOTE:
 * - below are the widths typically handled by bootstrap
 * - respond.min.js and the html5 shim ARE working, but for some reason IE8 is recognizing the screen width to be XS, so this is a quicker fix
 */

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
  display: inline;
  clear: none;
}

.col-md-3 {
  width: 25%;
}

.col-md-6 {
  width: 50%;
}

.col-md-9 {
  width: 75%;
}

/**
 * media page (.media_page is a div class - not a body class)
 */

.page-node-855 .blue_bar {
  margin-bottom: 6px !important;
}

.media_page {
  .headline {
    margin-bottom: 10px !important;
  }
  clear: both;
  overflow: hidden;
  display: block;
  .blue_bar {
    margin: 5px 0 0 !important;
    padding-left: 20px;
    &.subhead {
      margin-top: 16px !important;
    }
    h3 {
      font-size: 14px !important;
      color: #ffffff;
      line-height: 32px;
      margin: 0 !important;
      font-weight: 400 !important;
    }
    &.for_access {
      font-weight: bold;
      font-size: 13px;
      a {
        color: #ffffff !important;
        text-decoration: none !important;
      }
    }
  }
  #marquee {
    background-color: #f57e20;
    color: #ffffff;
    margin-bottom: 6px;
    margin-top: -15px;
    .marquee_content {
      width: 354px;
      padding: 30px 0 10px 20px;
      font-size: 14px;
      .highlight {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    .marquee_image {
      width: 540px;
      text-align: right;
      clear: none !important;
      margin-bottom: 0 !important;
    }
    ul.link_list {
      list-style: none;
      padding-left: 17px;
      margin-top: 20px;
      margin-bottom: 14px;
      li {
        margin-bottom: 0 !important;
        list-style-image: url(../images/icon_chevron_right.png);
        &.additional {
          margin-bottom: 0 !important;
          list-style-image: none;
          text-transform: uppercase;
          font-weight: bold;
          margin-left: -16px;
          margin-bottom: 4px !important;
        }
        a {
          text-decoration: none;
          color: #ffffff;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
  }
  .gray_bar {
    padding: 5px 0;
    background-color: #e4e4e4;
    padding: 12px;
    font-style: italic;
    .indicates {
      width: 280px;
      line-height: 40px;
      margin-left: 5px;
    }
    .adobe {
      width: 580px;
      img {
        padding-left: 10px;
      }
    }
  }
  #brand_assets {
    margin: 0;
    padding: 20px;
    border: 1px solid #9a9a9a;
    display: block;
    position: relative;
    padding-bottom: 0 !important;
    h3 {
      font-weight: bold;
      font-size: 14px;
      margin-top: 0 !important;
      color: #003c69;
      text-transform: uppercase;
    }
    ul {
      overflow: hidden;
      display: block;
      clear: both;
      padding-left: 160px;
      li {
        display: inline-block;
        float: left;
        overflow: hidden;
        width: 50%;
        margin-bottom: 30px;
        height: 98px;
        .thumb {
          display: table-cell;
          vertical-align: middle;
          padding-right: 10px;
        }
        .content {
          display: table-cell;
          vertical-align: middle;
          .title {
            clear: both;
            text-decoration: none;
            color: #000000;
            font-weight: bold;
          }
          .link {
            clear: both;
            display: block;
            .sub_left {
              clear: left;
              float: left;
              margin-right: 4px;
              width: 72px;
              overflow: hidden;
              display: inline-block;
              color: #003c69;
              font-weight: bold;
            }
            .sub_right {
              clear: none;
              float: left;
              overflow: hidden;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

/*******/

.view-media-library {
  #accordian {
    min-height: 800px;
    h3 {
      margin: 0 !important;
      a {
        text-decoration: none;
        display: block;
        font-weight: bold;
        font-size: 16px;
        line-height: 40px;
        color: #003e69 !important;
        padding-left: 60px;
        /* outline:none !important; */
        background-image: url(../images/control_accordian_expand.png);
        background-repeat: no-repeat;
        background-position: 19px 50%;
        background-color: #e4e4e4;
        &:hover {
          text-decoration: none;
          color: #003e69 !important;
        }
      }
    }
    .group {
      border: 1px solid #9a9a9a;
      margin: 16px 0;
      .box {
        border-top: 1px solid #9a9a9a;
      }
      &.open h3 a {
        background-color: #003e69;
        background-image: url(../images/control_accordian_collapse2.png);
        background-position: 20px 49%;
        color: #ffffff !important;
      }
      .box ul {
        font-style: normal;
        padding-left: 100px;
        overflow: hidden;
        li {
          float: left;
          width: 50%;
          margin: 0;
          padding: 20px;
          display: inline-block;
          .field-content {
            display: table;
            width: 100%;
            clear: both;
            .thumb {
              width: 20%;
              overflow: hidden;
              display: table-cell;
              vertical-align: middle;
              padding-right: 16px;
              height: 72px;
            }
            .title {
              width: 80%;
              overflow: hidden;
              display: table-cell;
              vertical-align: middle;
              a {
                color: #003e69 !important;
              }
            }
          }
          .library-link-separator {
            margin: 0 2px;
          }
        }
      }
    }
  }
  .media-video-title {
    float: right;
  }
  .video-field-content {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-right: 10px;
    width: auto;
    height: 180px;
    overflow: hidden;
    position: relative;
    a {
      &.video_thumb {
        display: block;
        padding: 0;
        overflow: hidden;
        text-decoration: none;
        position: relative;
      }
      .play_overlay {
        position: absolute;
        background-image: url(../images/control_play_button.png);
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: 50% 50%;
        width: 160px;
        display: block;
        height: 120px;
        top: 0;
        left: 0;
        z-index: 501;
      }
      .vid_title {
        display: block;
        clear: both;
        color: #003e69 !important;
        font-weight: bold;
        margin-top: 4px;
      }
    }
  }
}

/**
 * green point products page
 */

.view-greenpoint-products {
  margin: 30px 70px;
  ul {
    overflow: hidden;
    display: block;
    clear: both;
    margin: 0 -10px;
    li {
      display: inline-block;
      float: left;
      overflow: hidden;
      width: 50%;
      margin: 0;
      padding: 10px;
      height: 110px;
      margin-bottom: 10px;
      cursor: pointer;
      .field-content {
        overflow: hidden;
      }
      .views-field-title {
        display: inline-block;
        float: right;
        width: 64%;
        margin-left: 1%;
        a {
          color: #000000;
          font-weight: bold;
          text-decoration: none !important;
        }
      }
      .views-field-field-product-short-description {
        display: inline-block;
        float: right;
        width: 64%;
        margin-left: 1%;
        p {
          text-align: left !important;
        }
      }
      .views-field-field-product-image {
        display: inline-block;
        float: left;
        width: 32%;
        margin-right: 1%;
        img {
          max-width: 100%;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

/**
 * product index (list of products with PDF)
 */

#block-views-product-index-block {
  table {
    td p {
      margin: 0;
    }
    tr .view-product-assets {
      height: 40px;
      a {
        margin-left: 30px;
      }
    }
    th {
      text-align: left;
      vertical-align: middle;
      padding: 8px 12px;
      a {
        text-decoration: none !important;
        img {
          margin-top: -2px;
          margin-left: 3px;
        }
      }
      &.views-field-title {
        width: 18%;
      }
      &.views-field-field-file-asset {
        width: 12%;
        text-align: center;
      }
    }
    td {
      text-align: left;
      vertical-align: middle;
      padding: 6px 12px;
      &.views-field-title a {
        text-decoration: none !important;
        font-weight: bold;
      }
      &.views-field-field-file-asset {
        text-align: center;
      }
    }
  }
  margin: 20px;
  .product_index_heading {
    display: table;
    width: 100%;
    border-bottom: 2px solid #cccccc;
    .col {
      display: table-cell;
      padding: 8px 12px;
      margin: 0;
      vertical-align: middle;
      font-weight: bold;
      &.product_name {
        width: 18%;
      }
    }
  }
  .views-row .views-field.views-field-title {
    width: 18%;
  }
  .product_index_heading .col.product_description, .views-row .views-field.views-field-field-product-short-description {
    width: 70%;
  }
  .product_index_heading .col.tech_sheet {
    width: 12%;
  }
  .views-row {
    .views-field {
      &.views-field-nid {
        width: 12%;
        .views-row {
          border-bottom: none !important;
          text-align: right;
        }
      }
      display: table-cell;
      padding: 6px 12px;
      margin: 0;
      vertical-align: middle;
      &.views-field-title a {
        text-decoration: none;
        font-weight: bold;
      }
    }
    display: table;
    width: 100%;
    overflow: hidden;
    background-color: #eee;
    border-bottom: 1px solid #cccccc;
    min-height: 40px;
    .views-label {
      display: none;
    }
  }
}

/*********************/

/**
 * fixes for modal scrollbar problem in Mac
 */

.modal-open {
  overflow: auto !important;
  margin-right: 0 !important;
  .navbar-fixed-top, .navbar-fixed-bottom {
    margin-right: 0 !important;
  }
}

.modal {
  overflow-y: auto !important;
}

/**
 * video modal
 */

#video_modal {
  .modal-dialog {
    width: 660px !important;
    padding-top: 40px !important;
  }
  .modal-content {
    background-color: #000000;
    width: 640px;
    height: 420px;
    border: 2px solid #333333;
    .modal-header {
      border: none;
      position: relative;
      z-index: 506;
      min-height: 0 !important;
      height: 14px;
      padding: 0 !important;
      .close {
        position: absolute;
        right: -38px;
        top: -32px;
        background-color: transparent;
        background-image: url(../images/control_modal_close.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        display: block;
        overflow: hidden;
        width: 80px;
        height: 80px;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
        filter: alpha(opacity = 100) !important;
        -moz-opacity: 1 !important;
        -khtml-opacity: 1 !important;
        opacity: 1 !important;
      }
    }
    .modal-body {
      padding: 10px !important;
      position: relative;
      clear: both;
      overflow: hidden;
      margin: 0 auto;
      text-align: center;
      width: 640px;
      height: 370px;
    }
  }
}

/**
 * user pages (login / forgot password, etc.)
 */

.page-user {
  h1.headline {
    border-bottom: 32px solid #003e69;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  .content {
    padding: 0 30px 20px;
    .form-item {
      width: 50%;
    }
  }
  .password-strength {
    float: none;
    margin-bottom: 15px;
  }
  input[type="submit"] {
    position: relative;
    text-decoration: none !important;
    border: 1px solid transparent;
    padding: 5px 2em;
    border-radius: .4em;
    text-shadow: none;
    font-weight: normal;
    color: #ffffff !important;
    background-color: #ee8925;
    background-image: -moz-linear-gradient(top, #feaa55, #e27203);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#feaa55), to(#e27203));
    background-image: -webkit-linear-gradient(top, #feaa55, #e27203);
    background-image: -o-linear-gradient(top, #feaa55, #e27203);
    background-image: linear-gradient(to bottom, #feaa55, #e27203);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffeaa55', endColorstr='#ffe27203', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
    line-height: 1.5;
  }
}

/**
 * media library videos
 */

.node-type-media-library-video {
  #content #main.fixed_wrap.white_box {
    padding-bottom: 5em;
  }
  .content_wrapper {
    #media_box {
      width: 65%;
      float: left;
      display: block;
      overflow: hidden;
      padding: 0 0 0 2em;
      iframe {
        width: 100%;
      }
    }
    #details_box {
      width: 35%;
      float: right;
      display: block;
      overflow: hidden;
      padding: 0;
      .social-share-container {
        font-weight: bold;
        margin-bottom: 15px;
      }
      .asset-title {
        margin-top: 0px;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 25px;
      }
    }
  }
}

/**
 * media library infographic
 */

.node-type-media-asset-infographic {
  #content #main.fixed_wrap.white_box {
    padding-bottom: 5em;
  }
  .content_wrapper {
    #media_box {
      width: 65%;
      float: left;
      display: block;
      overflow: hidden;
      padding: 0 0 0 2em;
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
    #details_box {
      width: 35%;
      float: right;
      display: block;
      overflow: hidden;
      padding: 0;
      .social-share-container {
        font-weight: bold;
        margin-bottom: 15px;
      }
      .asset-title {
        margin-bottom: 0px;
        margin-top: 0px;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
  .download_link {
    margin-bottom: 15px;
    a {
      font-weight: bold;
      font-size: 14px;
    }
  }
  .asset-embed p {
    color: grey;
    border: 1px;
    border-style: solid;
    word-wrap: break-word;
    padding: 10px;
  }
}

/**
 * media library asset
 */

.node-type-media-library-asset {
  #content #main.fixed_wrap.white_box {
    padding-bottom: 5em;
  }
  .content_wrapper {
    #media_box {
      width: 17%;
      float: left;
      display: block;
      overflow: hidden;
      padding: 0 0 0 2em;
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
    #details_box {
      width: 83%;
      float: right;
      display: block;
      overflow: hidden;
      padding: 0 2em;
      .social-share-container {
        font-weight: bold;
        margin-bottom: 0;
      }
    }
  }
  .asset-title {
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 18px;
    width: 515px;
    float: left;
  }
  .download_link {
    margin-bottom: 15px;
    a {
      font-weight: bold;
      font-size: 14px;
    }
  }
  .padded_body a img {
    max-width: 120px;
  }
}

.view-distributors table {
  width: 100%;
}

#content .view-distributors table thead a {
  color: #fff;
  text-decoration: none;
}

.view-distributors .views-exposed-widget .form-submit {
  margin-top: 25px;
}

.node-type-media-library-asset .asset-embed p {
  color: grey;
  border: 1px;
  border-style: solid;
  width: 400px;
  padding: 10px;
  word-wrap: break-word;
}

.link_where_item .ajax-progress {
  display: none;
}

/**
 * PRINTMAIL
 */

.page-printmail div.form-item {
  input, textarea {
    width: 400px;
  }
}

/**
 * responsiveness
 */
/* sm devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {}

/* xs devices (phones) */
@media (max-width: 767px) {}

/* xs devices (phones) */
@media (max-width: 500px) {}
