/**
 * Shurtape - mobile CSS (responsiveness)
 */

.mobile {
  display: none;
}

.desktop {
  display: block;
}

@media (max-width: 640px) {
  /* global + common */
  body {
    min-width: 240px !important;
  }
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  input {
    &[type="text"], &[type="password"], &[type="email"], &[type="phone"] {
      height: 36px;
    }
    &[type="text"], &[type="password"], &[type="email"], &[type="phone"] {
      padding: 8px 14px;
      border: 1px solid #ccc;
      background-color: #eaeaeb;
      box-shadow: inset 1px 1px 2px #999;
    }
  }
  textarea {
    padding: 8px 14px;
    border: 1px solid #ccc;
    background-color: #eaeaeb;
    box-shadow: inset 1px 1px 2px #999;
  }
  .fixed_wrap {
    width: 100%;
  }
  .white_box {
    padding: 0;
  }
  .padded_body {
    padding: 0 20px 20px;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .page-user .content {
    .form-item {
      width: 100%;
    }
    padding: 0 20px 20px;
  }
  .mobile_link_icon {
    position: absolute;
    top: 28%;
    left: 32%;
    z-index: 999;
    display: block;
    width: 8%;
  }
  .blog-right-sidebar {
    display: none;
  }
  .page-blogs {
    .blog-region-center {
      width: 100%;
    }
    #subcontent .pane-shurtape-blogs .view-content {
      padding-right: 0;
    }
  }
  /* mobile breadcrumbs */
  .mobile_breadcrumbs {
    margin-top: 20px;
    padding: 0 16px;
    color: #000;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif !important;
    a {
      color: #000 !important;
    }
    .breadcrumbs a {
      color: #000 !important;
      text-decoration: underline !important;
    }
    nav.breadcrumbs {
      display: inline;
    }
    .you_are_here {
      font-family: Arial, Helvetica, sans-serif !important;
    }
  }
  .headline {
    margin-top: 1.4em;
    margin-bottom: 10px;
    padding-left: 16px;
    font-size: 2em;
  }
  /* buttons */
  .btn {
    display: block;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    border-radius: 0.4em !important;
    background-image: -moz-linear-gradient(top, #f1f3f3, #dfe1e1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f3f3), to(#dfe1e1));
    background-image: -webkit-linear-gradient(top, #f1f3f3, #dfe1e1);
    background-image: -o-linear-gradient(top, #f1f3f3, #dfe1e1);
    background-image: linear-gradient(to bottom, #f1f3f3, #dfe1e1);
    color: #003e69;
    font-size: 1.8em !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff1f3f3', endColorstr='#ffdfe1e1', GradientType=0);
    &.btn-orange {
      background-image: -moz-linear-gradient(top, #f7882c, #f07b19);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7882c), to(#f07b19));
      background-image: -webkit-linear-gradient(top, #f7882c, #f07b19);
      background-image: -o-linear-gradient(top, #f7882c, #f07b19);
      background-image: linear-gradient(to bottom, #f7882c, #f07b19);
      color: #582c01 !important;
      text-shadow: none;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7882c', endColorstr='#fff07b19', GradientType=0);
    }
  }
  .node-type-webform #content #edit-actions .form-submit {
    display: block;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    width: 100%;
    border-radius: 0.4em !important;
    background-image: -moz-linear-gradient(top, #f7882c, #f07b19);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7882c), to(#f07b19));
    background-image: -webkit-linear-gradient(top, #f7882c, #f07b19);
    background-image: -o-linear-gradient(top, #f7882c, #f07b19);
    background-image: linear-gradient(to bottom, #f7882c, #f07b19);
    color: #582c01 !important;
    text-shadow: none;
    font-size: 1.4em !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7882c', endColorstr='#fff07b19', GradientType=0);
  }
  /* div tables */
  .div_table {
    .heading_row {
      display: none;
    }
    .div_table_row {
      margin-bottom: 0;
    }
    .div_table_col {
      display: block;
      float: none;
      clear: both;
      width: 100% !important;
    }
  }
  /* header */
  #mobile_header {
    position: relative;
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
    width: 100%;
    .control_bar {
      position: relative;
      display: block;
      clear: both;
      overflow: hidden;
      width: 100%;
      background-color: #003e69;
      .menu_control {
        float: left;
        padding: 1em 1em 1em 3.5em;
        width: 30%;
      }
      .tab_control {
        position: absolute;
        right: 0;
        bottom: 0;
        float: right;
        width: 39%;
      }
    }
  }
  /* mobile logo bar */
  .mobile.logo_bar {
    clear: both;
    overflow: hidden;
    padding: 0;
    background-color: #d6d6d6;
    background-image: none;
    #logo {
      display: inline-block;
      float: left;
      margin: 0;
      padding: 2em 0 2em 2em;
      width: 61%;
    }
    #logo_cta {
      display: inline-block;
      float: right;
      margin: 0;
      padding: 1.8em 0.6em 1.8em 0;
      width: 39%;
    }
  }
  /* mobile nav */
  #mobile_nav {
    z-index: 2003;
    display: none;
    margin-left: -61%;
    width: 61%;
    h2 {
      margin: 0;
      padding: 0;
      background-color: #f57e20;
      color: #fff;
      font-size: 1em;
      a {
        display: block;
        margin: 0;
        padding: 0.6em 1em;
        border-top: 2px solid #f7984d;
        border-bottom: 2px solid #d76c24;
        background-color: #f57e20;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2em;
      }
    }
    .search_box {
      overflow: hidden;
      padding: 0.6em;
      background-color: #bc9268;
      .input_wrap {
        position: relative;
        display: block;
        padding-right: 54px;
        height: 46px;
        background-image: url(../images/control_mobile_nav_search.png);
        background-position: 99% 50%;
        background-repeat: no-repeat;
        input[type="text"] {
          display: block;
          height: 46px;
          border: none !important;
          border-radius: 0 !important;
          box-shadow: none;
        }
      }
      .submit_this_form {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 62px;
        height: 62px;
      }
    }
    .mobile_toggle_box {
      .mobile_toggle_control {
        background-color: transparent;
        background-image: url(../images/control_mobile_expand_orange.png);
        background-position: 96% 50%;
        background-repeat: no-repeat;
      }
      &.open .mobile_toggle_control {
        background-image: url(../images/control_mobile_collapse_orange.png);
      }
    }
    .mobile_toggle_target {
      display: none;
    }
    .mobile_toggle_box.open .mobile_toggle_target {
      display: block;
    }
    ul.sub_menu {
      margin: 0;
      padding: 0;
      background-color: #9b9b9b;
      list-style-type: none;
      li {
        position: relative;
        margin: 0;
        padding: 0;
        list-style-type: none;
        .blue_corner {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          width: 25px;
          height: 20px;
          background-color: transparent;
          background-image: url(../images/graphic_mobile_nav_corner.png);
          background-position: 0 0;
          background-repeat: no-repeat;
        }
        a {
          display: block;
          clear: both;
          overflow: hidden;
          padding: 0.3em 1.6em;
          border-bottom: 1px solid #c1c1c1;
          background-color: #e4e6e7;
          color: #003e69;
          font-weight: bold;
          font-size: 1.8em;
          &:hover {
            color: #003e69 !important;
            text-decoration: none !important;
          }
        }
        > ul.menu {
          margin: 0;
          padding: 0;
          > li {
            &.expanded {
              > a {
                background-image: url(../images/control_mobile_nav_expand.png);
                background-position: 96% 50%;
                background-repeat: no-repeat;
              }
              &.open > a {
                background-image: url(../images/control_mobile_nav_collapse.png);
              }
            }
            > ul.menu {
              display: none;
              padding-left: 1em;
            }
            &.open > ul.menu {
              display: block;
            }
            > ul.menu {
              a {
                font-size: 1.5em;
              }
              > li > a {
                background-image: none;
              }
            }
          }
        }
      }
    }
    .item-list ul {
      margin: 0;
    }
    #mobile_products_menu {
      .item-list ul li > .item-list ul.open {
        padding-left: 1em;
      }
      ul.sub_menu li > ul.menu > li.expanded.open > a, .mobile_filter_box li > ul.menu > a {
        padding: 0.6em 0.6em 0.6em 2.5em;
        background-position: 0.8em 50%;
        background-repeat: no-repeat;
      }
      ul.sub_menu li > ul.menu > li.expanded > a {
        padding: 0.6em 0.6em 0.6em 2.5em;
        background-position: 0.8em 50%;
        background-image: url(../images/btn_mobile_nav_sub.png);
      }
      .mobile_filter_box li > ul.menu > a.closed {
        background-image: url(../images/btn_mobile_nav_sub.png);
      }
      ul.sub_menu li > ul.menu > li.expanded.open > a, .mobile_filter_box li > ul.menu > a {
        background-image: url(../images/btn_mobile_nav_sub_open.png);
      }
      ul.sub_menu {
        h3.blue_bar {
          margin: 0;
          padding: 0.8em 1.5em;
          min-height: 1em;
          color: #fff !important;
          font-weight: bold;
          font-size: 1.6em;
          line-height: 1em;
        }
        ul.toggle_target li a {
          padding: 0.6em 0.6em 0.6em 1.8em;
          border-top: 1px solid #fff;
          border-bottom: 1px solid #c1c1c1;
          background-color: #f5f6f7;
          background-position: 0.8em 1em;
          background-repeat: no-repeat;
        }
      }
    }
    ul.sub_menu li > ul.menu > li.expanded.open > ul.menu > .item-list > ul.toggle_target > li {
      > a {
        background-image: url(../images/btn_mobile_orange_arrow.png);
        color: #f57e20 !important;
      }
      &.open > a {
        background-image: url(../images/btn_mobile_orange_arrow_open.png);
      }
      > .item-list > ul > li {
        > a {
          background-image: url(../images/btn_mobile_blue_arrow.png);
          font-weight: normal;
        }
        &.open > a {
          background-color: #d6d6d6 !important;
          background-image: url(../images/btn_mobile_blue_arrow_open.png);
        }
        > .item-list > ul > li > a {
          padding-left: 1.2em;
          font-weight: normal;
        }
      }
    }
    #mobile_products_menu .mobile_filter_box li > ul.menu > .toggle_target .item-list {
      padding-left: 1em;
      ul {
        background-color: #f5f6f7;
        list-style-type: none;
        li {
          position: relative;
          padding: 0.4em;
          padding-left: 2em;
          min-height: 2.4em;
          border-top: 1px solid #fff;
          border-bottom: 1px solid #c1c1c1;
          list-style-image: none;
          font-weight: normal;
          font-size: 1.6em;
          a {
            padding: 0;
            border-top: none;
            border-bottom: none;
            background-color: #f5f6f7;
            font-size: 1em;
          }
          input[type="checkbox"] {
            position: absolute;
            top: 0.4em;
            left: 0.4em;
            width: 1em;
            height: 1em;
          }
        }
      }
    }
    #mobile_nav_footer {
      display: block;
      padding: 2em;
      background-color: #003e69;
      a {
        display: block;
        clear: both;
        overflow: hidden;
        &#cta_mobile_nav {
          margin-top: 1em;
          padding: 1em;
          img {
            display: block;
            margin: 0 auto;
            width: 70%;
          }
        }
      }
    }
  }
  /* shifted elements (on mobile nav reveal) */
  .mobile_nav_open {
    .shift_box {
      position: fixed;
      left: 61%;
      width: 100%;
    }
    #mobile_header {
      position: fixed;
      z-index: 2005;
    }
    #mobile_nav {
      position: absolute;
      display: block;
      margin-left: 0;
    }
    .nav_overlay {
      position: fixed;
      z-index: 2002;
      display: block;
      min-height: 9999px;
      width: 100%;
      height: 100%;
      background-color: #333;
      opacity: 0.8;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      filter: alpha(opacity = 80);
      -moz-opacity: 0.8;
      -khtml-opacity: 0.8;
    }
  }
  /* arrow nav for videos and recently viewed */
  .arrow_control {
    position: absolute;
    top: 0;
    z-index: 203;
    width: 10%;
    height: 100%;
    background-color: transparent;
    background-position: 50% 50%;
    background-size: 90%;
    background-repeat: no-repeat;
    &.prev {
      left: 0;
      background-image: url(../images/btn_subnav_mobile_arrow_left.png);
    }
    &.next {
      right: 0;
      background-image: url(../images/btn_subnav_mobile_arrow_right.png);
    }
  }
  /* content */
  #content {
    padding-bottom: 0;
    min-height: 1px;
    .white_box {
      border: none !important;
      border-radius: 0 !important;
      box-shadow: none;
    }
    #main.fixed_wrap.white_box {
      padding-bottom: 0;
    }
  }
  /* footer */
  #mobile_footer {
    padding: 1em 10px 4em;
    .logo_bar {
      clear: both;
      overflow: hidden;
      padding: 0;
      background-color: transparent;
      background-image: none;
      #logo {
        display: inline-block;
        float: left;
        margin: 0;
        padding: 1em 0 1.6em 1em;
        width: 58%;
      }
      #logo_cta {
        display: inline-block;
        float: right;
        margin: 0;
        padding: 1em 1em 1.6em 0;
        width: 42%;
      }
    }
    ul.footer_links {
      margin-bottom: 1.6em;
      li {
        margin-bottom: 1em;
      }
      .btn {
        font-size: 2em;
      }
    }
    h4 {
      margin-bottom: 1em;
      color: #fff;
      text-decoration: none;
      font-style: normal;
    }
    ul.mobile_social {
      display: block;
      clear: both;
      overflow: hidden;
      margin-right: -5px;
      margin-bottom: 1.6em;
      margin-left: -5px;
      li {
        display: inline-block;
        float: left;
        clear: none;
        margin: 0 1%;
        width: 23%;
      }
    }
    .view-social-icons-home ul li {
      display: inline-block;
      float: left;
      clear: none;
      margin: 1% 1%;
      padding: 2.5% 8%;
      width: 23%;
      background: transparent url(../images/btn_mobile_footer_social.png) no-repeat;
      background-size: 100% auto;
      text-align: center;
      img {
        width: 100%;
        height: auto;
      }
    }
    .back_to_top {
      margin: 0 auto;
      text-align: center;
      a {
        display: block;
        overflow: hidden;
        margin: 0 auto;
        padding: 1.8em 0;
        width: 36%;
        text-align: center;
      }
    }
    h4 {
      text-transform: none;
      font-size: 1.4em;
    }
  }
  /**
	 * video modal
	 */
  #video_modal {
    .modal-dialog {
      padding: 1em !important;
      width: 100% !important;
    }
    .modal-content {
      width: 100%;
      height: auto;
      .modal-header {
        height: 1em;
        .close {
          top: -1.4em;
          right: -1.4em;
        }
      }
      .modal-body {
        width: 100%;
        height: auto;
      }
    }
  }
  /**
	 * page-specific styles
	 */
  /**
	 * homepage
	 */
  /* slideshow */
  .front #marquee, .page-blogs #marquee, .promotions #marquee {
    display: block;
    overflow: hidden;
    background-color: #fff;
  }
  .front .mobile_breadcrumbs {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #fff;
  }
  .slideshow {
    img, .slides {
      width: 100%;
      height: auto;
    }
    .controls {
      top: auto;
      right: 20px;
      bottom: 40px;
      left: auto;
    }
  }
  .front #marquee, .page-blogs #marquee, .promotions #marquee {
    min-height: 1px;
    width: 100%;
    height: auto;
  }
  .page-blogs #subcontent {
    margin-top: 0;
    padding-top: 0;
    width: 100%;
  }
  .front {
    #subcontent {
      margin-top: 0;
      padding: 0;
      width: 100%;
      #cta_nav {
        padding: 1em 16px;
        .intro {
          display: none;
        }
        .primary {
          display: block;
          float: none !important;
          clear: both;
          overflow: hidden;
          padding: 1em 0;
          width: 100% !important;
        }
        .separator {
          margin: 0;
          margin-bottom: 1em;
          padding: 1em 0;
          width: 100%;
          height: auto;
          background-image: url(../images/bg_cta_separator_mobile.png);
          text-transform: uppercase;
          line-height: 1em;
        }
        .secondary {
          display: block;
          clear: both;
          overflow: hidden;
          padding: 0;
          width: 100%;
          .btn {
            margin-bottom: 1em;
            padding: 1em 0;
            width: 100%;
          }
        }
      }
      hr {
        display: none;
      }
    }
    .product_grid {
      padding: 0;
      h2 {
        margin: 0;
        padding: 0.8em 2em !important;
        background-color: #c5c5c5;
        text-align: center;
        font-size: 1.2em !important;
        line-height: 1.6em;
      }
      ul {
        margin-bottom: 0 !important;
        li {
          position: relative;
          display: table;
          clear: both;
          margin: 0 !important;
          padding: 0 !important;
          width: 100%;
          a {
            position: relative;
            display: table;
            width: 100%;
            &.item {
              border-right: none;
              border-bottom: none;
              background-color: #e4e6e7;
              box-shadow: none;
              text-decoration: none !important;
            }
          }
          .item_title {
            background-color: #e4e6e7 !important;
          }
          .item_image {
            display: table-cell !important;
            width: 44% !important;
            height: auto;
          }
          .item_content {
            position: relative !important;
            display: table-cell;
            width: 56% !important;
            border-top: 2px solid #fff;
            border-bottom: 2px solid #b7b9ba;
            vertical-align: middle;
            .cta_arrow {
              display: none;
            }
          }
          .mobile_link_icon {
            top: 36%;
            left: 40%;
          }
        }
      }
    }
    #subcontent .mobile_carousel {
      position: relative;
      clear: both;
      overflow: hidden;
      margin: 0 2em;
      h2 {
        color: #003e69;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.6em;
      }
      .slide {
        overflow: hidden;
        a {
          display: block;
          color: #000 !important;
          text-decoration: none !important;
        }
        img {
          max-width: 100%;
          width: 100%;
          height: auto;
        }
      }
      .control {
        position: absolute;
        top: 50%;
        display: block;
        width: 10%;
        height: auto;
        &.prev {
          left: 0;
        }
        &.next {
          right: 0;
        }
      }
      .slide_window {
        position: relative;
        display: block;
        float: none;
        clear: both;
        overflow: hidden;
        margin: 1em auto;
        width: 74%;
      }
      .item {
        display: inline-block;
        float: left;
        padding: 1em;
        width: 100%;
        height: auto;
        color: #000 !important;
        text-decoration: none;
        .item_thumb {
          display: block;
          clear: both;
          margin-bottom: 1em;
        }
        .item_title {
          display: block;
          clear: both;
          margin-top: 0.8em;
          font-weight: bold;
          font-size: 1.8em;
        }
        .item_desc {
          display: block;
          clear: both;
          margin-bottom: 1em;
          font-weight: normal;
          font-size: 1.6em;
        }
        .item_category {
          display: block;
          clear: both;
          text-transform: uppercase;
          font-size: 1em;
        }
      }
    }
  }
  /**
	 * previously viewed carousel
	 */
  /* mobile toggle blocks */
  #mobile_toggle .mobile_toggle_box {
    > h4 {
      margin: 0;
      border-top: 2px solid #0d4771;
      border-bottom: 2px solid #00253f;
      a {
        display: table;
        overflow: hidden;
        padding: 0.4em 0;
        width: 100%;
        background-color: #003e69;
        color: #fff;
        text-decoration: none;
        .icon {
          display: table-cell;
          overflow: hidden;
          padding-left: 16px;
          width: 14%;
          vertical-align: middle;
        }
        .title {
          display: table-cell;
          overflow: hidden;
          padding-left: 10px;
          width: 86%;
          vertical-align: middle;
        }
      }
    }
    .mobile_toggle_target {
      display: none;
      padding: 0;
      background-color: #e3e3e3;
    }
    &.open .mobile_toggle_target {
      display: block;
      .related_products {
        > h3 {
          font-weight: bold;
          font-size: 1em;
          font-family: "franklin-gothic-urw", sans-serif;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
          li {
            margin: 0;
            padding: 0;
            list-style-type: none;
          }
        }
      }
    }
    &#physical_box .mobile_toggle_target {
      padding: 2em;
      .views-row {
        margin-bottom: 1.4em;
        > div {
          > div {
            font-weight: bold;
          }
          &.views-field > div {
            font-weight: normal;
          }
        }
      }
      .views-label {
        display: inline-block;
        float: left;
        margin-right: 3px;
      }
    }
    &#market_box .mobile_toggle_target {
      padding: 2em;
      h4 {
        margin-bottom: 0.2em;
        font-weight: bold;
        font-size: 1em;
      }
      .grid_content {
        clear: both;
        overflow: hidden;
        margin-bottom: 1em;
      }
      .grid_label {
        text-align: left !important;
      }
      .field-items a {
        display: inline-block;
        float: left;
        margin: 0;
        padding: 0 1em 1em;
        width: 33.33333%;
        color: #000;
        text-align: center;
        text-decoration: none;
        img {
          margin: 0 auto;
          margin-bottom: 10px;
          width: 80%;
        }
      }
    }
    &#size_box .mobile_toggle_target {
      .box_heading {
        display: block;
        clear: both;
        overflow: hidden;
        padding: 1.4em 2em;
        border-bottom: 2px solid #c0c0c0;
        color: #000;
        font-weight: bold;
      }
      .box_content {
        display: block;
        clear: both;
        overflow: hidden;
        padding: 0;
        .views-row {
          display: inline-block;
          float: left;
          clear: none;
          margin: 0;
          padding: 2em;
          width: 50%;
          border-top: 2px solid #fff;
          border-bottom: 2px solid #c0c0c0;
          &.views-row-odd {
            clear: left;
            border-right: 2px solid #c0c0c0;
          }
          &.views-row-even {
            border-left: 2px solid #fff;
          }
          .views-label, > div > span {
            color: #003e69;
            font-weight: bold;
          }
          .field-content, > div > div {
            padding-left: 0.6em;
          }
        }
      }
      .box_footer {
        display: block;
        clear: both;
        overflow: hidden;
        padding: 1em 2em;
        border-top: 2px solid #fff;
      }
    }
    &#downloads_box .mobile_toggle_target .views-row {
      display: block;
      float: none;
      clear: both;
      overflow: hidden;
      width: 100%;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #c0c0c0;
      .field-content a {
        display: table;
        padding: 1em;
        width: 100%;
        color: #000;
        text-decoration: none;
      }
      img {
        display: table-cell;
      }
      span {
        display: table-cell;
        padding-left: 10px;
        width: 86%;
        vertical-align: middle;
        font-weight: bold;
        font-size: 1.1em;
      }
    }
    &#videos_box .mobile_toggle_target {
      padding: 2em;
      .video_thumbs {
        position: relative;
        ul {
          position: relative;
          margin: 0;
          padding: 1em 20% 2.6em;
          list-style-type: none;
          li {
            display: block;
            overflow: hidden;
            margin: 0;
            padding: 0;
            width: 100%;
            height: auto;
            &.vid {
              display: none;
              &.active {
                display: block;
              }
            }
            a {
              position: relative;
              display: block;
              overflow: hidden;
              padding: 0;
              text-decoration: none;
              .play_overlay {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 501;
                display: block;
                width: 100%;
                height: 100%;
                background-color: transparent;
                background-image: url(../images/control_play_button_mobile.png);
                background-position: 50% 50%;
                background-size: 35%;
                background-repeat: no-repeat;
              }
              .vid_title {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  /* physical properties section */
  /* markets section */
  /* sizes and colors section */
  /* downloads section */
  /* videos section */
  /* contact us page */
  .node-type-webform {
    #content {
      #left {
        width: 100%;
      }
      #right {
        margin-right: 0;
        padding: 10px;
        width: 100%;
        p {
          padding: 10px;
        }
        .form_wrapper {
          width: 100%;
        }
        h2 .required {
          display: block;
          clear: both;
          margin-bottom: 10px;
          padding-left: 6px;
          width: 100%;
          color: #780402;
          text-align: left;
        }
      }
      #webform-component-city, #webform-component-states, #webform-component-zip {
        width: 100%;
      }
      #webform-component-city, #webform-component-states {
        margin-bottom: 1em;
      }
    }
    .form-actions {
      margin-bottom: 2.6em;
    }
  }
  .contact_table {
    .region {
      padding: 0.4em 20px;
      background-color: #003e69;
      color: #e4e4e4;
      text-transform: none;
      font-size: 1.5em;
    }
    .contact {
      padding: 0.4em 20px 1em;
      background-color: #e4e4e4;
      font-size: 1.2em;
    }
  }
  /**
	 * about page
	 */
  .blue_arrow_box {
    position: relative;
    top: 0;
    left: 0;
    padding: 20px !important;
    width: 100%;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    background-color: #2d2d2d;
    text-align: center;
    font-size: 26px;
    .pointer {
      display: none;
    }
    &:hover {
      background-color: #2d2d2d;
    }
  }
  .node-type-page .video {
    margin-right: 0;
  }
  /**
	 * industry links page
	 */
  .page-resources-industry-links .blue_bar {
    padding: 0 16px;
  }
  /* locations page */
  .locations {
    h2 {
      color: #f57e20;
    }
    .map {
      display: none;
    }
    .field-name-body {
      padding: 0 16px;
      font-size: 1.1em;
    }
    .blue_bar {
      &.row {
        display: none;
      }
      &.mobile {
        padding-right: 20px;
        padding-left: 20px;
      }
    }
    .mobile_pad, h2 {
      padding-right: 20px;
      padding-left: 20px;
    }
    .blue_bar.mobile h3 {
      font-size: 1.2em;
    }
    .row .item {
      display: block;
      padding: 0 0 1.4em;
      width: 100%;
    }
    .offices {
      margin-bottom: 1em;
      padding: 0;
    }
  }
  /**
	 * media page
	 */
  .media_page {
    .mobile_image {
      display: block;
      clear: both;
      overflow: hidden;
    }
    #marquee {
      margin-top: 0;
      margin-bottom: 0;
      .marquee_image {
        display: none;
      }
      .marquee_content {
        padding: 2em 1em 1.2em;
      }
    }
    .blue_bar {
      margin: 0 !important;
      padding-top: 1.2em;
      padding-bottom: 1.2em;
      font-size: 1.1em !important;
      line-height: 1.4em;
      &.subhead {
        margin-bottom: 2em !important;
        padding-top: 0.8em;
        padding-bottom: 0.8em;
        h3 {
          font-weight: bold !important;
        }
      }
    }
    .gray_bar {
      background-color: #fff;
    }
    #brand_assets {
      padding-top: 0 !important;
      border: none;
      h3 {
        font-size: 1.2em;
      }
      ul {
        padding-left: 0;
        li {
          display: table;
          margin-bottom: 0;
          padding: 1em;
          width: 100%;
          .thumb {
            width: 24%;
          }
          .title {
            width: 76%;
          }
        }
      }
    }
  }
  .view-media-library #accordian {
    min-height: 1px;
    .group {
      margin: 0;
      border: none;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #c0c0c0;
      .box {
        padding: 1em 0 0 1em;
        ul {
          padding-left: 0;
          li {
            display: block;
            padding: 1em 1.4em;
            width: 100%;
            .field-content {
              display: table;
              clear: both;
              width: 100%;
              .thumb {
                width: 24%;
              }
              .title {
                width: 76%;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
    h3 a {
      padding-left: 3em;
      font-size: 1em;
      line-height: 2.6em;
    }
  }
  /**
	 * news and events index
	 */
  .node-type-page {
    .events_section {
      padding-bottom: 2em;
    }
    ul.event_list li {
      margin-bottom: 2em;
      a {
        display: block;
        clear: both;
        overflow: hidden;
        color: #333 !important;
      }
      .views-field {
        &.views-field-field-event-image {
          max-width: 640px;
          width: 30%;
        }
        width: 100%;
      }
    }
  }
  /**
	 * news and events detail
	 */
  .node-type-article #content #main.fixed_wrap.white_box, .node-type-event #content #main.fixed_wrap.white_box {
    padding-bottom: 2em;
  }
  .node-type-article #content .news_detail_wrap, .node-type-event #content .news_detail_wrap {
    padding: 0 16px;
  }
  .node-type-article #content .news_detail_photo, .node-type-event #content .news_detail_photo {
    display: none;
  }
  .node-type-article #content .news_detail_body, .node-type-event #content .news_detail_body {
    float: none;
    clear: both;
    overflow: hidden;
    width: 100%;
  }
  .node-type-article #content .news_detail_wrap h3, .node-type-event #content .news_detail_wrap h3 {
    font-weight: bold;
    font-size: 1.1em;
  }
  .node-type-article #content .news_detail_wrap hr, .node-type-event #content .news_detail_wrap hr {
    display: none;
  }
  .node-type-article #content .news_detail_wrap .smaller, .node-type-event #content .news_detail_wrap .smaller {
    font-size: 1em;
  }
  /**
	 * greenpoint products page
	 */
  .view-greenpoint-products {
    margin: 0;
    ul {
      margin: 0;
      li {
        position: relative;
        display: block;
        margin-bottom: 0;
        padding: 0;
        width: 100%;
        height: auto;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #b7b9ba;
        background-color: #e4e6e7;
        .views-field-field-product-image {
          padding: 2em 1em;
          width: 36%;
          background-color: #fff;
          vertical-align: middle;
        }
        .views-field-title {
          padding-top: 1em;
          padding-right: 15px;
          width: 57%;
          font-size: 1.5em;
        }
        .views-field-field-product-short-description {
          padding-top: 0.4em;
          padding-right: 16px;
          width: 57%;
          font-size: 16px;
        }
      }
    }
    .mobile_link_icon {
      top: 36%;
    }
  }
  #block-views-greenpoint-products-block {
    border-top: 2em solid #003e69;
  }
  /**
	 * product index page
	 */
  .page-node-429 .padded_body {
    padding-bottom: 0 !important;
  }
  #block-views-product-index-block {
    margin: 0;
    padding: 0;
    .views-row {
      padding: 1em;
      .views-field {
        display: block;
        clear: both;
        overflow: hidden;
        padding: 0;
        width: 100% !important;
        &.views-field-title {
          font-size: 1.3em;
        }
      }
    }
    .product_index_heading {
      border-bottom: 0 !important;
      .blue_bar {
        margin-bottom: 0 !important;
        padding: 1em 16px;
        font-weight: bold;
        line-height: 1.2em;
      }
    }
    .views-row .views-field.views-field-nid {
      display: table;
      padding: 1em 0;
      .view-product-assets {
        display: table-cell;
        padding-right: 1em;
        vertical-align: middle;
        a {
          display: block;
          overflow: hidden;
          width: 100%;
        }
        .views-row {
          padding: 0 !important;
        }
      }
      .download_link {
        display: table-cell;
        padding: 6px 12px;
        vertical-align: middle;
        text-transform: uppercase;
        font-size: 1em;
      }
    }
  }
  /**
	 * products landing
	 */
  .product {
    #sidebar {
      display: none;
    }
    #main {
      float: none;
      clear: both;
      overflow: hidden;
      width: 100%;
    }
    #content .fixed_wrap.white_box {
      padding-bottom: 0 !important;
    }
  }
  .page-products #content h3.blue_bar {
    margin-top: 0 !important;
    padding: 0.6em 16px;
  }
  .product .product_grid {
    padding: 0;
    h2 {
      margin: 0;
      padding: 0.8em 2em !important;
      background-color: #c5c5c5;
      text-align: center;
      font-size: 1.2em !important;
      line-height: 1.6em;
    }
    ul {
      margin-bottom: 0 !important;
      &.flush {
        margin-right: 0 !important;
        margin-left: 0 !important;
      }
      li {
        position: relative;
        display: table;
        clear: both;
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
        a {
          position: relative;
          display: table;
          width: 100%;
          &.item {
            border-right: none;
            border-bottom: none;
            background-color: #e4e6e7;
            box-shadow: none;
            text-decoration: none !important;
          }
        }
        .item_title {
          padding-left: 26px;
          min-height: 1px !important;
          background-color: #e4e6e7 !important;
          opacity: 1;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          filter: alpha(opacity = 100);
          -moz-opacity: 1;
          -khtml-opacity: 1;
        }
        .item_image {
          display: table-cell !important;
          width: 44% !important;
          height: auto !important;
        }
        .item_content {
          position: relative !important;
          display: table-cell;
          width: 56% !important;
          border-top: 2px solid #fff;
          border-bottom: 2px solid #b7b9ba;
          vertical-align: middle;
          .cta_arrow {
            display: none;
          }
        }
        .mobile_link_icon {
          top: 40%;
          left: 40%;
        }
      }
    }
  }
  .product_grid.browse_type {
    .item {
      height: auto;
    }
    .item_thumb {
      position: relative;
      padding: 1em 0;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #b7b9ba;
      background-color: #fff;
      background-image: none;
      img {
        position: relative;
        bottom: 0;
        left: 0;
        margin-left: 0;
        width: 100%;
        height: auto;
      }
    }
  }
  /**
	 * products category page
	 */
  .product.category #main {
    #product_grid {
      padding: 0;
      background-image: none;
    }
    #marquee {
      .marquee_content {
        padding: 1em 16px;
        width: 100%;
      }
      margin-bottom: 0;
      .marquee_image {
        width: 100%;
      }
    }
    #product_grid {
      h3 {
        margin: 0;
        padding: 1em 16px;
        background-color: #003e69;
        color: #fff;
        font-size: 1.2em;
      }
      &.product_grid {
        &.browse_type .item_thumb {
          padding: 0;
          border-top: none;
          border-bottom: none;
        }
        ul li .mobile_link_icon {
          top: 36%;
        }
      }
    }
    #mobile_featured_videos {
      position: relative;
      margin-bottom: 2em;
      padding: 0.4em 1em;
      background-color: #fff;
      .videos_wrap {
        position: relative;
        display: block;
        clear: both;
        overflow: hidden;
      }
      h3 {
        display: block;
        float: none !important;
        margin: 0 !important;
        padding: 1em;
        color: #003e69;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
      }
      ul {
        padding: 0 20%;
        li {
          display: block;
          float: none;
          margin: 0 auto;
          width: 100%;
          &.vid {
            display: none;
            &.active {
              display: block;
            }
          }
        }
      }
      .video_thumb {
        position: relative;
        display: block;
        .play_overlay {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 501;
          display: block;
          width: 100%;
          height: 100%;
          background-color: transparent;
          background-image: url(../images/control_play_button_mobile.png);
          background-position: 50% 50%;
          background-size: 35%;
          background-repeat: no-repeat;
        }
      }
    }
  }
  /**
	 * product detail page
	 */
  .node-type-product {
    .detail_media {
      padding: 0 !important;
      width: 100%;
      border: 15px solid #f57e20;
    }
    .thumb_slider {
      .slides .slide {
        margin: 0 !important;
        padding: 10px 40px;
        width: 100%;
        height: auto;
        img {
          max-width: 100% !important;
          width: 100% !important;
          height: auto !important;
        }
      }
      .arrow_control {
        position: absolute;
        top: 0;
        z-index: 203;
        width: 10%;
        height: 100%;
        background-color: transparent;
        background-position: 50% 50%;
        background-size: 90%;
        background-repeat: no-repeat;
        &.prev {
          left: 0;
          background-image: url(../images/btn_subnav_mobile_arrow_left.png);
        }
        &.next {
          right: 0;
          background-image: url(../images/btn_subnav_mobile_arrow_right.png);
        }
      }
      .controls {
        display: none;
      }
    }
    .detail_content {
      padding: 10px !important;
      width: 100%;
      font-size: 16px;
      .detail_title {
        display: none;
      }
      .detail_desc {
        padding: 0 10px;
        img {
          width: auto !important;
        }
      }
    }
    #detail_content .detail_content {
      .detail_subtitle {
        padding: 10px 10px 0;
        font-size: 1em;
      }
      .cta_box {
        width: auto;
        .btn.btn-orange {
          color: #582c01 !important;
          text-shadow: none;
        }
      }
      .popout {
        padding-top: 3em !important;
        width: 100%;
        .close_popout {
          padding-right: 34px;
          background-size: 26%;
          color: #003e69 !important;
          font-size: 16px;
          line-height: 16px;
        }
        .popout_body {
          padding-top: 10px;
          .phone_number {
            text-decoration: none !important;
          }
        }
      }
    }
  }
  /**
	 * search page - normal view
	 */
  .page-search {
    #filter_bar {
      display: none;
    }
    #search {
      width: 100%;
    }
  }
  .panels-flexible-region-1-center {
    float: none;
    width: 100%;
  }
  .panels-flexible-region-inside {
    padding-right: 0;
    padding-left: 0;
  }
  .page-search {
    #main #top_filter_nav {
      position: relative;
      top: 9px;
      padding: 0;
      ul.tab_controls {
        padding: 0;
        padding-left: 1em;
        width: 100%;
        li {
          overflow: hidden;
          width: 50%;
          a {
            overflow: hidden;
            padding: 10px 0 !important;
            text-align: center;
          }
        }
        a {
          border: 1px solid #9f9f9f;
          font-size: 1.4em;
          &.current {
            border-color: #9f9f9f;
          }
        }
      }
    }
    ul.filter_tags {
      padding: 0.8em 16px;
    }
    #main {
      #product_grid {
        padding: 0;
        width: 100%;
        border: none;
        border-top: 1px solid #9f9f9f;
        .row {
          display: block;
          overflow: hidden;
          width: 100%;
          height: auto;
          .item {
            position: relative;
            display: table !important;
            float: none;
            width: 100%;
            height: auto;
            border-right: none;
            border-bottom: none;
            background-color: #e4e6e7;
            box-shadow: none;
            text-decoration: none !important;
          }
        }
        .border_mask {
          display: none;
        }
        a.control_compare {
          top: auto;
          bottom: 1em;
          left: 48%;
          background-position: 10px 50%;
          color: #f57e20 !important;
          font-weight: bold;
          font-size: 1.1em;
          &:hover {
            color: #f57e20 !important;
          }
        }
        .row .item {
          .item_thumb {
            display: table-cell !important;
            padding: 1em;
            width: 44% !important;
            height: auto !important;
            border-top: 2px solid #fff;
            border-bottom: 2px solid #b7b9ba;
            background-color: #fff;
            vertical-align: middle;
            img {
              margin: 0 !important;
              max-width: 100%;
              width: 100%;
              height: auto;
            }
          }
          .item_wrap {
            position: relative !important;
            display: table-cell;
            padding-top: 1.8em;
            padding-bottom: 2.6em;
            width: 56% !important;
            border-top: 2px solid #fff;
            border-bottom: 2px solid #b7b9ba;
            vertical-align: top;
          }
          .item_title {
            margin: 0 2% 0.4em 10%;
            color: #000;
            font-size: 1.4em;
            a {
              color: #000;
            }
          }
          .item_desc {
            margin: 0 2% 0.4em 10%;
            font-weight: normal;
            font-size: 1.1em;
            line-height: 1.3em;
          }
          .item_cat {
            display: none;
          }
        }
        .mobile_link_icon {
          top: 40%;
          left: 40%;
        }
        .compare-paginate {
          padding: 10px !important;
          text-align: center;
        }
        .compare_selected {
          display: inline-block;
          float: none !important;
          clear: both;
          margin: 1em auto;
          padding: 0.5em !important;
          width: auto;
          font-weight: bold;
        }
      }
      .technical-view #product_grid {
        padding-bottom: 0.6em;
      }
      #product_grid .compare-paginate {
        padding: 1em !important;
      }
    }
  }
  .panels-flexible-region-3-center {
    float: none;
    width: 100% !important;
  }
  /**
	 * search page - technical view
	 */
  .page-search {
    .tech_view .convert_bar {
      overflow: hidden;
      text-align: right;
      padding: 0 1em;
      text-align: right;
      .button_bar {
        display: block;
        clear: both;
        overflow: hidden;
        margin: 0.4em 0;
        .metric {
          display: none;
        }
        a.btn {
          display: block;
          float: right;
          clear: both;
          padding-top: 0.2em !important;
          padding-bottom: 0.2em !important;
          text-transform: uppercase;
        }
      }
      .tap_for_more {
        display: block;
        clear: both;
        overflow: hidden;
        margin-bottom: 1em;
        color: #f57e20;
        font-weight: bold;
        font-size: 1.4em;
        line-height: 1.6em;
      }
      &.bottom .tap_for_more {
        margin-top: 0.6em;
        margin-bottom: 0.6em;
      }
    }
    ul.filter_tags {
      padding: 0;
      overfloW: hidden;
      li {
        display: block;
        float: left;
        a {
          display: block;
          padding: 0.6em;
          padding-left: 2em;
          background-image: url(../images/control_remove_mobile.png);
          background-size: 1.6em;
          color: #f57e20 !important;
          font-size: 1.6em;
        }
      }
    }
    .tech_view {
      .nav_bar {
        position: relative;
        display: table;
        margin-top: 0 !important;
        margin-bottom: 0;
        padding: 0.4em 1em;
        width: 100%;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1em;
        line-height: 3.2em;
        .product_heading {
          position: relative;
          display: table-cell;
          width: 38%;
          text-align: center;
        }
        .navigator {
          position: relative;
          display: table-cell;
          overflow: hidden;
          width: 62%;
          text-align: center;
          .headings .hdg {
            display: none;
            &.active {
              display: block;
            }
          }
          .control {
            position: absolute;
            top: 0;
            display: block;
            width: 52px;
            height: 52px;
            background-color: transparent;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            &.prev {
              left: 0;
              background-image: url(../images/btn_technav_mobile_arrow_left.png);
            }
            &.next {
              right: 0;
              background-image: url(../images/btn_technav_mobile_arrow_right.png);
            }
          }
        }
      }
      .subheadings {
        display: block;
        padding: 0.8em;
        padding-left: 38%;
        background-color: #d6d6d6;
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
        .sub {
          display: none;
          &.active {
            display: block;
          }
        }
      }
      .results {
        .item {
          position: relative;
          display: table !important;
          width: 100% !important;
          height: auto !important;
          .item_image {
            display: table-cell !important;
            padding: 1em;
            width: 38% !important;
            height: auto !important;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #b7b9ba;
            background-color: #fff;
            vertical-align: middle;
            a {
              display: block;
              overflow: hidden;
            }
            img {
              margin: 0 !important;
              max-width: 100%;
              width: 100%;
              height: auto;
            }
          }
          .item_title {
            display: block;
            float: none;
            clear: both;
            overflow: hidden;
            color: #000 !important;
            text-align: center;
            a {
              color: #000 !important;
              text-decoration: none !important;
              font-weight: bold;
              font-size: 1.4em;
            }
          }
          .item_content {
            position: relative !important;
            display: table-cell;
            width: 62% !important;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #b7b9ba;
            background-color: #e4e6e7;
            vertical-align: top;
            vertical-align: middle;
          }
          .data_slide {
            padding: 0 1em;
            color: #000;
            text-align: center;
            font-size: 1.4em;
            .data_item {
              display: none;
              &.active {
                display: block;
              }
            }
            a {
              color: #000;
            }
          }
        }
        .mobile_link_icon {
          top: 38% !important;
          left: 34% !important;
        }
      }
    }
  }
  /**
	 * promotions page
	 */
  .node-type-promotion-page {
    #content {
      background-color: #fff;
      background-image: none;
    }
    #marquee {
      margin: 0;
      padding-top: 0;
      width: 100%;
    }
    #content #main.fixed_wrap.white_box {
      margin-top: 0;
    }
    .mobile_breadcrumbs {
      margin-top: 0;
      padding-top: 20px;
    }
    ul.product_list {
      padding: 1em 4em 0;
      li.item {
        padding: 1em;
        width: 50%;
      }
    }
    .promotion_form {
      padding: 0;
      .form_header {
        display: table;
      }
      .form_title {
        position: relative;
        display: table-cell;
        vertical-align: middle;
      }
      .logo_box {
        position: relative;
        top: 0;
        display: table-cell;
        width: 25%;
        vertical-align: middle;
      }
      .form_box {
        width: 100%;
        .form-item {
          margin-top: 0.5em;
          margin-bottom: 0.5em;
        }
        .col-md-6, .col-md-3, .col-md-2 {
          width: 100%;
        }
      }
    }
    #content #edit-actions .form-submit {
      display: block;
      padding-top: 0.5em !important;
      padding-bottom: 0.5em !important;
      width: 100%;
      border-radius: 0.4em !important;
      background-image: -moz-linear-gradient(top, #f7882c, #f07b19);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7882c), to(#f07b19));
      background-image: -webkit-linear-gradient(top, #f7882c, #f07b19);
      background-image: -o-linear-gradient(top, #f7882c, #f07b19);
      background-image: linear-gradient(to bottom, #f7882c, #f07b19);
      color: #582c01 !important;
      text-shadow: none;
      font-size: 1.4em !important;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7882c', endColorstr='#fff07b19', GradientType=0);
    }
  }
  /**
	 * media library video page
	 */
  .node-type-media-library-video, .node-type-media-asset-infographic {
    .blue_bar {
      margin-bottom: 0;
      min-height: 3em;
    }
    .content_wrapper {
      #media_box {
        float: none;
        clear: both;
        padding: 0;
        width: 100%;
      }
      #details_box {
        float: none;
        clear: both;
        margin-top: 2em;
        padding: 0;
        padding-bottom: 3em;
        width: 100%;
      }
    }
  }
  /**
	 * media library infographic page
	 */
  /**
	 * media library asset page
	 */
  .node-type-media-library-asset {
    .blue_bar {
      margin-bottom: 0;
      min-height: 3em;
    }
    .content_wrapper {
      #media_box {
        float: none;
        clear: both;
        padding: 0;
        width: 100%;
      }
      #details_box {
        float: none;
        clear: both;
        margin-top: 2em;
        padding: 0;
        padding: 1em;
        padding-bottom: 3em;
        width: 100%;
        .social-share-container {
          margin-bottom: 1em;
        }
      }
    }
    .asset-embed p {
      width: 100%;
    }
  }
  iframe#careers-iframe {
    display: block;
    clear: both;
    overflow: scroll;
    margin: 0 auto;
    width: 100%;
    height: 1000px;
    -webkit-overflow-scrolling: touch;
  }
  div.views-exposed-form .views-exposed-widget.views-widget-per-page .form-type-select.form-item-items-per-page {
    display: none;
  }
  .view-search .item-list {
    float: none;
    margin: auto;
    width: 90%;
    ul.pager li {
      margin-bottom: 10px;
    }
  }
}

/* refined styles - mostly for font sizes*/
@media (min-width: 481px) and (max-width: 540px) {
  .btn {
    font-size: 1.6em !important;
  }
  .node-type-product .detail_content {
    font-size: 0.9375em;
  }
  .mobile.logo_bar #logo {
    padding-left: 1.8em;
  }
  #mobile_nav {
    .search_box {
      .input_wrap {
        padding-right: 50px;
        height: 42px;
        background-size: 38px;
        input[type="text"] {
          height: 42px;
        }
      }
      .submit_this_form {
        width: 58px;
        height: 58px;
      }
    }
    h2 a {
      font-size: 1.6em;
    }
    ul.sub_menu li {
      a {
        font-size: 1.6em;
      }
      > ul.menu > li > ul.menu a {
        font-size: 1.3em;
      }
    }
    .mobile_toggle_control, ul.sub_menu li > ul.menu > li.expanded > a, #mobile_products_menu .mobile_filter_box li > ul.menu > a {
      background-size: 30px;
    }
    ul.sub_menu li {
      > ul.menu > li.expanded.open > ul.menu > .item-list ul.toggle_target li a {
        background-size: 13px;
      }
      .blue_corner {
        background-size: 23px;
      }
    }
    #mobile_products_menu {
      .mobile_filter_box li > ul.menu > .toggle_target .item-list ul li {
        font-size: 1.4em;
      }
      ul.sub_menu h3.blue_bar {
        padding-right: 0.6em;
        font-size: 1.2em;
      }
    }
  }
  #mobile_header .control_bar .menu_control {
    padding: 0.8em 0.8em 0.8em 3.5em;
  }
  #block-views-product-index-block .views-row .views-field.views-field-nid .download_link {
    font-size: 17px !important;
  }
  #mobile_footer {
    ul.footer_links li {
      margin-bottom: 0.9em;
    }
    .back_to_top a {
      padding: 1.6em 0;
    }
    h4 {
      font-size: 1.2em;
    }
  }
  .page-search #main #top_filter_nav ul.tab_controls a {
    font-size: 1.3em;
  }
  .front #subcontent .mobile_carousel {
    margin: 0 1.4em;
    h2 {
      font-size: 1.4em;
    }
    .item {
      .item_title {
        margin-top: 0.6em;
        font-size: 1.6em;
      }
      .item_desc {
        font-size: 1.4em;
      }
    }
  }
  .page-search {
    ul.filter_tags li a {
      padding-left: 2em;
      background-size: 1.6em;
      font-size: 1.4em;
    }
    .tech_view {
      .subheadings {
        font-size: 1em;
      }
      .convert_bar .tap_for_more {
        font-size: 1.3em;
      }
      .nav_bar .navigator .control {
        width: 48px;
        height: 48px;
        background-size: 90%;
      }
      .results .item {
        .item_title a, .data_slide {
          font-size: 1.3em;
        }
      }
    }
  }
  .view-media-library #accordian {
    h3 {
      font-size: 22px;
      a {
        background-position: 16px 50%;
      }
    }
    .group .box ul li .field-content .title {
      font-size: 16px;
    }
  }
  .product_grid ul li a.item .item_content .item_title {
    padding-left: 26px;
    font-size: 16px;
  }
  .product {
    .product_grid ul li .item_content {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #b7b9ba;
    }
    &.category #main #product_grid h3 {
      font-size: 1.1em;
    }
  }
  .front .product_grid {
    ul li .item_content {
      border-top: 2px solid #fff;
      border-bottom: 2px solid #b7b9ba;
    }
    h2 {
      font-size: 1.1em !important;
    }
  }
  .view-greenpoint-products ul li {
    .views-field-title {
      padding-top: 0.8em;
      font-size: 1.3em;
    }
    .views-field-field-product-short-description {
      font-size: 15px;
      padding-top: 0;
      padding-right: 0.8em;
      font-size: 14px;
    }
  }
  .page-search #main #product_grid {
    .row .item {
      .item_wrap {
        padding-top: 1.1em;
      }
      .item_title {
        font-size: 1.3em;
      }
      .item_desc {
        font-size: 1em;
      }
    }
    a.control_compare {
      bottom: 0.6em;
      left: 47%;
    }
  }
}

@media (min-width: 321px) and (max-width: 480px) {
  .btn {
    font-size: 1.4em !important;
  }
  .node-type-product .detail_content {
    font-size: 14px;
    font-size: 0.875em;
  }
  .mobile.logo_bar #logo {
    padding-left: 1.6em;
  }
  #mobile_nav {
    .search_box {
      .input_wrap {
        padding-right: 44px;
        height: 36px;
        background-size: 32px;
        input[type="text"] {
          height: 36px;
        }
      }
      .submit_this_form {
        width: 54px;
        height: 54px;
      }
    }
    h2 a {
      font-size: 1.4em;
    }
    ul.sub_menu li {
      a {
        font-size: 1.4em;
      }
      > ul.menu > li > ul.menu a {
        font-size: 1.1em;
      }
    }
    .mobile_toggle_control, ul.sub_menu li > ul.menu > li.expanded > a, #mobile_products_menu .mobile_filter_box li > ul.menu > a {
      background-size: 26px;
    }
    ul.sub_menu li {
      > ul.menu > li.expanded.open > ul.menu > .item-list ul.toggle_target li a {
        background-size: 11px;
      }
      .blue_corner {
        background-size: 21px;
      }
    }
    #mobile_products_menu {
      .mobile_filter_box li > ul.menu > .toggle_target .item-list ul li {
        font-size: 1.2em;
      }
      ul.sub_menu h3.blue_bar {
        padding-right: 0.4em;
        font-size: 1.1em;
      }
    }
  }
  #mobile_header .control_bar .menu_control {
    padding: 0.6em 0.6em 0.6em 1.5em;
  }
  #block-views-product-index-block .views-row .views-field.views-field-nid .download_link {
    font-size: 16px !important;
  }
  #mobile_footer {
    ul.footer_links li {
      margin-bottom: 0.8em;
    }
    .back_to_top a {
      padding: 1.4em 0;
    }
    h4 {
      font-size: 1.1em;
    }
  }
  .page-search #main #top_filter_nav ul.tab_controls a {
    font-size: 1.2em;
  }
  .front #subcontent .mobile_carousel {
    margin: 0 1.2em;
    h2 {
      font-size: 1.2em;
    }
    .item {
      .item_title {
        margin-top: 0.4em;
        font-size: 1.4em;
      }
      .item_desc {
        font-size: 1.2em;
      }
    }
  }
  .page-search .tech_view {
    .nav_bar {
      padding: 0.2em 0.7em;
      font-size: 0.9em;
    }
    .subheadings {
      font-size: 0.9em;
    }
    .convert_bar .tap_for_more {
      font-size: 1.2em;
    }
    .nav_bar .navigator .control {
      width: 42px;
      height: 42px;
      background-size: 80%;
    }
    .results .item {
      .item_title a, .data_slide {
        font-size: 1.2em;
      }
    }
  }
  .view-media-library #accordian {
    h3 {
      font-size: 18px;
      a {
        background-position: 14px 50%;
      }
    }
    .group .box ul li .field-content .title {
      font-size: 14px;
    }
  }
  .product_grid ul li a.item .item_content .item_title {
    padding-left: 24px;
    font-size: 15px;
  }
  .product {
    .product_grid ul li .item_content {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #b7b9ba;
    }
    &.category #main #product_grid h3 {
      font-size: 1.1em;
    }
  }
  .front .product_grid {
    ul li .item_content {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #b7b9ba;
    }
    h2 {
      font-size: 1em !important;
    }
  }
  .view-greenpoint-products ul li {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #b7b9ba;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #b7b9ba;
    .views-field-title {
      padding-top: 0.6em;
      font-size: 1.1em;
    }
    .views-field-field-product-short-description {
      padding-top: 0;
      padding-right: 0.6em;
      font-size: 13px;
    }
  }
  .page-search {
    ul.filter_tags li a {
      padding: 0.4em;
      padding-left: 2em;
      background-size: 1.5em;
      font-size: 1.2em;
    }
    #main #product_grid {
      .row .item {
        .item_wrap {
          padding-top: 1em;
          border-top: 1px solid #fff;
          border-bottom: 1px solid #b7b9ba;
        }
        .item_thumb {
          border-top: 1px solid #fff;
          border-bottom: 1px solid #b7b9ba;
        }
        .item_title {
          font-size: 1.2em;
        }
        .item_desc {
          font-size: 1em;
        }
      }
      a.control_compare {
        bottom: 0.4em;
        left: 47%;
      }
    }
  }
}

@media (max-width: 320px) {
  .btn {
    font-size: 1.2em !important;
  }
  .node-type-product .detail_content {
    font-size: 0.8125em;
  }
  .mobile.logo_bar #logo {
    padding-left: 1.4em;
  }
  #block-views-product-index-block .views-row .views-field.views-field-nid .download_link {
    font-size: 15px !important;
  }
  #mobile_nav {
    .search_box {
      .input_wrap {
        padding-right: 40px;
        height: 32px;
        background-size: 28px;
      }
      .submit_this_form {
        width: 48px;
        height: 50px;
      }
      .input_wrap input[type="text"] {
        height: 32px;
      }
    }
    h2 a {
      font-size: 1.2em;
    }
    ul.sub_menu li {
      a {
        font-size: 1.2em;
      }
      > ul.menu > li > ul.menu a {
        font-size: 0.9em;
      }
    }
    #mobile_products_menu ul.sub_menu h3.blue_bar {
      padding-right: 0.7em;
      font-size: 0.9em;
    }
    .mobile_toggle_control, ul.sub_menu li > ul.menu > li.expanded > a, #mobile_products_menu .mobile_filter_box li > ul.menu > a {
      background-size: 22px;
    }
    ul.sub_menu li {
      > ul.menu > li.expanded.open > ul.menu > .item-list ul.toggle_target li a {
        background-size: 9px;
      }
      .blue_corner {
        background-size: 19px;
      }
    }
    #mobile_products_menu .mobile_filter_box li > ul.menu > .toggle_target .item-list ul li {
      font-size: 1em;
    }
  }
  #mobile_header .control_bar .menu_control {
    padding-left: 1em;
    padding: 0.5em 0.5em 0.5em 1em;
  }
  #mobile_footer {
    ul.footer_links li {
      margin-bottom: 0.7em;
    }
    .back_to_top a {
      padding: 1.2em 0;
    }
    h4 {
      text-transform: none;
      font-size: 1em;
    }
  }
  .page-search #main #top_filter_nav ul.tab_controls a {
    font-size: 1em;
  }
  .front #subcontent .mobile_carousel {
    margin: 0 1em;
    h2 {
      font-size: 1em;
    }
    .item {
      .item_title {
        margin-top: 0.2em;
        font-size: 1.2em;
      }
      .item_desc {
        font-size: 1em;
      }
    }
  }
  .page-search {
    .tech_view .nav_bar {
      padding: 0.1em 0.6em;
      font-size: 0.8em;
    }
    ul.filter_tags li a {
      padding: 0.2em;
      padding-left: 1.8em;
      background-size: 1.5em;
      font-size: 1em;
    }
    .tech_view {
      .subheadings {
        font-size: 0.8em;
      }
      .convert_bar .tap_for_more {
        font-size: 1.1em;
      }
      .nav_bar .navigator .control {
        width: 37px;
        height: 37px;
        background-size: 70%;
      }
      .results .item {
        .item_title a, .data_slide {
          font-size: 1.1em;
        }
      }
    }
  }
  .view-media-library #accordian {
    h3 {
      font-size: 16px;
      a {
        background-position: 12px 50%;
      }
    }
    .group .box ul li .field-content .title {
      font-size: 12px;
    }
  }
  .product_grid ul li a.item .item_content .item_title {
    padding-left: 20px;
    font-size: 13px;
  }
  .product {
    .product_grid ul li .item_content {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #b7b9ba;
    }
    &.category #main #product_grid h3 {
      font-size: 1em;
    }
  }
  .front .product_grid {
    ul li .item_content {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #b7b9ba;
    }
    h2 {
      font-size: 1em !important;
    }
  }
  .view-greenpoint-products ul li {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #b7b9ba;
    .views-field-title {
      padding-top: 0.4em;
      font-size: 1em;
    }
    .views-field-field-product-short-description {
      padding-top: 0;
      padding-right: 0.4em;
      font-size: 12px;
    }
  }
  .page-search #main #product_grid {
    .row .item {
      .item_wrap {
        padding-top: 0.9em;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #b7b9ba;
      }
      .item_thumb {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #b7b9ba;
      }
      .item_title {
        font-size: 1.1em;
      }
      .item_desc {
        font-size: 0.9em;
      }
    }
    a.control_compare {
      bottom: 0.2em;
      left: 46%;
    }
  }
}

#mobile_nav ul.sub_menu li {
  &.orange-selected {
    background-color: #f57e20 !important;
    color: white !important;
    a {
      background-color: #f57e20 !important;
      color: white !important;
    }
  }
  > ul.menu > li.expanded.open > ul.menu > .item-list > ul.toggle_target > li.orange-selected > a {
    background-color: #f57e20 !important;
    color: white !important;
  }
}
