/**
 * Shurtape - product filter (search) pages
 * pages have body class .page-search
 * =====================================
 * NOTE: the CSS for the filter bar is in filter_bar.css because it's shared with the category page
 */

/**
 * product search / filter page
 */

.page-search {
  .blue_bar {
    margin-top: 15px;
  }
  .views-exposed-form .views-exposed-widget {
    float: none;
    padding: 0;
  }
  #search {
    width: 692px;
  }
  #sidebar {
    width: 210px;
  }
  #content .fixed_wrap.white_box {
    padding-left: 0 !important;
  }
  ul.filter_tags {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0 !important;
    li {
      display: inline-block;
      padding: 0 !important;
      a {
        background-color: transparent;
        background-image: url(../images/control_remove.png);
        background-repeat: no-repeat;
        background-position: 0 50%;
        color: #ffffff !important;
        text-decoration: none !important;
        padding: 7px;
        padding-left: 16px;
        font-weight: bold;
        margin-right: 8px;
      }
    }
  }
  #main #top_filter_nav {
    clear: both;
    overflow: hidden;
    padding: 10px 0;
    display: block;
    ul.tab_controls {
      margin: 0;
      background: white;
      position: relative;
      top: 2px;
      margin-bottom: -9px;
      li {}
      a.current {
        position: relative;
        display: block;
        z-index: 5;
        border: solid 1px black;
        border-bottom: solid 1px white;
      }
    }
  }
  .results_nav {
    h4 {
      float: left;
      width: auto;
      display: inline-block;
      color: #003e69;
      font-size: 14px;
      font-weight: bold;
      margin-right: 10px;
    }
    select {
      float: left;
      width: auto;
      display: inline-block;
    }
  }
}

/**
 * normal view navigation bar
 */

.view-where-to-buy .item-list, .view-search .item-list {
  float: right;
}

.page-search {
  #main {
    #bottom_filter_nav {
      clear: both;
      overflow: hidden;
      padding: 10px 0;
      display: block;
    }
    #product_grid {
      padding: 10px;
      width: 690px;
      margin-bottom: 10px;
      position: relative;
      z-index: 3;
      border: solid 1px #000000;
      margin-top: -1px;
      .compare-paginate {
        padding: 0 10px;
        padding-right: 0 !important;
      }
      .row {
        margin: 0 !important;
        position: relative;
        .item {
          text-decoration: none;
          color: #000000 !important;
          overflow: hidden;
          position: relative;
          border-right: 1px solid #e6e6e6;
          border-top: 1px solid #e6e6e6;
          margin: 0 !important;
          width: 222px;
          height: 270px;
          padding: 0 !important;
          z-index: 1003;
          &.last {
            border-right: none;
          }
        }
        .border_mask {
          background-color: #ffffff;
          position: absolute;
          top: -10px;
          width: 20px;
          height: 20px;
          z-index: 1004;
        }
        &.first .border_mask {
          top: 1px;
          height: 9px;
        }
        .border_mask {
          &.one {
            left: 212px;
          }
          &.two {
            left: 433px;
          }
        }
      }
      .control_compare {
        padding: 10px;
        padding-left: 30px;
        background-image: url(../images/control_checkbox.png);
        background-repeat: no-repeat;
        background-position: 10px 10px;
        background-color: transparent;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2001;
        color: #333333 !important;
        font-size: 12px;
        /* outline: none !important; */
      }
    }
    a.compare_selected {
      padding-top: 3px;
      padding-bottom: 3px;
      margin-bottom: 10px;
    }
    #product_grid {
      .control_compare {
        &.current {
          background-image: url(../images/control_checkbox_on.png);
          color: #333333 !important;
        }
        &:hover {
          color: #333333 !important;
        }
      }
      .row .item {
        .item_thumb {
          display: block;
          overflow: hidden;
          img {
            display: block;
            margin-left: 40px;
            margin-top: 40px;
            width: auto;
          }
        }
        .item_wrap {
          display: block;
          margin-top: 10px;
          margin-left: 40px;
          position: relative;
          width: 150px;
        }
        .item_title {
          clear: both;
          display: block;
          font-size: 16px;
          line-height: 16px;
          font-weight: bold;
          color: #003e69 !important;
          a {
            text-decoration: none !important;
          }
        }
        .item_desc {
          clear: both;
          display: block;
          font-size: 11px;
          line-height: 14px;
          font-weight: bold;
          margin-bottom: 10px;
          p {
            margin-bottom: 0 !important;
          }
        }
        .item_cat, .views-field-field-product-type {
          clear: both;
          display: block;
          font-size: 11px;
          text-transform: uppercase;
        }
      }
    }
    ul.pager {
      margin-top: 0;
    }
  }
  .view-empty {
    padding: 16px;
    min-height: 400px;
  }
}

/**
 * product search - normal view grid
 */

/* border mask "shortens" the grid item borders to create the broken-border-edge effect */

/**
 * table in other view
 */

table.other-results {
  width: 100%;
  background: white;
  clear: both;
}

.other-results th {
  background: #003e69;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  padding: 8px 12px;
  border: none;
  &.type_heading {
    width: 10%;
  }
}

#product_table.other-results th.name_heading {
  width: 15%;
}

.other-results {
  .other_pdf_asset, .other_video_asset {
    padding-right: 20px;
  }
  td {
    border-bottom: solid 1px #e6e6e6;
    background: white;
    padding: 8px 12px;
    font-size: 12px;
    &.type .type {
      text-indent: -9999px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-color: transparent;
      display: block;
      height: 32px;
      width: 32px;
      &.Article {
        background-image: url("../images/icon_article.png");
      }
      &.Event {
        background-image: url("../images/icon_events.png");
      }
      &.pdf {
        background-image: url(../images/icon_pdf.png);
      }
    }
  }
  span.type.pdf {
    background-image: url(../images/icon_pdf.png);
  }
  td {
    &.type .type.video {
      background-image: url(../images/icon_video.png);
    }
    &.views-field-title {
      width: 75px;
      border-right: solid 1px #e6e6e6;
    }
    &.views-field-field-product-short-description {
      width: 200px;
      border-right: solid 1px #e6e6e6;
    }
    &.views-field-field-product-assets {}
  }
}

.page-search #main .other-search #product_grid {
  margin-bottom: 20px;
  margin-top: 16px;
  padding: 20px;
  padding-bottom: 50px;
}

.other-search {
  div.item-list {
    float: right;
    clear: both;
    margin-bottom: 10px;
  }
  .pager-second {
    margin-right: 20px;
  }
  #top_filter_nav {
    position: relative;
    top: -40px;
  }
}

/*
 *  Tech-view tables
 */

.page-search #main .technical-view #product_grid {
  padding-bottom: 50px;
}

table.tech-view {
  width: 100%;
  background: white;
  clear: both;
  font-size: 12px;
  font-family: "franklin-gothic-urw",sans-serif;
  border-collapse: separate;
  margin-left: 119px;
  margin-top: 10px;
}

.tech-view {
  width: 997px;
  tr {}
  th {
    background: url("../images/drag-indicator.png") no-repeat scroll center 10px #003e69;
    border-color: -moz-use-text-color #E6E6E6 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: none solid none none;
    border-width: medium 1px medium medium;
    color: #FFFFFF;
    cursor: move;
    font-size: 12px;
    line-height: 14px;
    padding: 30px 12px 0;
    text-align: center;
    text-transform: uppercase;
    vertical-align: bottom;
    width: 120px;
    &.first-col {
      cursor: default;
    }
  }
  tr {
    &.units td {
      background: none repeat scroll 0 0 #003E69;
      border-color: -moz-use-text-color #E6E6E6 -moz-use-text-color -moz-use-text-color;
      border-image: none;
      border-style: none solid none none;
      border-width: medium 1px medium medium;
      color: #FFFFFF;
      font-weight: bold;
      height: 25px;
      padding: 3px 12px;
      &.first-col {
        background: none repeat scroll 0 0 #003E69;
        cursor: default;
      }
    }
    &.spacer td {
      background: none repeat scroll 0 0 #CCCCCC;
      height: 18px;
    }
  }
  td {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    font-size: 12px;
    height: 124px;
    margin-right: -1px;
    min-width: 90px;
    padding: 0 4px;
    text-align: center;
    vertical-align: middle;
    &.product-name {
      font-size: 14px;
      font-family: "franklin-gothic-urw",sans-serif;
      font-weight: bold;
      a {
        text-decoration: none !important;
        display: block;
      }
      img {
        width: 65px;
        margin-bottom: 5px;
        display: inline-block;
        margin-top: 10px;
      }
    }
    &:last-child {
      border-right: none;
    }
  }
}

a {
  &.convert-metric, &.convert-standard {
    font-size: 10px;
  }
}

span.metric {
  display: none;
}

.tech-view td span {
  &.metric a, &.standard a {
    display: inline-block;
    line-height: 12px !important;
    text-decoration: none !important;
    width: 50px;
  }
}

.first-col {
  position: absolute;
  left: 0;
  top: auto;
  display: block;
  width: 120px;
}

th.first-col {
  height: 80px;
  padding-top: 59px;
  background: #003e69;
  background-image: none;
}

td.first-col {
  border-bottom: solid 1px #e6e6e6;
  margin: 0;
  padding: 0;
  height: 124px;
  padding-top: 14px;
}

.tech-view td {
  &.first-col.units {
    height: 27px;
    cursor: default;
  }
  &.units {
    cursor: pointer;
  }
}

.tech-table-wrapper-outer {
  position: relative;
}

.tech-table-wrapper {
  width: 100%;
  overflow-x: auto;
}

span {
  &.scroll-more {
    font-size: 12px;
    color: #003e69;
    position: absolute;
    right: 0px;
    top: 107px;
    z-index: 301;
    background-color: #cccccc;
  }
  &.scroll-more-bottom {
    font-size: 12px;
    color: #003e69;
    position: absolute;
    right: 10px;
    bottom: -25px;
  }
  &.scroll-more a, &.scroll-more-bottom a {
    text-decoration: none !important;
  }
}

#search #product_grid caption {
  color: #003E69;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  text-align: left;
  margin-bottom: 5px;
}

/* HIDE fulltext search widget on normal and tech view*/

#edit-search-api-views-fulltext-wrapper {
  display: none;
}

div.views-exposed-form .views-exposed-widget.views-widget-per-page .form-type-select.form-item-items-per-page {
  text-align: right;
  select {
    width: 80px;
  }
}

/* draggable */

p.drag-drop-note {
  color: #003e69;
  font-size: 14px;
  background: transparent url(../images/drag-icon.png) bottom right no-repeat;
  height: 34px;
  width: 57%;
  padding-top: 7px;
  top: -74px;
  left: 300px;
  position: absolute;
}

div.tech-table-wrapper-outer {
  overflow: hidden;
}

ul.dragtable-sortable li {
  table.tech-view {
    margin-left: 0;
  }
  &.ui-sortable-helper {
    width: 98px;
    table {
      border: 4px dashed #003e69;
      &.tech-view tbody td {
        background: #c1c1c1;
        &.units {
          background: #f57e20;
        }
      }
    }
  }
  &.ui-sortable-placeholder {
    margin-top: 10px;
  }
}

.view-id-search {
  .views-exposed-widgets.clearfix {
    margin: 0;
  }
  #top_filter_nav .view-filters {
    position: relative;
    bottom: -9px;
    display: inline-block;
    margin-left: 112px;
  }
}

div.views-exposed-form .views-exposed-widget.views-widget-per-page label {
  background-image: none;
  display: inline;
  font-weight: bold;
  color: #003E69;
  vertical-align: bottom;
  font-size: 15px;
  padding: 0;
  padding-right: 5px;
  margin: 0;
}
