/**
 * slideshow CSS for custom slideshow (non-plugin)
 */

.thumb_slider {
  position: relative;
  .slides {
    overflow: hidden;
    display: block;
    ul {
      list-style: none;
      overflow: hidden;
      li {
        margin: 0 1em;
      }
    }
    .slide {
      width: 400px;
      height: 300px;
      img {
        width: 400px;
        height: 300px;
      }
    }
  }
  .controls {
    list-style: none;
    padding-left: 0 !important;
    margin-top: 1em;
    overflow: hidden;
    display: block;
    ul {
      list-style: none;
      overflow: hidden;
      margin-left: 1em;
      margin-right: -1em;
    }
    .control {
      display: inline-block;
      float: left;
      margin: 1em;
      a {
        overflow: hidden;
        display: block;
        width: 75px;
        height: 75px;
        outline: none;
        img {
          width: 75px;
          height: 75px;
        }
      }
    }
  }
}
