/**
 * add switcher
 */
#header .language-switcher-locale-url {
    background-color: #003e69;
    width: 70px;
    list-style: none;
    text-align: center;
    height: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 3px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#header .language-switcher-locale-url li {
    width: 100%;
    height: 100%;
}

#header .language-switcher-locale-url li.active {
    display: none;
}

#header .language-switcher-locale-url li a {
    line-height: 30px;
    display: inline-block;
    color: #fff;
}

/* request a sample popup fixes */
.node-type-product .popout .popout_body {
    padding-top: 0;
    position: relative;
}

.node-type-product .popout form textarea {
    max-width: 100%;
    max-height: 200px;
}

/* new product page fixes */
.node-type-product #detail_content .detail_content .detail_subtitle {
    margin-bottom: 0;
}

.node-type-product #detail_content .detail_content .detail_desc ul {
    padding: 0 20px;
}

/*del .detail_content*/
.node-type-product #detail_content .cta_box_wrap {
    position: relative;
}

/*
@media screen and (min-width: 1314px) {
    .node-type-product #detail_content .cta_box_wrap.no-pc {
        display: none;
    }
}

@media screen and (max-width: 1313px) {
    .node-type-product #detail_content .cta_box_wrap.pc {
        display: none;
    }
}
*/

.node-type-product #detail_content .cta_box {
    width: 210px;
    /*margin: 0 auto;*/
    position: relative;
    z-index: 101;
}

.node-type-product #detail_content .cta_box_wrap .cta_box .btn {
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px !important;
    text-transform: uppercase;
    line-height: 1.3;
    color: #fff !important;
    background-color: #003e69;
    background-image: linear-gradient(to bottom, #003e69, #003356);
}

.node-type-product #detail_content .cta_box_wrap .cta_box .btn.btn-orange {
    font-size: 16px;
    color: #ffffff !important;
    background-color: #ee8925;
    background-image: linear-gradient(to bottom, #feaa55, #e27203);
}

.node-type-product #detail_content .cta_box ul {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.node-type-product #detail_content .cta_box ul li {
    list-style-type: none !important;
    list-style-image: none !important;
    margin: 0 !important;
    padding: 0 !important;
    clear: both;
}

.node-type-product #content .content .popup-style {
    background: #ffffff;
    z-index: 102;
    width: 390px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -195px;
    margin-top: -300px;
    border: 1px solid #cccccc;
    padding: 10px !important;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 1;
    display: none;
}

@media screen and (max-width: 420px) {
    .node-type-product #content .content .popup-style {
        width: auto !important;
        margin: 0 !important;
        left: 0 !important;
        top: 0 !important;
        padding: 40px 0 !important;
        height: auto !important;
        position: absolute !important;
    }
}

.node-type-product #content .content .popout .close_popout {
    position: absolute;
    top: 6px;
    right: 16px;
    text-decoration: none;
    color: #003e69 !important;
    font-size: 10px;
    line-height: 11px;
    display: inline-block;
    padding: 6px;
    padding-right: 18px;
    background-image: url(../images/control_popout_close.png);
    background-color: transparent;
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

.node-type-product #content .content .popout h3 {
    text-align: center;
    color: #003e69 !important;
    font-weight: bold;
    font-family: "franklin-gothic-urw",sans-serif;
    margin-top: 0 !important;
    padding: 0 60px;
}

.node-type-product #content .content .popout .popout_body {
    padding-top: 0;
}

.node-type-product #content .content .popout .popout_body {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    padding-top: 0;
}

.detail_desc {
    overflow: visible;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
/*add more link*/
.summary_cut {
    overflow: hidden;
    position: relative;
}

#read-more-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 30px 0 10px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

#read-more-desc span {
    color: #134b73;
    padding: 10px;
    font-size: 16px;
}

#read-more-desc span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.node-type-product #detail_content .detail_content .detail_badge {
    position: static;
}

#size_box {
    position: relative !important;
}

#size_box .open_request_popout {
    color: #fff;
    text-indent: 0;
    position: absolute;
    z-index: 7;
    right: 5px;
    background: #666;
    bottom: 5px;
}
