/**
 * @file
 * Styles for blog pages.
 */

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSans.woff') format('woff'), url('../fonts/OpenSans/OpenSans.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light/OpenSans-Light.ttf') format('truetype'), url('../fonts/OpenSans-Light/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Narrow';
  src: url('../fonts/Helvetica-Narrow/Helvetica-Narrow.eot?#iefix') format('embedded-opentype'), url('../fonts/Helvetica-Narrow/Helvetica-Narrow.woff') format('woff'), url('../fonts/Helvetica-Narrow/Helvetica-Narrow.ttf') format('truetype'), url('../fonts/Helvetica-Narrow/Helvetica-Narrow.svg#Helvetica-Narrow') format('svg');
  font-weight: normal;
  font-style: normal;
}

.page-blogs #subcontent {
  padding: 50px 25px;
}

.page-blogs #subcontent .pane-shurtape-blogs .view-content {
  padding-right: 20px;
}

.page-blogs #subcontent .pane-shurtape-blogs .views-row {
  padding: 0 0 32px 0;
  border-bottom: solid 1px #003e69;
}

.page-blogs #subcontent .pane-shurtape-blogs h2 {
  margin: 0;
  padding-left: 10px;
  color: #f57e20;
  font-weight: bold;
  font-size: 21px;
  font-family: 'Helvetica-Narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 24px;
}

.page-blog-view #subcontent .pane-node-field-blog-category div.field-item,
.page-blogs #subcontent .pane-shurtape-blogs .view-header > h3 {
  display: block;
  float: none;
  clear: both;
  overflow: hidden;
  margin: 10px 0 0;
  padding: 0 18px;
  min-height: 32px;
  background-color: #003e69;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  line-height: 32px;
}

.page-blog-view #subcontent .pane-node-title,
.page-blogs #subcontent .pane-shurtape-blogs .views-field-title {
  margin-top: 24px;
  padding: 0 18px;
}

.page-blog-view #subcontent .pane-node-title h3,
.page-blogs #subcontent .pane-shurtape-blogs .views-field-title a {
  margin: 0;
  color: #003e69;
  text-decoration: none;
  font-size: 19px;
  font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
  line-height: 24px;
}

.page-blog-view .panel-separator {
  margin: 0;
}

.page-blog-view #subcontent .pane-node-created,
.page-blogs #subcontent .pane-shurtape-blogs .views-field-created {
  margin-bottom: 14px;
  padding: 0 18px;
  color: #323232;
  font-size: 13px;
  font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
  line-height: 16px;
}

.page-blog-view #subcontent .pane-node-body img.additional-image {
  float: right;
  clear: right;
  margin-top: 13px;
  margin-left: 22px;
  border-top: 1px solid #b4b4b4;
  border-left: 1px solid #b4b4b4;
  box-shadow: -1px -1px 4px #b4b4b4;
}

.page-blog-view #subcontent #spacer {
  float: right;
  width: 0;
}

.page-blog-view #subcontent .pane-node-field-blog-main-image,
.page-blogs #subcontent .pane-shurtape-blogs .views-field-field-blog-main-image {
  float: left;
  padding-right: 22px;
  padding-bottom: 13px;
}

.page-blog-view #subcontent .pane-node-field-blog-main-image img,
.page-blogs #subcontent .pane-shurtape-blogs .views-field-field-blog-main-image img {
  border-right: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
  box-shadow: 1px 1px 4px #b4b4b4;
}

.page-blogs #subcontent .pane-shurtape-blogs .views-field-sharethis {
  float: left;
  clear: left;
  width: 234px;
}

.page-blog-view #subcontent .pane-sharethis {
  margin-top: 50px;
}

.page-blog-view #subcontent .pane-sharethis .stButton,
.page-blogs #subcontent .pane-shurtape-blogs .views-field-sharethis .stButton {
  margin: 0 5px 0 0;
}

.page-blog-view #subcontent .pane-sharethis .stButton .stLarge,
.page-blogs #subcontent .pane-shurtape-blogs .views-field-sharethis .stButton .stLarge {
  width: 22px;
  height: 22px;
  background-size: cover;
}

.page-blog-view #subcontent .pane-sharethis .stButton .stLarge:hover,
.page-blogs #subcontent .pane-shurtape-blogs .views-field-sharethis .stButton .stLarge:hover {
  background-position: -22px;
}

.page-blog-view #subcontent .pane-node-body div.field-item,
.page-blogs #subcontent .pane-shurtape-blogs .views-field-body {
  margin-top: -3px;
  color: #323232;
  font-size: 13px;
  font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
  line-height: 16px;
}

.page-blogs #subcontent .pane-shurtape-blogs .views-field-view-node:after,
.page-blogs #subcontent .pane-shurtape-blogs .views-field-view-node:before {
  display: table;
  clear: both;
  content: " ";
}

.page-blogs #subcontent .pane-shurtape-blogs .view-empty {
  margin-top: 24px;
  padding: 0 18px;
  font-size: 15px;
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  line-height: 34px;
}

.page-blogs #subcontent .pane-shurtape-blogs .views-field-view-node {
  margin-top: 25px;
}

.page-blogs #subcontent .pane-shurtape-blogs .views-field-view-node a {
  display: block;
  float: right;
  width: 152px;
  height: 34px;
  background: url(../images/btn-readmore.png) no-repeat 0 0;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  line-height: 34px;
}

.page-blogs #subcontent .pane-shurtape-blogs .views-field-view-node a:hover,
.page-blogs #subcontent .pane-shurtape-blogs .views-field-view-node a:active {
  border-radius: 20px;
  background: #e77b11;
}

.page-blogs #subcontent .panels-flexible-region.blog-right-sidebar {
  width: 22.8270%;
}

.page-blog-view #subcontent .panels-flexible-region.blog-right-sidebar {
  width: 23.770%;
}


.page-blogs .panels-flexible-region-6-center {
  width: 100%;
}

#subcontent .pane-blog-right-sidebar {
  margin-top: 38px;
}

body.page-blogs-by-term #subcontent .pane-blog-right-sidebar,
body.page-blog-view #subcontent .pane-blog-right-sidebar {
  margin-top: 80px;
}

#subcontent .pane-blog-right-sidebar h2 {
  padding-right: 17px;
  background: transparent url(../images/bg_blog_heading.png) no-repeat 0 0;
  text-align: right;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
  line-height: 36px;
}

#subcontent .pane-blog-right-sidebar .pane-blog-authors {
  margin-top: 53px;
}

#subcontent .pane-blog-right-sidebar .pane-blog-authors ul,
#subcontent .pane-blog-right-sidebar .pane-blog-categories ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#subcontent .pane-blog-right-sidebar .pane-blog-authors ul li,
#subcontent .pane-blog-right-sidebar .pane-blog-categories ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#subcontent .pane-blog-right-sidebar .pane-blog-authors .pane-content > ul > li > a,
#subcontent .pane-blog-right-sidebar .pane-blog-categories .pane-content > ul > li > a {
  position: relative;
  display: block;
  margin: 15px 0 18px 18px;
  padding: 10px 10px 10px 35px;
  border: 1px solid #bbb;
  background: transparent url(../images/bg_grid_box.jpg) repeat 0 0;
  color: #003e69;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
  line-height: 15px;
}

#subcontent .pane-blog-right-sidebar .pane-blog-authors .pane-content > ul > li > a {
  padding: 10px;
}

#subcontent .pane-blog-right-sidebar .pane-blog-categories .pane-content > ul > li > a:hover,
#subcontent .pane-blog-right-sidebar .pane-blog-authors .pane-content > ul > li > a:hover {
  text-decoration: underline;
}

#subcontent .pane-blog-right-sidebar .pane-blog-categories .pane-content > ul > li ul {
  margin: -5px 0;
  padding-left: 33px;
}

#subcontent .pane-blog-right-sidebar .pane-blog-categories .pane-content > ul > li ul li {
  margin-bottom: 3px;
}

#subcontent .pane-blog-right-sidebar .pane-blog-categories .pane-content > ul > li ul li a {
  display: inline-block;
  padding-left: 14px;
  background: transparent url(../images/icon_bullet.png) no-repeat 0 5px;
  color: #003e69;
  text-decoration: none;
}

#subcontent .pane-blog-right-sidebar .pane-blog-categories .pane-content > ul > li ul li a:hover {
  text-decoration: underline;
}

#subcontent .pane-blog-right-sidebar .pane-blog-categories .pane-content > ul > li > a:before {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: transparent url(../images/btn_filter_arrow.png) no-repeat 50% 50%;
  content: " ";
}

#subcontent .pane-blog-right-sidebar .pane-blog-categories .pane-content > ul > li.expanded > a:before {
  background: transparent url(../images/btn_filter_arrow_open.png) no-repeat 50% 50%;
}

#content .pane-shurtape-blog-shurtape-notification-signup .help-text {
  margin-top: 45px;
  margin-bottom: 10px;
  color: #003e69;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
  line-height: 18px;
}

#content .pane-shurtape-blog-shurtape-notification-signup .actions {
  display: table;
  margin: 0 0 0 auto;
}

#content .pane-shurtape-blog-shurtape-notification-signup .actions a {
  display: block;
  width: 202px;
  height: 46px;
  margin-bottom: 15px;
  background: url(../images/btn-signup.png) no-repeat 0 0;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  line-height: 46px;
}

#content .pane-shurtape-blog-shurtape-notification-signup .actions a:hover,
#content .pane-shurtape-blog-shurtape-notification-signup .actions a:active {
  border-radius: 25px;
  background: #e77b11;
}

#content .pane-shurtape-blog-shurtape-notification-signup .actions .ajax-progress {
  display: none;
}

body.page-blog-view #subcontent .pane-node-comments {
  border-top: solid 1px #003e69;
}

body.page-blog-view #subcontent .pane-node-comments .comment-title {
  margin: 0 0 25px;
  font-size: 16px;
  font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
  line-height: 18px;
}

body.page-blog-view #subcontent .pane-node-comments .comment-title a {
  color: #323232;
  text-decoration: none;
}

body.page-blog-view #subcontent .pane-node-comments .pane-content > div.comment {
  margin-top: 40px;
}

body.page-blog-view #subcontent .pane-node-comments .content {
  color: #323232;
  font-size: 12px;
  font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
  line-height: 18px;
}

body.page-blog-view #subcontent .pane-node-comments .content .field-item p {
  margin-bottom: 0;
}

body.page-blog-view #subcontent .pane-node-comments .links a {
  text-decoration: none;
}

body.page-blog-view #subcontent form.comment-form div[id*="edit-author"],
body.page-blog-view #subcontent form.comment-form .grippie {
  display: none;
}

body.page-blog-view #subcontent .pane-node-comments .links li {
  padding: 0;
}

body.page-blog-view #subcontent .pane-node-comments .submitted {
  display: none;
}

body.page-blog-view #subcontent .pane-node-field-youtube-video-id {
  float: left;
  clear: both;
  padding: 5px 10px 0 0;
  max-width: 458px;
  width: 100%;
}

body.page-blog-view #subcontent form.comment-form input[type="submit"] {
  display: block;
  width: 152px;
  height: 34px;
  border: 0;
  background: url(../images/btn-readmore.png) no-repeat 0 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  line-height: 34px;
}

body.page-blog-view #subcontent form.comment-form input[type="submit"]:hover {
  border-radius: 20px;
  background: #e77b11;
}

body.not-logged-in.page-blog-view #content .pane-node-comment-form a {
  display: block;
  margin-top: 15px;
  margin-bottom: 25px;
  width: 222px;
  height: 34px;
  border: 0;
  background: url(../images/btn-post-comments.png) no-repeat 0 0;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 14px;
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  line-height: 34px;
}

body.not-logged-in.page-blog-view .pane-node-comments .comment .links {
  display: none;
}

body.page-blogs #content .item-list > ul.pager {
  margin: 35px 0;
}

body.page-blogs #content .item-list > ul.pager li {
  margin-right: 15px;
  border: solid 1px #003e69;
  border-radius: 0;
  background: #fff;
  color: #003e69;
  font-size: 15px;
  font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
  line-height: 18px;
}

body.page-blogs #content .item-list > ul.pager li.last {
  margin-right: 0;
}

body.page-blogs #content .item-list > ul.pager li a {
  margin: 0;
  padding: 6px 11px;
  color: #003e69;
}

body.page-blogs #content .item-list > ul.pager li.pager-current {
  padding: 6px 11px;
}

body.page-blogs #content .item-list > ul.pager li.pager-current,
body.page-blogs #content .item-list > ul.pager li:hover {
  background: #003e69;
  color: #fff;
}

body.page-blogs #content .item-list > ul.pager li.pager-current a,
body.page-blogs #content .item-list > ul.pager li:hover a {
  color: #fff;
}

body.page-admin-structure-taxonomy-newsletter #taxonomy tr th:last-child,
body.page-admin-structure-taxonomy-newsletter ul.action-links {
  font-size: 0;
}

.blog-modal-signup#modalContent {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 10000;
  display: block;
  overflow: hidden;
}

.blog-modal-signup legend {
  color: #003e69;
  font-weight: bold;
  font-size: 22px;
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  line-height: 40px;
}

.blog-modal-signup .fieldset-description {
  font-size: 15px;
  font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
  line-height: 18px;
}

.blog-modal-signup .form-item-mail label {
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
}

.blog-modal-signup input[type="text"] {
  display: block;
  padding: 6px 12px;
  width: 100%;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  color: #555;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.blog-modal-signup input[type="text"]:focus {
  outline: 0;
  border-color: #66afe9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.blog-modal-signup input[type="text"]:-moz-placeholder {
  color: #999;
}

.blog-modal-signup input[type="text"]::-moz-placeholder {
  color: #999;
}

.blog-modal-signup input[type="text"]:-ms-input-placeholder {
  color: #999;
}

.blog-modal-signup input[type="text"]::-webkit-input-placeholder {
  color: #999;
}

.blog-modal-signup input[type="submit"] {
  display: inline-block;
  margin-right: 10px;
  width: 152px;
  height: 34px;
  border: 0;
  background: url(../images/btn-readmore.png) no-repeat 0 0;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  line-height: 34px;
}

.blog-modal-signup input[type="submit"]:hover {
  border-radius: 20px;
  background: #e77b11;
}

.blog-modal-signup .form-checkboxes .form-item {
  position: relative;
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #bbb;
  background: transparent url(../images/bg_grid_box.jpg) repeat 0 0;
  color: #003e69;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
  line-height: 15px;
}

.blog-modal-signup .form-checkboxes .form-item input {
  margin: -4px 0 0;
}

.blog-modal-signup .modal-title {
  font-size: 18px;
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  line-height: 40px;
}

.blog-modal-signup .modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #003e69;
}

.blog-modal-signup .modal-header a.close {
  margin: 0;
}

.blog-modal-signup .modal-header a.close > button.close {
  margin: 0 10px 0 0;
  line-height: 40px;
  opacity: 1;
}

.blog-modal-signup .ctools-modal-content {
  position: relative;
  margin: 50px auto;
  max-width: 550px;
  height: auto !important;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.blog-modal-signup #modal-content {
  position: relative;
  padding: 15px;
  width: 100% !important;
  height: auto !important;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

#modalBackdrop {
  background: rgb(0, 0, 0) !important;
}

.page-newsletter-confirm #content .content {
  padding: 10px;
  font-size: 15px;
  font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
  line-height: 15px;
}

.page-newsletter-confirm #content .content .item-list {
  font-size: 15px;
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  line-height: 15px;
}

.page-newsletter-confirm #content .content input[type="submit"] {
  display: inline-block;
  margin-right: 10px;
  width: 152px;
  height: 34px;
  border: 0;
  background: url(../images/btn-readmore.png) no-repeat 0 0;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  line-height: 34px;
}

.page-newsletter-confirm #content .content input[type="submit"]:hover {
  border-radius: 20px;
  background: #e77b11;
}

.view-id-comments .views-row {
  margin: 20px 0;
}
.view-id-comments .views-row h3 {
  margin: 0;
  font-size: 16px;
  font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
  line-height: 18px;
}
.view-id-comments .views-row h3 a {
  color: #323232 !important;
  text-decoration: none !important;
}
.view-id-comments .views-row em {
  color: #323232;
  font-size: 13px;
  font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
  line-height: 16px;
}
.view-id-comments .views-row .views-field-comment-body {
  color: #323232;
  font-size: 12px;
  font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
  line-height: 18px;
  margin: 5px 0;
}
.view-id-comments .views-row .views-field-edit-comment a {
  text-decoration: none !important;
}
