/**
 * Shurtape - mobile CSS (responsiveness)
 */
.mobile {
  display: none;
}

.desktop {
  display: block;
}

@media (max-width: 640px) {

  /* global + common */
  body {
    min-width: 240px !important;
  }

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="phone"] {
    height: 36px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="phone"],
  textarea {
    padding: 8px 14px;
    border: 1px solid #ccc;
    background-color: #eaeaeb;
    -webkit-box-shadow: inset 1px 1px 2px #999;
    -moz-box-shadow: inset 1px 1px 2px #999;
    box-shadow: inset 1px 1px 2px #999;
  }

  .fixed_wrap {
    width: 100%;
  }

  .white_box {
    padding: 0;
  }

  .padded_body {
    padding: 0 20px 20px;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .page-user .content .form-item {
    width: 100%;
  }

  .page-user .content {
    padding: 0 20px 20px;
  }

  .mobile_link_icon {
    position: absolute;
    top: 28%;
    left: 32%;
    z-index: 999;
    display: block;
    width: 8%;
  }

  .blog-right-sidebar {
    display: none;
  }

  .page-blogs .blog-region-center {
    width: 100%;
  }
  .page-blogs #subcontent .pane-shurtape-blogs .view-content {
    padding-right: 0;
  }

  /* mobile breadcrumbs */
  .mobile_breadcrumbs {
    margin-top: 20px;
    padding: 0 16px;
    color: #000;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif !important;
  }

  .mobile_breadcrumbs a {
    color: #000 !important;
  }

  .mobile_breadcrumbs .breadcrumbs a {
    color: #000 !important;
    text-decoration: underline !important;
  }

  .mobile_breadcrumbs nav.breadcrumbs {
    display: inline;
  }

  .mobile_breadcrumbs .you_are_here {
    font-family: Arial, Helvetica, sans-serif !important;
  }

  .headline {
    margin-top: 1.4em;
    margin-bottom: 10px;
    padding-left: 16px;
    font-size: 2em;
  }

  /* buttons */
  .btn {
    display: block;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    -webkit-border-radius: 0.4em !important;
    -moz-border-radius: 0.4em !important;
    border-radius: 0.4em !important;
    background-image: -moz-linear-gradient(top, #f1f3f3, #dfe1e1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f3f3), to(#dfe1e1));
    background-image: -webkit-linear-gradient(top, #f1f3f3, #dfe1e1);
    background-image: -o-linear-gradient(top, #f1f3f3, #dfe1e1);
    background-image: linear-gradient(to bottom, #f1f3f3, #dfe1e1);
    color: #003e69;
    font-size: 1.8em !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff1f3f3', endColorstr='#ffdfe1e1', GradientType=0);
  }

  .btn.btn-orange {
    background-image: -moz-linear-gradient(top, #f7882c, #f07b19);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7882c), to(#f07b19));
    background-image: -webkit-linear-gradient(top, #f7882c, #f07b19);
    background-image: -o-linear-gradient(top, #f7882c, #f07b19);
    background-image: linear-gradient(to bottom, #f7882c, #f07b19);
    color: #582c01 !important;
    text-shadow: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7882c', endColorstr='#fff07b19', GradientType=0);
  }

  .node-type-webform #content #edit-actions .form-submit {
    display: block;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    width: 100%;
    -webkit-border-radius: 0.4em !important;
    -moz-border-radius: 0.4em !important;
    border-radius: 0.4em !important;
    background-image: -moz-linear-gradient(top, #f7882c, #f07b19);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7882c), to(#f07b19));
    background-image: -webkit-linear-gradient(top, #f7882c, #f07b19);
    background-image: -o-linear-gradient(top, #f7882c, #f07b19);
    background-image: linear-gradient(to bottom, #f7882c, #f07b19);
    color: #582c01 !important;
    text-shadow: none;
    font-size: 1.4em !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7882c', endColorstr='#fff07b19', GradientType=0);
  }

  /* div tables */
  .div_table .heading_row {
    display: none;
  }

  .div_table .div_table_row {
    margin-bottom: 0;
  }

  .div_table .div_table_col {
    display: block;
    float: none;
    clear: both;
    width: 100% !important;
  }

  /* header */
  #mobile_header {
    position: relative;
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #mobile_header .control_bar {
    position: relative;
    display: block;
    clear: both;
    overflow: hidden;
    width: 100%;
    background-color: #003e69;
  }

  #mobile_header .control_bar .menu_control {
    float: left;
    padding: 1em 1em 1em 3.5em;
    width: 30%;
  }

  #mobile_header .control_bar .tab_control {
    position: absolute;
    right: 0;
    bottom: 0;
    float: right;
    width: 39%;
  }

  /* mobile logo bar */
  .mobile.logo_bar {
    clear: both;
    overflow: hidden;
    padding: 0;
    background-color: #d6d6d6;
    background-image: none;
  }

  .mobile.logo_bar #logo {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 2em 0 2em 2em;
    width: 61%;
  }

  .mobile.logo_bar #logo_cta {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 1.8em 0.6em 1.8em 0;
    width: 39%;
  }

  /* mobile nav */
  #mobile_nav {
    z-index: 2003;
    display: none;
    margin-left: -61%;
    width: 61%;
  }

  #mobile_nav h2 {
    margin: 0;
    padding: 0;
    background-color: #f57e20;
    color: #fff;
    font-size: 1em;
  }

  #mobile_nav h2 a {
    display: block;
    margin: 0;
    padding: 0.6em 1em;
    border-top: 2px solid #f7984d;
    border-bottom: 2px solid #d76c24;
    background-color: #f57e20;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
  }

  #mobile_nav .search_box {
    overflow: hidden;
    padding: 0.6em;
    background-color: #bc9268;
  }

  #mobile_nav .search_box .input_wrap {
    position: relative;
    display: block;
    padding-right: 54px;
    height: 46px;
    background-image: url(../images/control_mobile_nav_search.png);
    background-position: 99% 50%;
    background-repeat: no-repeat;
  }

  #mobile_nav .search_box .input_wrap input[type="text"] {
    display: block;
    height: 46px;
    border: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  #mobile_nav .search_box .submit_this_form {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 62px;
    height: 62px;
  }

  #mobile_nav .mobile_toggle_box .mobile_toggle_control {
    background-color: transparent;
    background-image: url(../images/control_mobile_expand_orange.png);
    background-position: 96% 50%;
    background-repeat: no-repeat;
  }

  #mobile_nav .mobile_toggle_box.open .mobile_toggle_control {
    background-image: url(../images/control_mobile_collapse_orange.png);
  }

  #mobile_nav .mobile_toggle_target {
    display: none;
  }

  #mobile_nav .mobile_toggle_box.open .mobile_toggle_target {
    display: block;
  }

  #mobile_nav ul.sub_menu {
    margin: 0;
    padding: 0;
    background-color: #9b9b9b;
    list-style-type: none;
  }

  #mobile_nav ul.sub_menu li {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  #mobile_nav ul.sub_menu li .blue_corner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 25px;
    height: 20px;
    background-color: transparent;
    background-image: url(../images/graphic_mobile_nav_corner.png);
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  #mobile_nav ul.sub_menu li a {
    display: block;
    clear: both;
    overflow: hidden;
    padding: 0.3em 1.6em;
    border-bottom: 1px solid #c1c1c1;
    background-color: #e4e6e7;
    color: #003e69;
    font-weight: bold;
    font-size: 1.8em;
  }

  #mobile_nav ul.sub_menu li a:hover {
    color: #003e69 !important;
    text-decoration: none !important;
  }

  #mobile_nav ul.sub_menu li > ul.menu {
    margin: 0;
    padding: 0;
  }

  #mobile_nav ul.sub_menu li > ul.menu > li.expanded > a {
    background-image: url(../images/control_mobile_nav_expand.png);
    background-position: 96% 50%;
    background-repeat: no-repeat;
  }

  #mobile_nav ul.sub_menu li > ul.menu > li.expanded.open > a {
    background-image: url(../images/control_mobile_nav_collapse.png);
  }

  #mobile_nav ul.sub_menu li > ul.menu > li > ul.menu {
    display: none;
    padding-left: 1em;
  }

  #mobile_nav ul.sub_menu li > ul.menu > li.open > ul.menu {
    display: block;
  }

  #mobile_nav ul.sub_menu li > ul.menu > li > ul.menu a {
    font-size: 1.5em;
  }

  #mobile_nav ul.sub_menu li > ul.menu > li > ul.menu > li > a {
    background-image: none;
  }

  #mobile_nav .item-list ul {
    margin: 0;
  }

  #mobile_nav #mobile_products_menu .item-list ul li > .item-list ul.open {
    padding-left: 1em;
  }

  #mobile_nav #mobile_products_menu ul.sub_menu li > ul.menu > li.expanded.open > a,
  #mobile_nav #mobile_products_menu .mobile_filter_box li > ul.menu > a {
    padding: 0.6em 0.6em 0.6em 2.5em;
    background-position: 0.8em 50%;
    background-repeat: no-repeat
  }

  #mobile_nav #mobile_products_menu ul.sub_menu li > ul.menu > li.expanded > a {
    padding: 0.6em 0.6em 0.6em 2.5em;
    background-position: 0.8em 50%;
  }

  #mobile_nav #mobile_products_menu ul.sub_menu li > ul.menu > li.expanded > a,
  #mobile_nav #mobile_products_menu .mobile_filter_box li > ul.menu > a.closed {
    background-image: url(../images/btn_mobile_nav_sub.png);
  }

  #mobile_nav #mobile_products_menu ul.sub_menu li > ul.menu > li.expanded.open > a,
  #mobile_nav #mobile_products_menu .mobile_filter_box li > ul.menu > a {
    background-image: url(../images/btn_mobile_nav_sub_open.png);
  }

  #mobile_nav #mobile_products_menu ul.sub_menu h3.blue_bar {
    margin: 0;
    padding: 0.8em 1.5em;
    min-height: 1em;
    color: #fff !important;
    font-weight: bold;
    font-size: 1.6em;
    line-height: 1em;
  }

  #mobile_nav #mobile_products_menu ul.sub_menu ul.toggle_target li a {
    padding: 0.6em 0.6em 0.6em 1.8em;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #c1c1c1;
    background-color: #f5f6f7;
    background-position: 0.8em 1em;
    background-repeat: no-repeat;
  }

  #mobile_nav ul.sub_menu li > ul.menu > li.expanded.open > ul.menu > .item-list > ul.toggle_target > li > a {
    background-image: url(../images/btn_mobile_orange_arrow.png);
    color: #f57e20 !important;
  }

  #mobile_nav ul.sub_menu li > ul.menu > li.expanded.open > ul.menu > .item-list > ul.toggle_target > li.open > a {
    background-image: url(../images/btn_mobile_orange_arrow_open.png);
  }

  #mobile_nav ul.sub_menu li > ul.menu > li.expanded.open > ul.menu > .item-list > ul.toggle_target > li > .item-list > ul > li > a {
    background-image: url(../images/btn_mobile_blue_arrow.png);
    font-weight: normal;
  }

  #mobile_nav ul.sub_menu li > ul.menu > li.expanded.open > ul.menu > .item-list > ul.toggle_target > li > .item-list > ul > li.open > a {
    background-color: #d6d6d6 !important;
    background-image: url(../images/btn_mobile_blue_arrow_open.png);
  }

  #mobile_nav ul.sub_menu li > ul.menu > li.expanded.open > ul.menu > .item-list > ul.toggle_target > li > .item-list > ul > li > .item-list > ul > li > a {
    padding-left: 1.2em;
    font-weight: normal;
  }

  #mobile_nav #mobile_products_menu .mobile_filter_box li > ul.menu > .toggle_target .item-list {
    padding-left: 1em;
  }

  #mobile_nav #mobile_products_menu .mobile_filter_box li > ul.menu > .toggle_target .item-list ul {
    background-color: #f5f6f7;
    list-style-type: none;
  }

  #mobile_nav #mobile_products_menu .mobile_filter_box li > ul.menu > .toggle_target .item-list ul li {
    position: relative;
    padding: 0.4em;
    padding-left: 2em;
    min-height: 2.4em;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #c1c1c1;
    list-style-image: none;
    font-weight: normal;
    font-size: 1.6em;
  }

  #mobile_nav #mobile_products_menu .mobile_filter_box li > ul.menu > .toggle_target .item-list ul li a {
    padding: 0;
    border-top: none;
    border-bottom: none;
    background-color: #f5f6f7;
    font-size: 1em;
  }

  #mobile_nav #mobile_products_menu .mobile_filter_box li > ul.menu > .toggle_target .item-list ul li input[type="checkbox"] {
    position: absolute;
    top: 0.4em;
    left: 0.4em;
    width: 1em;
    height: 1em;
  }

  #mobile_nav #mobile_nav_footer {
    display: block;
    padding: 2em;
    background-color: #003e69;
  }

  #mobile_nav #mobile_nav_footer a {
    display: block;
    clear: both;
    overflow: hidden;
  }

  #mobile_nav #mobile_nav_footer a#cta_mobile_nav {
    margin-top: 1em;
    padding: 1em;
  }

  #mobile_nav #mobile_nav_footer a#cta_mobile_nav img {
    display: block;
    margin: 0 auto;
    width: 70%;
  }

  /* shifted elements (on mobile nav reveal) */
  .mobile_nav_open .shift_box {
    position: fixed;
    left: 61%;
    width: 100%;
  }

  .mobile_nav_open #mobile_header {
    position: fixed;
    z-index: 2005;
  }

  .mobile_nav_open #mobile_nav {
    position: absolute;
    display: block;
    margin-left: 0;
  }

  .mobile_nav_open .nav_overlay {
    position: fixed;
    z-index: 2002;
    display: block;
    min-height: 9999px;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
  }

  /* arrow nav for videos and recently viewed */
  .arrow_control {
    position: absolute;
    top: 0;
    z-index: 203;
    width: 10%;
    height: 100%;
    background-color: transparent;
    background-position: 50% 50%;
    background-size: 90%;
    background-repeat: no-repeat;
  }

  .arrow_control.prev {
    left: 0;
    background-image: url(../images/btn_subnav_mobile_arrow_left.png);
  }

  .arrow_control.next {
    right: 0;
    background-image: url(../images/btn_subnav_mobile_arrow_right.png);
  }

  /* content */
  #content {
    padding-bottom: 0;
    min-height: 1px;
  }

  #content .white_box {
    border: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  #content #main.fixed_wrap.white_box {
    padding-bottom: 0;
  }

  /* footer */
  #mobile_footer {
    padding: 1em 10px 4em;
  }

  #mobile_footer .logo_bar {
    clear: both;
    overflow: hidden;
    padding: 0;
    background-color: transparent;
    background-image: none;
  }

  #mobile_footer .logo_bar #logo {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 1em 0 1.6em 1em;
    width: 58%;
  }

  #mobile_footer .logo_bar #logo_cta {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 1em 1em 1.6em 0;
    width: 42%;
  }

  #mobile_footer ul.footer_links {
    margin-bottom: 1.6em;
  }

  #mobile_footer ul.footer_links li {
    margin-bottom: 1em;
  }

  #mobile_footer ul.footer_links .btn {
    font-size: 2em;
  }

  #mobile_footer h4 {
    margin-bottom: 1em;
    color: #fff;
    text-decoration: none;
    font-style: normal;
  }

  #mobile_footer ul.mobile_social {
    display: block;
    clear: both;
    overflow: hidden;
    margin-right: -5px;
    margin-bottom: 1.6em;
    margin-left: -5px;
  }

  #mobile_footer ul.mobile_social li {
    display: inline-block;
    float: left;
    clear: none;
    margin: 0 1%;
    width: 23%;
  }

  #mobile_footer .view-social-icons-home ul li {
    display: inline-block;
    float: left;
    clear: none;
    margin: 1% 1%;
    padding: 2.5% 8%;
    width: 23%;
    background: transparent url(../images/btn_mobile_footer_social.png) no-repeat;
    background-size: 100% auto;
    text-align: center;
  }

  #mobile_footer .view-social-icons-home ul li img {
    width: 100%;
    height: auto;
  }

  #mobile_footer .back_to_top {
    margin: 0 auto;
    text-align: center;

  }

  #mobile_footer .back_to_top a {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    padding: 1.8em 0;
    width: 36%;
    text-align: center;
  }

  #mobile_footer h4 {
    text-transform: none;
    font-size: 1.4em;
  }

  /**
	 * video modal
	 */
  #video_modal .modal-dialog {
    padding: 1em !important;
    width: 100% !important;
  }

  #video_modal .modal-content {
    width: 100%;
    height: auto;
  }

  #video_modal .modal-content .modal-header {
    height: 1em;
  }

  #video_modal .modal-content .modal-header .close {
    top: -1.4em;
    right: -1.4em;
  }

  #video_modal .modal-content .modal-body {
    width: 100%;
    height: auto;
  }

  /**
	 * page-specific styles
	 */
  /**
	 * homepage
	 */
  /* slideshow */
  .front #marquee,
  .page-blogs #marquee,
  .promotions #marquee {
    display: block;
    overflow: hidden;
    background-color: #fff;
  }

  .front .mobile_breadcrumbs {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #fff;
  }

  .slideshow img {
    width: 100%;
    height: auto;
  }

  .slideshow .slides {
    width: 100%;
    height: auto;
  }

  .slideshow .controls {
    top: auto;
    right: 20px;
    bottom: 40px;
    left: auto;
  }

  .front #marquee,
  .page-blogs #marquee,
  .promotions #marquee {
    min-height: 1px;
    width: 100%;
    height: auto;
  }

  .page-blogs #subcontent {
    margin-top: 0;
    padding-top: 0;
    width: 100%;
  }

  .front #subcontent {
    margin-top: 0;
    padding: 0;
    width: 100%;
  }

  .front #subcontent #cta_nav {
    padding: 1em 16px;
  }

  .front #subcontent #cta_nav .intro {
    display: none;
  }

  .front #subcontent #cta_nav .primary {
    display: block;
    float: none !important;
    clear: both;
    overflow: hidden;
    padding: 1em 0;
    width: 100% !important;
  }

  .front #subcontent #cta_nav .separator {
    margin: 0;
    margin-bottom: 1em;
    padding: 1em 0;
    width: 100%;
    height: auto;
    background-image: url(../images/bg_cta_separator_mobile.png);
    text-transform: uppercase;
    line-height: 1em;
  }

  .front #subcontent #cta_nav .secondary {
    display: block;
    clear: both;
    overflow: hidden;
    padding: 0;
    width: 100%;
  }

  .front #subcontent #cta_nav .secondary .btn {
    margin-bottom: 1em;
    padding: 1em 0;
    width: 100%;
  }

  .front #subcontent hr {
    display: none;
  }

  .front .product_grid {
    padding: 0;
  }

  .front .product_grid h2 {
    margin: 0;
    padding: 0.8em 2em !important;
    background-color: #c5c5c5;
    text-align: center;
    font-size: 1.2em !important;
    line-height: 1.6em;
  }

  .front .product_grid ul {
    margin-bottom: 0 !important;
  }

  .front .product_grid ul li {
    position: relative;
    display: table;
    clear: both;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
  }

  .front .product_grid ul li a {
    position: relative;
    display: table;
    width: 100%;
  }

  .front .product_grid ul li a.item {
    border-right: none;
    border-bottom: none;
    background-color: #e4e6e7;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-decoration: none !important;
  }

  .front .product_grid ul li .item_title {
    background-color: #e4e6e7 !important;
  }

  .front .product_grid ul li .item_image {
    display: table-cell !important;
    width: 44% !important;
    height: auto;
  }

  .front .product_grid ul li .item_content {
    position: relative !important;
    display: table-cell;
    width: 56% !important;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #b7b9ba;
    vertical-align: middle;
  }

  .front .product_grid ul li .item_content .cta_arrow {
    display: none;
  }

  .front .product_grid ul li .mobile_link_icon {
    top: 36%;
    left: 40%;
  }

  /**
	 * previously viewed carousel
	 */
  .front #subcontent .mobile_carousel {
    position: relative;
    clear: both;
    overflow: hidden;
    margin: 0 2em;
  }

  .front #subcontent .mobile_carousel h2 {
    color: #003e69;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6em;
  }

  .front #subcontent .mobile_carousel .slide {
    overflow: hidden;
  }

  .front #subcontent .mobile_carousel .slide a {
    display: block;
    color: #000 !important;
    text-decoration: none !important;
  }

  .front #subcontent .mobile_carousel .slide img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .front #subcontent .mobile_carousel .control {
    position: absolute;
    top: 50%;
    display: block;
    width: 10%;
    height: auto;
  }

  .front #subcontent .mobile_carousel .control.prev {
    left: 0;
  }

  .front #subcontent .mobile_carousel .control.next {
    right: 0;
  }

  .front #subcontent .mobile_carousel .slide_window {
    position: relative;
    display: block;
    float: none;
    clear: both;
    overflow: hidden;
    margin: 1em auto;
    width: 74%;
  }

  .front #subcontent .mobile_carousel .item {
    display: inline-block;
    float: left;
    padding: 1em;
    width: 100%;
    height: auto;
    color: #000 !important;
    text-decoration: none;
  }

  .front #subcontent .mobile_carousel .item .item_thumb {
    display: block;
    clear: both;
    margin-bottom: 1em;
  }

  .front #subcontent .mobile_carousel .item .item_title {
    display: block;
    clear: both;
    margin-top: 0.8em;
    font-weight: bold;
    font-size: 1.8em;

  }

  .front #subcontent .mobile_carousel .item .item_desc {
    display: block;
    clear: both;
    margin-bottom: 1em;
    font-weight: normal;
    font-size: 1.6em;
  }

  .front #subcontent .mobile_carousel .item .item_category {
    display: block;
    clear: both;
    text-transform: uppercase;
    font-size: 1em;
  }

  /* mobile toggle blocks */
  #mobile_toggle .mobile_toggle_box > h4 {
    margin: 0;
    border-top: 2px solid #0d4771;
    border-bottom: 2px solid #00253f;
  }

  #mobile_toggle .mobile_toggle_box > h4 a {
    display: table;
    overflow: hidden;
    padding: 0.4em 0;
    width: 100%;
    background-color: #003e69;
    color: #fff;
    text-decoration: none;
  }

  #mobile_toggle .mobile_toggle_box > h4 a .icon {
    display: table-cell;
    overflow: hidden;
    padding-left: 16px;
    width: 14%;
    vertical-align: middle;
  }

  #mobile_toggle .mobile_toggle_box > h4 a .title {
    display: table-cell;
    overflow: hidden;
    padding-left: 10px;
    width: 86%;
    vertical-align: middle;
  }

  #mobile_toggle .mobile_toggle_box .mobile_toggle_target {
    display: none;
    padding: 0;
    background-color: #e3e3e3;
  }

  #mobile_toggle .mobile_toggle_box.open .mobile_toggle_target {
    display: block;
  }

  #mobile_toggle .mobile_toggle_box.open .mobile_toggle_target .related_products > h3 {
    font-weight: bold;
    font-size: 1em;
    font-family: "franklin-gothic-urw", sans-serif;
  }

  #mobile_toggle .mobile_toggle_box.open .mobile_toggle_target .related_products ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  #mobile_toggle .mobile_toggle_box.open .mobile_toggle_target .related_products ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  /* physical properties section */
  #mobile_toggle .mobile_toggle_box#physical_box .mobile_toggle_target {
    padding: 2em;
  }

  #mobile_toggle .mobile_toggle_box#physical_box .mobile_toggle_target .views-row {
    margin-bottom: 1.4em;
  }

  #mobile_toggle .mobile_toggle_box#physical_box .mobile_toggle_target .views-row > div > div {
    font-weight: bold;
  }

  #mobile_toggle .mobile_toggle_box#physical_box .mobile_toggle_target .views-row > div.views-field > div {
    font-weight: normal;
  }

  #mobile_toggle .mobile_toggle_box#physical_box .mobile_toggle_target .views-label {
    display: inline-block;
    float: left;
    margin-right: 3px;
  }

  /* markets section */
  #mobile_toggle .mobile_toggle_box#market_box .mobile_toggle_target {
    padding: 2em;
  }

  #mobile_toggle .mobile_toggle_box#market_box .mobile_toggle_target h4 {
    margin-bottom: 0.2em;
    font-weight: bold;
    font-size: 1em;
  }

  #mobile_toggle .mobile_toggle_box#market_box .mobile_toggle_target .grid_content {
    clear: both;
    overflow: hidden;
    margin-bottom: 1em;
  }

  #mobile_toggle .mobile_toggle_box#market_box .mobile_toggle_target .grid_label {
    text-align: left !important;
  }

  #mobile_toggle .mobile_toggle_box#market_box .mobile_toggle_target .field-items a {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0 1em 1em;
    width: 33.33333%;
    color: #000;
    text-align: center;
    text-decoration: none;
  }

  #mobile_toggle .mobile_toggle_box#market_box .mobile_toggle_target .field-items a img {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 80%;
  }

  /* sizes and colors section */
  #mobile_toggle .mobile_toggle_box#size_box .mobile_toggle_target .box_heading {
    display: block;
    clear: both;
    overflow: hidden;
    padding: 1.4em 2em;
    border-bottom: 2px solid #c0c0c0;
    color: #000;
    font-weight: bold;
  }

  #mobile_toggle .mobile_toggle_box#size_box .mobile_toggle_target .box_content {
    display: block;
    clear: both;
    overflow: hidden;
    padding: 0;
  }

  #mobile_toggle .mobile_toggle_box#size_box .mobile_toggle_target .box_content .views-row {
    display: inline-block;
    float: left;
    clear: none;
    margin: 0;
    padding: 2em;
    width: 50%;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #c0c0c0;
  }

  #mobile_toggle .mobile_toggle_box#size_box .mobile_toggle_target .box_content .views-row.views-row-odd {
    clear: left;
    border-right: 2px solid #c0c0c0;
  }

  #mobile_toggle .mobile_toggle_box#size_box .mobile_toggle_target .box_content .views-row.views-row-even {
    border-left: 2px solid #fff;
  }

  #mobile_toggle .mobile_toggle_box#size_box .mobile_toggle_target .box_content .views-row .views-label,
  #mobile_toggle .mobile_toggle_box#size_box .mobile_toggle_target .box_content .views-row > div > span {
    color: #003e69;
    font-weight: bold;
  }

  #mobile_toggle .mobile_toggle_box#size_box .mobile_toggle_target .box_content .views-row .field-content,
  #mobile_toggle .mobile_toggle_box#size_box .mobile_toggle_target .box_content .views-row > div > div {
    padding-left: 0.6em;
  }

  #mobile_toggle .mobile_toggle_box#size_box .mobile_toggle_target .box_footer {
    display: block;
    clear: both;
    overflow: hidden;
    padding: 1em 2em;
    border-top: 2px solid #fff;
  }

  /* downloads section */
  #mobile_toggle .mobile_toggle_box#downloads_box .mobile_toggle_target .views-row {
    display: block;
    float: none;
    clear: both;
    overflow: hidden;
    width: 100%;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #c0c0c0;
  }

  #mobile_toggle .mobile_toggle_box#downloads_box .mobile_toggle_target .views-row .field-content a {
    display: table;
    padding: 1em;
    width: 100%;
    color: #000;
    text-decoration: none;
  }

  #mobile_toggle .mobile_toggle_box#downloads_box .mobile_toggle_target .views-row img {
    display: table-cell;
  }

  #mobile_toggle .mobile_toggle_box#downloads_box .mobile_toggle_target .views-row span {
    display: table-cell;
    padding-left: 10px;
    width: 86%;
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.1em;
  }

  /* videos section */
  #mobile_toggle .mobile_toggle_box#videos_box .mobile_toggle_target {
    padding: 2em;
  }

  #mobile_toggle .mobile_toggle_box#videos_box .mobile_toggle_target .video_thumbs {
    position: relative;
  }

  #mobile_toggle .mobile_toggle_box#videos_box .mobile_toggle_target .video_thumbs ul {
    position: relative;
    margin: 0;
    padding: 1em 20% 2.6em;
    list-style-type: none;
  }

  #mobile_toggle .mobile_toggle_box#videos_box .mobile_toggle_target .video_thumbs ul li {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
  }

  #mobile_toggle .mobile_toggle_box#videos_box .mobile_toggle_target .video_thumbs ul li.vid {
    display: none;
  }

  #mobile_toggle .mobile_toggle_box#videos_box .mobile_toggle_target .video_thumbs ul li.vid.active {
    display: block;
  }

  #mobile_toggle .mobile_toggle_box#videos_box .mobile_toggle_target .video_thumbs ul li a {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0;
    text-decoration: none;
  }

  #mobile_toggle .mobile_toggle_box#videos_box .mobile_toggle_target .video_thumbs ul li a .play_overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 501;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url(../images/control_play_button_mobile.png);
    background-position: 50% 50%;
    background-size: 35%;
    background-repeat: no-repeat;
  }

  #mobile_toggle .mobile_toggle_box#videos_box .mobile_toggle_target .video_thumbs ul li a .vid_title {
    display: none;
  }

  /* contact us page */
  .node-type-webform #content #left {
    width: 100%;
  }

  .node-type-webform #content #right {
    margin-right: 0;
    padding: 10px;
    width: 100%;
  }

  .node-type-webform #content #right p {
    padding: 10px;
  }

  .node-type-webform #content #right .form_wrapper {
    width: 100%;
  }

  .node-type-webform #content #right h2 .required {
    display: block;
    clear: both;
    margin-bottom: 10px;
    padding-left: 6px;
    width: 100%;
    color: #780402;
    text-align: left;
  }

  .node-type-webform #content #webform-component-city,
  .node-type-webform #content #webform-component-states,
  .node-type-webform #content #webform-component-zip {
    width: 100%;
  }

  .node-type-webform #content #webform-component-city,
  .node-type-webform #content #webform-component-states {
    margin-bottom: 1em;
  }

  .node-type-webform .form-actions {
    margin-bottom: 2.6em;
  }

  .contact_table .region {
    padding: 0.4em 20px;
    background-color: #003e69;
    color: #e4e4e4;
    text-transform: none;
    font-size: 1.5em;
  }

  .contact_table .contact {
    padding: 0.4em 20px 1em;
    background-color: #e4e4e4;
    font-size: 1.2em;
  }

  /**
	 * about page
	 */
  .blue_arrow_box {
    position: relative;
    top: 0;
    left: 0;
    padding: 20px !important;
    width: 100%;
    -webkit-border-top-right-radius: 0 !important;
    -moz-border-radius-topright: 0 !important;
    border-top-right-radius: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
    -moz-border-radius-bottomright: 0 !important;
    border-bottom-right-radius: 0 !important;
    background-color: #2d2d2d;
    text-align: center;
    font-size: 26px;
  }

  .blue_arrow_box .pointer {
    display: none;
  }

  .blue_arrow_box:hover {
    background-color: #2d2d2d;
  }

  .node-type-page .video {
    margin-right: 0;
  }

  /**
	 * industry links page
	 */
  .page-resources-industry-links .blue_bar {
    padding: 0 16px;
  }

  /* locations page */
  .locations h2 {
    color: #f57e20;
  }

  .locations .map {
    display: none;
  }

  .locations .field-name-body {
    padding: 0 16px;
    font-size: 1.1em;
  }

  .locations .blue_bar.row {
    display: none;
  }

  .locations .blue_bar.mobile,
  .locations .mobile_pad,
  .locations h2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .locations .blue_bar.mobile h3 {
    font-size: 1.2em;
  }

  .locations .row .item {
    display: block;
    padding: 0 0 1.4em;
    width: 100%;
  }

  .locations .offices {
    margin-bottom: 1em;
    padding: 0;
  }

  /**
	 * media page
	 */
  .media_page .mobile_image {
    display: block;
    clear: both;
    overflow: hidden;
  }

  .media_page #marquee {
    margin-top: 0;
    margin-bottom: 0;
  }

  .media_page #marquee .marquee_image {
    display: none;
  }

  .media_page #marquee .marquee_content {
    padding: 2em 1em 1.2em;
  }

  .media_page .blue_bar {
    margin: 0 !important;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    font-size: 1.1em !important;
    line-height: 1.4em;
  }

  .media_page .blue_bar.subhead {
    margin-bottom: 2em !important;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }

  .media_page .blue_bar.subhead h3 {
    font-weight: bold !important;
  }

  .media_page .gray_bar {
    background-color: #fff;
  }

  .media_page #brand_assets {
    padding-top: 0 !important;
    border: none;
  }

  .media_page #brand_assets h3 {
    font-size: 1.2em;
  }

  .media_page #brand_assets ul {
    padding-left: 0;
  }

  .media_page #brand_assets ul li {
    display: table;
    margin-bottom: 0;
    padding: 1em;
    width: 100%;
  }

  .media_page #brand_assets ul li .thumb {
    width: 24%;
  }

  .media_page #brand_assets ul li .title {
    width: 76%;
  }

  .view-media-library #accordian {
    min-height: 1px;
  }

  .view-media-library #accordian .group {
    margin: 0;
    border: none;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #c0c0c0;
  }

  .view-media-library #accordian .group .box {
    padding: 1em 0 0 1em;
  }

  .view-media-library #accordian .group .box ul {
    padding-left: 0;
  }

  .view-media-library #accordian .group .box ul li {
    display: block;
    padding: 1em 1.4em;
    width: 100%;
  }

  .view-media-library #accordian .group .box ul li .field-content {
    display: table;
    clear: both;
    width: 100%;
  }

  .view-media-library #accordian .group .box ul li .field-content .thumb {
    width: 24%;
  }

  .view-media-library #accordian .group .box ul li .field-content .title {
    width: 76%;
    font-size: 18px;
  }

  .view-media-library #accordian h3 a {
    padding-left: 3em;
    font-size: 1em;
    line-height: 2.6em;
  }

  /**
	 * news and events index
	 */
  .node-type-page .events_section {
    padding-bottom: 2em;
  }

  .node-type-page ul.event_list li {
    margin-bottom: 2em;
  }

  .node-type-page ul.event_list li a {
    display: block;
    clear: both;
    overflow: hidden;
    color: #333 !important;
  }

  .node-type-page ul.event_list li .views-field.views-field-field-event-image {
    max-width: 640px;
    width: 30%;
  }

  .node-type-page ul.event_list li .views-field {
    width: 100%;
  }

  /**
	 * news and events detail
	 */
  .node-type-article #content #main.fixed_wrap.white_box,
  .node-type-event #content #main.fixed_wrap.white_box {
    padding-bottom: 2em;
  }

  .node-type-article #content .news_detail_wrap,
  .node-type-event #content .news_detail_wrap {
    padding: 0 16px;
  }

  .node-type-article #content .news_detail_photo,
  .node-type-event #content .news_detail_photo {
    display: none;
  }

  .node-type-article #content .news_detail_body,
  .node-type-event #content .news_detail_body {
    float: none;
    clear: both;
    overflow: hidden;
    width: 100%;
  }

  .node-type-article #content .news_detail_wrap h3,
  .node-type-event #content .news_detail_wrap h3 {
    font-weight: bold;
    font-size: 1.1em;
  }

  .node-type-article #content .news_detail_wrap hr,
  .node-type-event #content .news_detail_wrap hr {
    display: none;
  }

  .node-type-article #content .news_detail_wrap .smaller,
  .node-type-event #content .news_detail_wrap .smaller {
    font-size: 1em;
  }

  /**
	 * greenpoint products page
	 */
  .view-greenpoint-products {
    margin: 0;
  }

  .view-greenpoint-products ul {
    margin: 0;
  }

  .view-greenpoint-products ul li {
    position: relative;
    display: block;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
    height: auto;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #b7b9ba;
    background-color: #e4e6e7;
  }

  .view-greenpoint-products ul li .views-field-field-product-image {
    padding: 2em 1em;
    width: 36%;
    background-color: #fff;
    vertical-align: middle;
  }

  .view-greenpoint-products ul li .views-field-title {
    padding-top: 1em;
    padding-right: 15px;
    width: 57%;
    font-size: 1.5em;
  }

  .view-greenpoint-products ul li .views-field-field-product-short-description {
    padding-top: 0.4em;
    padding-right: 16px;
    width: 57%;
    font-size: 16px;
  }

  .view-greenpoint-products .mobile_link_icon {
    top: 36%;
  }

  #block-views-greenpoint-products-block {
    border-top: 2em solid #003e69;
  }

  /**
	 * product index page
	 */
  .page-node-429 .padded_body {
    padding-bottom: 0 !important;
  }

  #block-views-product-index-block {
    margin: 0;
    padding: 0;
  }

  #block-views-product-index-block .views-row {
    padding: 1em;
  }

  #block-views-product-index-block .views-row .views-field {
    display: block;
    clear: both;
    overflow: hidden;
    padding: 0;
    width: 100% !important;
  }

  #block-views-product-index-block .views-row .views-field.views-field-title {
    font-size: 1.3em;
  }

  #block-views-product-index-block .product_index_heading {
    border-bottom: 0 !important;
  }

  #block-views-product-index-block .product_index_heading .blue_bar {
    margin-bottom: 0 !important;
    padding: 1em 16px;
    font-weight: bold;
    line-height: 1.2em;
  }

  #block-views-product-index-block .views-row .views-field.views-field-nid {
    display: table;
    padding: 1em 0;
  }

  #block-views-product-index-block .views-row .views-field.views-field-nid .view-product-assets {
    display: table-cell;
    padding-right: 1em;
    vertical-align: middle;
  }

  #block-views-product-index-block .views-row .views-field.views-field-nid .view-product-assets a {
    display: block;
    overflow: hidden;
    width: 100%;
  }

  #block-views-product-index-block .views-row .views-field.views-field-nid .view-product-assets .views-row {
    padding: 0 !important;
  }

  #block-views-product-index-block .views-row .views-field.views-field-nid .download_link {
    display: table-cell;
    padding: 6px 12px;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 1em;
  }

  /**
	 * products landing
	 */
  .product #sidebar {
    display: none;
  }

  .product #main {
    float: none;
    clear: both;
    overflow: hidden;
    width: 100%;
  }

  .product #content .fixed_wrap.white_box {
    padding-bottom: 0 !important;
  }

  .page-products #content h3.blue_bar {
    margin-top: 0 !important;
    padding: 0.6em 16px;
  }

  .product .product_grid {
    padding: 0;
  }

  .product .product_grid h2 {
    margin: 0;
    padding: 0.8em 2em !important;
    background-color: #c5c5c5;
    text-align: center;
    font-size: 1.2em !important;
    line-height: 1.6em;
  }

  .product .product_grid ul {
    margin-bottom: 0 !important;
  }

  .product .product_grid ul.flush {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .product .product_grid ul li {
    position: relative;
    display: table;
    clear: both;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
  }

  .product .product_grid ul li a {
    position: relative;
    display: table;
    width: 100%;
  }

  .product .product_grid ul li a.item {
    border-right: none;
    border-bottom: none;
    background-color: #e4e6e7;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-decoration: none !important;
  }

  .product .product_grid ul li .item_title {
    padding-left: 26px;
    min-height: 1px !important;
    background-color: #e4e6e7 !important;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
  }

  .product .product_grid ul li .item_image {
    display: table-cell !important;
    width: 44% !important;
    height: auto !important;
  }

  .product .product_grid ul li .item_content {
    position: relative !important;
    display: table-cell;
    width: 56% !important;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #b7b9ba;
    vertical-align: middle;
  }

  .product .product_grid ul li .item_content .cta_arrow {
    display: none;
  }

  .product .product_grid ul li .mobile_link_icon {
    top: 40%;
    left: 40%;
  }

  .product_grid.browse_type .item {
    height: auto;
  }

  .product_grid.browse_type .item_thumb {
    position: relative;
    padding: 1em 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #b7b9ba;
    background-color: #fff;
    background-image: none;
  }

  .product_grid.browse_type .item_thumb img {
    position: relative;
    bottom: 0;
    left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
  }

  /**
	 * products category page
	 */
  .product.category #main #product_grid {
    padding: 0;
    background-image: none;
  }

  .product.category #main #marquee .marquee_content {
    padding: 1em 16px;
    width: 100%;
  }

  .product.category #main #marquee {
    margin-bottom: 0;
  }

  .product.category #main #marquee .marquee_image {
    width: 100%;
  }

  .product.category #main #product_grid h3 {
    margin: 0;
    padding: 1em 16px;
    background-color: #003e69;
    color: #fff;
    font-size: 1.2em;
  }

  .product.category #main #product_grid.product_grid.browse_type .item_thumb {
    padding: 0;
    border-top: none;
    border-bottom: none;
  }

  .product.category #main #product_grid.product_grid ul li .mobile_link_icon {
    top: 36%;
  }

  .product.category #main #mobile_featured_videos {
    position: relative;
    margin-bottom: 2em;
    padding: 0.4em 1em;
    background-color: #fff;
  }

  .product.category #main #mobile_featured_videos .videos_wrap {
    position: relative;
    display: block;
    clear: both;
    overflow: hidden;
  }

  .product.category #main #mobile_featured_videos h3 {
    display: block;
    float: none !important;
    margin: 0 !important;
    padding: 1em;
    color: #003e69;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
  }

  .product.category #main #mobile_featured_videos ul {
    padding: 0 20%;
  }

  .product.category #main #mobile_featured_videos ul li {
    display: block;
    float: none;
    margin: 0 auto;
    width: 100%;
  }

  .product.category #main #mobile_featured_videos ul li.vid {
    display: none;
  }

  .product.category #main #mobile_featured_videos ul li.vid.active {
    display: block;
  }

  .product.category #main #mobile_featured_videos .video_thumb {
    position: relative;
    display: block;
  }

  .product.category #main #mobile_featured_videos .video_thumb .play_overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 501;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url(../images/control_play_button_mobile.png);
    background-position: 50% 50%;
    background-size: 35%;
    background-repeat: no-repeat;
  }

  /**
	 * product detail page
	 */
  .node-type-product .detail_media {
    padding: 0 !important;
    width: 100%;
    border: 15px solid #f57e20;
  }

  .node-type-product .thumb_slider .slides .slide {
    margin: 0 !important;
    padding: 10px 40px;
    width: 100%;
    height: auto;
  }

  .node-type-product .thumb_slider .slides .slide img {
    max-width: 100% !important;
    width: 100% !important;
    height: auto !important;
  }

  .node-type-product .thumb_slider .arrow_control {
    position: absolute;
    top: 0;
    z-index: 203;
    width: 10%;
    height: 100%;
    background-color: transparent;
    background-position: 50% 50%;
    background-size: 90%;
    background-repeat: no-repeat;
  }

  .node-type-product .thumb_slider .arrow_control.prev {
    left: 0;
    background-image: url(../images/btn_subnav_mobile_arrow_left.png);
  }

  .node-type-product .thumb_slider .arrow_control.next {
    right: 0;
    background-image: url(../images/btn_subnav_mobile_arrow_right.png);
  }

  .node-type-product .thumb_slider .controls {
    display: none;
  }

  .node-type-product .detail_content {
    padding: 10px !important;
    width: 100%;
    font-size: 16px;
  }

  .node-type-product .detail_content .detail_title {
    display: none;
  }

  .node-type-product .detail_content .detail_desc {
    padding: 0 10px;
  }

  .node-type-product .detail_content .detail_desc img {
    width: auto !important;
  }

  .node-type-product #detail_content .detail_content .detail_subtitle {
    padding: 10px 10px 0;
    font-size: 1em;
  }

  .node-type-product #detail_content .detail_content .cta_box {
    width: auto;
  }

  .node-type-product #detail_content .detail_content .cta_box .btn.btn-orange {
    color: #582c01 !important;
    text-shadow: none;
  }

  .node-type-product #detail_content .detail_content .popout {
    padding-top: 3em !important;
    width: 100%;
  }

  .node-type-product #detail_content .detail_content .popout .close_popout {
    padding-right: 34px;
    background-size: 26%;
    color: #003e69 !important;
    font-size: 16px;
    line-height: 16px;
  }

  .node-type-product #detail_content .detail_content .popout .popout_body {
    padding-top: 10px;
  }

  .node-type-product #detail_content .detail_content .popout .popout_body .phone_number {
    text-decoration: none !important;
  }

  /**
	 * search page - normal view
	 */
  .page-search #filter_bar {
    display: none;
  }

  .page-search #search {
    width: 100%;
  }

  .panels-flexible-region-1-center {
    float: none;
    width: 100%;
  }

  .panels-flexible-region-inside {
    padding-right: 0;
    padding-left: 0;
  }

  .page-search #main #top_filter_nav {
    position: relative;
    top: 9px;
    padding: 0;
  }

  .page-search #main #top_filter_nav ul.tab_controls {
    padding: 0;
    padding-left: 1em;
    width: 100%;
  }

  .page-search #main #top_filter_nav ul.tab_controls li {
    overflow: hidden;
    width: 50%;
  }

  .page-search #main #top_filter_nav ul.tab_controls li a {
    overflow: hidden;
    padding: 10px 0 !important;
    text-align: center;
  }

  .page-search #main #top_filter_nav ul.tab_controls a {
    border: 1px solid #9f9f9f;
    font-size: 1.4em;
  }

  .page-search #main #top_filter_nav ul.tab_controls a.current {
    border-color: #9f9f9f;
  }

  .page-search ul.filter_tags {
    padding: 0.8em 16px;
  }

  .page-search #main #product_grid {
    padding: 0;
    width: 100%;
    border: none;
    border-top: 1px solid #9f9f9f;
  }

  .page-search #main #product_grid .row {
    display: block;
    overflow: hidden;
    width: 100%;
    height: auto;
  }

  .page-search #main #product_grid .row .item {
    position: relative;
    display: table !important;
    float: none;
    width: 100%;
    height: auto;
    border-right: none;
    border-bottom: none;
    background-color: #e4e6e7;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-decoration: none !important;
  }

  .page-search #main #product_grid .border_mask {
    display: none;
  }

  .page-search #main #product_grid a.control_compare {
    top: auto;
    bottom: 1em;
    left: 48%;
    background-position: 10px 50%;
    color: #f57e20 !important;
    font-weight: bold;
    font-size: 1.1em;
  }

  .page-search #main #product_grid a.control_compare:hover {
    color: #f57e20 !important;
  }

  .page-search #main #product_grid .row .item .item_thumb {
    display: table-cell !important;
    padding: 1em;
    width: 44% !important;
    height: auto !important;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #b7b9ba;
    background-color: #fff;
    vertical-align: middle;
  }

  .page-search #main #product_grid .row .item .item_thumb img {
    margin: 0 !important;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .page-search #main #product_grid .row .item .item_wrap {
    position: relative !important;
    display: table-cell;
    padding-top: 1.8em;
    padding-bottom: 2.6em;
    width: 56% !important;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #b7b9ba;
    vertical-align: top;
  }

  .page-search #main #product_grid .row .item .item_title {
    margin: 0 2% 0.4em 10%;
    color: #000;
    font-size: 1.4em;
  }

  .page-search #main #product_grid .row .item .item_title a {
    color: #000;
  }

  .page-search #main #product_grid .row .item .item_desc {
    margin: 0 2% 0.4em 10%;
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1.3em;
  }

  .page-search #main #product_grid .row .item .item_cat {
    display: none;
  }

  .page-search #main #product_grid .mobile_link_icon {
    top: 40%;
    left: 40%;
  }

  .page-search #main #product_grid .compare-paginate {
    padding: 10px !important;
    text-align: center;
  }

  .page-search #main #product_grid .compare_selected {
    display: inline-block;
    float: none !important;
    clear: both;
    margin: 1em auto;
    padding: 0.5em !important;
    width: auto;
    font-weight: bold;
  }

  .page-search #main .technical-view #product_grid {
    padding-bottom: 0.6em;
  }

  .page-search #main #product_grid .compare-paginate {
    padding: 1em !important;
  }

  .panels-flexible-region-3-center {
    float: none;
    width: 100% !important;
  }

  /**
	 * search page - technical view
	 */
  .page-search .tech_view .convert_bar {
    overflow: hidden;
    text-align: right;
  }

  .page-search .tech_view .convert_bar {
    padding: 0 1em;
    text-align: right;
  }

  .page-search .tech_view .convert_bar .button_bar {
    display: block;
    clear: both;
    overflow: hidden;
    margin: 0.4em 0;
  }

  .page-search .tech_view .convert_bar .button_bar .metric {
    display: none;
  }

  .page-search .tech_view .convert_bar .button_bar a.btn {
    display: block;
    float: right;
    clear: both;
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
    text-transform: uppercase;
  }

  .page-search .tech_view .convert_bar .tap_for_more {
    display: block;
    clear: both;
    overflow: hidden;
    margin-bottom: 1em;
    color: #f57e20;
    font-weight: bold;
    font-size: 1.4em;
    line-height: 1.6em;
  }

  .page-search .tech_view .convert_bar.bottom .tap_for_more {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
  }

  .page-search ul.filter_tags {
    padding: 0;
    overfloW: hidden;
  }

  .page-search ul.filter_tags li {
    display: block;
    float: left;
  }

  .page-search ul.filter_tags li a {
    display: block;
    padding: 0.6em;
    padding-left: 2em;
    background-image: url(../images/control_remove_mobile.png);
    background-size: 1.6em;
    color: #f57e20 !important;
    font-size: 1.6em;
  }

  .page-search .tech_view .nav_bar {
    position: relative;
    display: table;
    margin-top: 0 !important;
    margin-bottom: 0;
    padding: 0.4em 1em;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 3.2em;
  }

  .page-search .tech_view .nav_bar .product_heading {
    position: relative;
    display: table-cell;
    width: 38%;
    text-align: center;
  }

  .page-search .tech_view .nav_bar .navigator {
    position: relative;
    display: table-cell;
    overflow: hidden;
    width: 62%;
    text-align: center;
  }

  .page-search .tech_view .nav_bar .navigator .headings .hdg {
    display: none;
  }

  .page-search .tech_view .nav_bar .navigator .headings .hdg.active {
    display: block;
  }

  .page-search .tech_view .nav_bar .navigator .control {
    position: absolute;
    top: 0;
    display: block;
    width: 52px;
    height: 52px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .page-search .tech_view .nav_bar .navigator .control.prev {
    left: 0;
    background-image: url(../images/btn_technav_mobile_arrow_left.png);
  }

  .page-search .tech_view .nav_bar .navigator .control.next {
    right: 0;
    background-image: url(../images/btn_technav_mobile_arrow_right.png);
  }

  .page-search .tech_view .subheadings {
    display: block;
    padding: 0.8em;
    padding-left: 38%;
    background-color: #d6d6d6;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
  }

  .page-search .tech_view .subheadings .sub {
    display: none;
  }

  .page-search .tech_view .subheadings .sub.active {
    display: block;
  }

  .page-search .tech_view .results .item {
    position: relative;
    display: table !important;
    width: 100% !important;
    height: auto !important;
  }

  .page-search .tech_view .results .item .item_image {
    display: table-cell !important;
    padding: 1em;
    width: 38% !important;
    height: auto !important;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #b7b9ba;
    background-color: #fff;
    vertical-align: middle;
  }

  .page-search .tech_view .results .item .item_image a {
    display: block;
    overflow: hidden;
  }

  .page-search .tech_view .results .item .item_image img {
    margin: 0 !important;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .page-search .tech_view .results .item .item_title {
    display: block;
    float: none;
    clear: both;
    overflow: hidden;
    color: #000 !important;
    text-align: center;
  }

  .page-search .tech_view .results .item .item_title a {
    color: #000 !important;
    text-decoration: none !important;
    font-weight: bold;
    font-size: 1.4em;
  }

  .page-search .tech_view .results .item .item_content {
    position: relative !important;
    display: table-cell;
    width: 62% !important;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #b7b9ba;
    background-color: #e4e6e7;
    vertical-align: top;
    vertical-align: middle;
  }

  .page-search .tech_view .results .item .data_slide {
    padding: 0 1em;
    color: #000;
    text-align: center;
    font-size: 1.4em;
  }

  .page-search .tech_view .results .item .data_slide .data_item {
    display: none;
  }

  .page-search .tech_view .results .item .data_slide .data_item.active {
    display: block;
  }

  .page-search .tech_view .results .item .data_slide a {
    color: #000;
  }

  .page-search .tech_view .results .mobile_link_icon {
    top: 38% !important;
    left: 34% !important;
  }

  /**
	 * promotions page
	 */
  .node-type-promotion-page #content {
    background-color: #fff;
    background-image: none;
  }

  .node-type-promotion-page #marquee {
    margin: 0;
    padding-top: 0;
    width: 100%;
  }

  .node-type-promotion-page #content #main.fixed_wrap.white_box {
    margin-top: 0;
  }

  .node-type-promotion-page .mobile_breadcrumbs {
    margin-top: 0;
    padding-top: 20px;
  }

  .node-type-promotion-page ul.product_list {
    padding: 1em 4em 0;
  }

  .node-type-promotion-page ul.product_list li.item {
    padding: 1em;
    width: 50%;
  }

  .node-type-promotion-page .promotion_form {
    padding: 0;
  }

  .node-type-promotion-page .promotion_form .form_header {
    display: table;
  }

  .node-type-promotion-page .promotion_form .form_title {
    position: relative;
    display: table-cell;
    vertical-align: middle;
  }

  .node-type-promotion-page .promotion_form .logo_box {
    position: relative;
    top: 0;
    display: table-cell;
    width: 25%;
    vertical-align: middle;
  }

  .node-type-promotion-page .promotion_form .form_box {
    width: 100%;
  }

  .node-type-promotion-page .promotion_form .form_box .form-item {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .node-type-promotion-page .promotion_form .form_box .col-md-6,
  .node-type-promotion-page .promotion_form .form_box .col-md-3,
  .node-type-promotion-page .promotion_form .form_box .col-md-2 {
    width: 100%;
  }

  .node-type-promotion-page #content #edit-actions .form-submit {
    display: block;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    width: 100%;
    -webkit-border-radius: 0.4em !important;
    -moz-border-radius: 0.4em !important;
    border-radius: 0.4em !important;
    background-image: -moz-linear-gradient(top, #f7882c, #f07b19);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7882c), to(#f07b19));
    background-image: -webkit-linear-gradient(top, #f7882c, #f07b19);
    background-image: -o-linear-gradient(top, #f7882c, #f07b19);
    background-image: linear-gradient(to bottom, #f7882c, #f07b19);
    color: #582c01 !important;
    text-shadow: none;
    font-size: 1.4em !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7882c', endColorstr='#fff07b19', GradientType=0);
  }

  /**
	 * media library video page
	 */
  .node-type-media-library-video .blue_bar {
    margin-bottom: 0;
    min-height: 3em;
  }

  .node-type-media-library-video .content_wrapper #media_box {
    float: none;
    clear: both;
    padding: 0;
    width: 100%;
  }

  .node-type-media-library-video .content_wrapper #details_box {
    float: none;
    clear: both;
    margin-top: 2em;
    padding: 0;
    padding-bottom: 3em;
    width: 100%;
  }

  /**
	 * media library infographic page
	 */
  .node-type-media-asset-infographic .blue_bar {
    margin-bottom: 0;
    min-height: 3em;
  }

  .node-type-media-asset-infographic .content_wrapper #media_box {
    float: none;
    clear: both;
    padding: 0;
    width: 100%;
  }

  .node-type-media-asset-infographic .content_wrapper #details_box {
    float: none;
    clear: both;
    margin-top: 2em;
    padding: 0;
    padding-bottom: 3em;
    width: 100%;
  }

  /**
	 * media library asset page
	 */
  .node-type-media-library-asset .blue_bar {
    margin-bottom: 0;
    min-height: 3em;
  }

  .node-type-media-library-asset .content_wrapper #media_box {
    float: none;
    clear: both;
    padding: 0;
    width: 100%;
  }

  .node-type-media-library-asset .content_wrapper #details_box {
    float: none;
    clear: both;
    margin-top: 2em;
    padding: 0;
    padding: 1em;
    padding-bottom: 3em;
    width: 100%;
  }

  .node-type-media-library-asset .content_wrapper #details_box .social-share-container {
    margin-bottom: 1em;
  }

  .node-type-media-library-asset .asset-embed p {
    width: 100%;
  }

  iframe#careers-iframe {
    display: block;
    clear: both;
    overflow: scroll;
    margin: 0 auto;
    width: 100%;
    height: 1000px;
    -webkit-overflow-scrolling: touch;
  }

  div.views-exposed-form .views-exposed-widget.views-widget-per-page .form-type-select.form-item-items-per-page {
    display: none;
  }

  .view-search .item-list {
    float: none;
    margin: auto;
    width: 90%;
  }

  .view-search .item-list ul.pager li {
    margin-bottom: 10px;
  }

}

/* refined styles - mostly for font sizes*/
@media (min-width: 481px) and (max-width: 540px) {

  .btn {
    font-size: 1.6em !important;
  }

  .node-type-product .detail_content {
    font-size: 0.9375em;
  }

  .mobile.logo_bar #logo {
    padding-left: 1.8em;
  }

  #mobile_nav .search_box .input_wrap {
    padding-right: 50px;
    height: 42px;
    background-size: 38px;
  }

  #mobile_nav .search_box .input_wrap input[type="text"] {
    height: 42px;
  }

  #mobile_nav .search_box .submit_this_form {
    width: 58px;
    height: 58px;
  }

  #mobile_nav h2 a {
    font-size: 1.6em;
  }

  #mobile_nav ul.sub_menu li a {
    font-size: 1.6em;
  }

  #mobile_nav ul.sub_menu li > ul.menu > li > ul.menu a {
    font-size: 1.3em;
  }

  #mobile_nav .mobile_toggle_control,
  #mobile_nav ul.sub_menu li > ul.menu > li.expanded > a,
  #mobile_nav #mobile_products_menu .mobile_filter_box li > ul.menu > a {
    background-size: 30px;
  }

  #mobile_nav ul.sub_menu li > ul.menu > li.expanded.open > ul.menu > .item-list ul.toggle_target li a {
    background-size: 13px;
  }

  #mobile_nav ul.sub_menu li .blue_corner {
    background-size: 23px;
  }

  #mobile_nav #mobile_products_menu .mobile_filter_box li > ul.menu > .toggle_target .item-list ul li {
    font-size: 1.4em;
  }

  #mobile_nav #mobile_products_menu ul.sub_menu h3.blue_bar {
    padding-right: 0.6em;
    font-size: 1.2em;
  }

  #mobile_header .control_bar .menu_control {
    padding: 0.8em 0.8em 0.8em 3.5em;
  }

  #block-views-product-index-block .views-row .views-field.views-field-nid .download_link {
    font-size: 17px !important;
  }

  #mobile_footer ul.footer_links li {
    margin-bottom: 0.9em;
  }

  #mobile_footer .back_to_top a {
    padding: 1.6em 0;
  }

  #mobile_footer h4 {
    font-size: 1.2em;
  }

  .page-search #main #top_filter_nav ul.tab_controls a {
    font-size: 1.3em;
  }

  .front #subcontent .mobile_carousel {
    margin: 0 1.4em;
  }

  .front #subcontent .mobile_carousel h2 {
    font-size: 1.4em;
  }

  .front #subcontent .mobile_carousel .item .item_title {
    margin-top: 0.6em;
    font-size: 1.6em;

  }

  .front #subcontent .mobile_carousel .item .item_desc {
    font-size: 1.4em;
  }

  .page-search ul.filter_tags li a {
    padding-left: 2em;
    background-size: 1.6em;
    font-size: 1.4em;
  }

  .page-search .tech_view .subheadings {
    font-size: 1em;
  }

  .page-search .tech_view .convert_bar .tap_for_more {
    font-size: 1.3em;
  }

  .page-search .tech_view .nav_bar .navigator .control {
    width: 48px;
    height: 48px;
    background-size: 90%;
  }

  .page-search .tech_view .results .item .item_title a {
    font-size: 1.3em;
  }

  .page-search .tech_view .results .item .data_slide {
    font-size: 1.3em;
  }

  .view-media-library #accordian h3 {
    font-size: 22px;
  }

  .view-media-library #accordian h3 a {
    background-position: 16px 50%;
  }

  .view-media-library #accordian .group .box ul li .field-content .title {
    font-size: 16px;
  }

  .product_grid ul li a.item .item_content .item_title {
    padding-left: 26px;
    font-size: 16px;
  }

  .product .product_grid ul li .item_content {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #b7b9ba;
  }

  .product.category #main #product_grid h3 {
    font-size: 1.1em;
  }

  .front .product_grid ul li .item_content {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #b7b9ba;
  }

  .front .product_grid h2 {
    font-size: 1.1em !important;
  }

  .view-greenpoint-products ul li .views-field-title {
    padding-top: 0.8em;
    font-size: 1.3em;
  }

  .view-greenpoint-products ul li .views-field-field-product-short-description {
    font-size: 15px;
  }

  .view-greenpoint-products ul li .views-field-field-product-short-description {
    padding-top: 0;
    padding-right: 0.8em;
    font-size: 14px;
  }

  .page-search #main #product_grid .row .item .item_wrap {
    padding-top: 1.1em;
  }

  .page-search #main #product_grid .row .item .item_title {
    font-size: 1.3em;
  }

  .page-search #main #product_grid .row .item .item_desc {
    font-size: 1em;
  }

  .page-search #main #product_grid a.control_compare {
    bottom: 0.6em;
    left: 47%;
  }

}

@media (min-width: 321px) and (max-width: 480px) {

  .btn {
    font-size: 1.4em !important;
  }

  .node-type-product .detail_content {
    font-size: 14px;
  }

  .node-type-product .detail_content {
    font-size: 0.875em;
  }

  .mobile.logo_bar #logo {
    padding-left: 1.6em;
  }

  #mobile_nav .search_box .input_wrap {
    padding-right: 44px;
    height: 36px;
    background-size: 32px;
  }

  #mobile_nav .search_box .input_wrap input[type="text"] {
    height: 36px;
  }

  #mobile_nav .search_box .submit_this_form {
    width: 54px;
    height: 54px;
  }

  #mobile_nav h2 a {
    font-size: 1.4em;
  }

  #mobile_nav ul.sub_menu li a {
    font-size: 1.4em;
  }

  #mobile_nav ul.sub_menu li > ul.menu > li > ul.menu a {
    font-size: 1.1em;
  }

  #mobile_nav .mobile_toggle_control,
  #mobile_nav ul.sub_menu li > ul.menu > li.expanded > a,
  #mobile_nav #mobile_products_menu .mobile_filter_box li > ul.menu > a {
    background-size: 26px;
  }

  #mobile_nav ul.sub_menu li > ul.menu > li.expanded.open > ul.menu > .item-list ul.toggle_target li a {
    background-size: 11px;
  }

  #mobile_nav ul.sub_menu li .blue_corner {
    background-size: 21px;
  }

  #mobile_nav #mobile_products_menu .mobile_filter_box li > ul.menu > .toggle_target .item-list ul li {
    font-size: 1.2em;
  }

  #mobile_nav #mobile_products_menu ul.sub_menu h3.blue_bar {
    padding-right: 0.4em;
    font-size: 1.1em;
  }

  #mobile_header .control_bar .menu_control {
    padding: 0.6em 0.6em 0.6em 1.5em;
  }

  #block-views-product-index-block .views-row .views-field.views-field-nid .download_link {
    font-size: 16px !important;
  }

  #mobile_footer ul.footer_links li {
    margin-bottom: 0.8em;
  }

  #mobile_footer .back_to_top a {
    padding: 1.4em 0;
  }

  #mobile_footer h4 {
    font-size: 1.1em;
  }

  .page-search #main #top_filter_nav ul.tab_controls a {
    font-size: 1.2em;
  }

  .front #subcontent .mobile_carousel {
    margin: 0 1.2em;
  }

  .front #subcontent .mobile_carousel h2 {
    font-size: 1.2em;
  }

  .front #subcontent .mobile_carousel .item .item_title {
    margin-top: 0.4em;
    font-size: 1.4em;

  }

  .front #subcontent .mobile_carousel .item .item_desc {
    font-size: 1.2em;
  }

  .page-search .tech_view .nav_bar {
    padding: 0.2em 0.7em;
    font-size: 0.9em;
  }

  .page-search .tech_view .subheadings {
    font-size: 0.9em;
  }

  .page-search .tech_view .convert_bar .tap_for_more {
    font-size: 1.2em;
  }

  .page-search .tech_view .nav_bar .navigator .control {
    width: 42px;
    height: 42px;
    background-size: 80%;
  }

  .page-search .tech_view .results .item .item_title a {
    font-size: 1.2em;
  }

  .page-search .tech_view .results .item .data_slide {
    font-size: 1.2em;
  }

  .view-media-library #accordian h3 {
    font-size: 18px;
  }

  .view-media-library #accordian h3 a {
    background-position: 14px 50%;
  }

  .view-media-library #accordian .group .box ul li .field-content .title {
    font-size: 14px;
  }

  .product_grid ul li a.item .item_content .item_title {
    padding-left: 24px;
    font-size: 15px;
  }

  .product .product_grid ul li .item_content {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #b7b9ba;
  }

  .product.category #main #product_grid h3 {
    font-size: 1.1em;
  }

  .front .product_grid ul li .item_content {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #b7b9ba;
  }

  .front .product_grid h2 {
    font-size: 1em !important;
  }

  .view-greenpoint-products ul li {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #b7b9ba;
  }

  .view-greenpoint-products ul li {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #b7b9ba;
  }

  .view-greenpoint-products ul li .views-field-title {
    padding-top: 0.6em;
    font-size: 1.1em;
  }

  .view-greenpoint-products ul li .views-field-field-product-short-description {
    padding-top: 0;
    padding-right: 0.6em;
    font-size: 13px;
  }

  .page-search ul.filter_tags li a {
    padding: 0.4em;
    padding-left: 2em;
    background-size: 1.5em;
    font-size: 1.2em;
  }

  .page-search #main #product_grid .row .item .item_wrap {
    padding-top: 1em;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #b7b9ba;
  }

  .page-search #main #product_grid .row .item .item_thumb {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #b7b9ba;
  }

  .page-search #main #product_grid .row .item .item_title {
    font-size: 1.2em;
  }

  .page-search #main #product_grid .row .item .item_desc {
    font-size: 1em;
  }

  .page-search #main #product_grid a.control_compare {
    bottom: 0.4em;
    left: 47%;
  }

}

@media (max-width: 320px) {

  .btn {
    font-size: 1.2em !important;
  }

  .node-type-product .detail_content {
    font-size: 0.8125em;
  }

  .mobile.logo_bar #logo {
    padding-left: 1.4em;
  }

  #block-views-product-index-block .views-row .views-field.views-field-nid .download_link {
    font-size: 15px !important;
  }

  #mobile_nav .search_box .input_wrap {
    padding-right: 40px;
    height: 32px;
    background-size: 28px;
  }

  #mobile_nav .search_box .submit_this_form {
    width: 48px;
    height: 50px;
  }

  #mobile_nav .search_box .input_wrap input[type="text"] {
    height: 32px;
  }

  #mobile_nav h2 a {
    font-size: 1.2em;
  }

  #mobile_nav ul.sub_menu li a {
    font-size: 1.2em;
  }

  #mobile_nav ul.sub_menu li > ul.menu > li > ul.menu a {
    font-size: 0.9em;
  }

  #mobile_nav #mobile_products_menu ul.sub_menu h3.blue_bar {
    padding-right: 0.7em;
    font-size: 0.9em;
  }

  #mobile_nav .mobile_toggle_control,
  #mobile_nav ul.sub_menu li > ul.menu > li.expanded > a,
  #mobile_nav #mobile_products_menu .mobile_filter_box li > ul.menu > a {
    background-size: 22px;
  }

  #mobile_nav ul.sub_menu li > ul.menu > li.expanded.open > ul.menu > .item-list ul.toggle_target li a {
    background-size: 9px;
  }

  #mobile_nav ul.sub_menu li .blue_corner {
    background-size: 19px;
  }

  #mobile_nav #mobile_products_menu .mobile_filter_box li > ul.menu > .toggle_target .item-list ul li {
    font-size: 1em;
  }

  #mobile_header .control_bar .menu_control {
    padding-left: 1em;
  }

  #mobile_header .control_bar .menu_control {
    padding: 0.5em 0.5em 0.5em 1em;
  }

  #mobile_footer ul.footer_links li {
    margin-bottom: 0.7em;
  }

  #mobile_footer .back_to_top a {
    padding: 1.2em 0;
  }

  #mobile_footer h4 {
    text-transform: none;
    font-size: 1em;
  }

  .page-search #main #top_filter_nav ul.tab_controls a {
    font-size: 1em;
  }

  .front #subcontent .mobile_carousel {
    margin: 0 1em;
  }

  .front #subcontent .mobile_carousel h2 {
    font-size: 1em;
  }

  .front #subcontent .mobile_carousel .item .item_title {
    margin-top: 0.2em;
    font-size: 1.2em;

  }

  .front #subcontent .mobile_carousel .item .item_desc {
    font-size: 1em;
  }

  .page-search .tech_view .nav_bar {
    padding: 0.1em 0.6em;
    font-size: 0.8em;
  }

  .page-search ul.filter_tags li a {
    padding: 0.2em;
    padding-left: 1.8em;
    background-size: 1.5em;
    font-size: 1em;
  }

  .page-search .tech_view .subheadings {
    font-size: 0.8em;
  }

  .page-search .tech_view .convert_bar .tap_for_more {
    font-size: 1.1em;
  }

  .page-search .tech_view .nav_bar .navigator .control {
    width: 37px;
    height: 37px;
    background-size: 70%;
  }

  .page-search .tech_view .results .item .item_title a {
    font-size: 1.1em;
  }

  .page-search .tech_view .results .item .data_slide {
    font-size: 1.1em;
  }

  .view-media-library #accordian h3 {
    font-size: 16px;
  }

  .view-media-library #accordian h3 a {
    background-position: 12px 50%;
  }

  .view-media-library #accordian .group .box ul li .field-content .title {
    font-size: 12px;
  }

  .product_grid ul li a.item .item_content .item_title {
    padding-left: 20px;
    font-size: 13px;
  }

  .product .product_grid ul li .item_content {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #b7b9ba;
  }

  .product.category #main #product_grid h3 {
    font-size: 1em;
  }

  .front .product_grid ul li .item_content {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #b7b9ba;
  }

  .front .product_grid h2 {
    font-size: 1em !important;
  }

  .view-greenpoint-products ul li {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #b7b9ba;
  }

  .view-greenpoint-products ul li .views-field-title {
    padding-top: 0.4em;
    font-size: 1em;
  }

  .view-greenpoint-products ul li .views-field-field-product-short-description {
    padding-top: 0;
    padding-right: 0.4em;
    font-size: 12px;
  }

  .page-search #main #product_grid .row .item .item_wrap {
    padding-top: 0.9em;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #b7b9ba;
  }

  .page-search #main #product_grid .row .item .item_thumb {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #b7b9ba;
  }

  .page-search #main #product_grid .row .item .item_title {
    font-size: 1.1em;
  }

  .page-search #main #product_grid .row .item .item_desc {
    font-size: 0.9em;
  }

  .page-search #main #product_grid a.control_compare {
    bottom: 0.2em;
    left: 46%;
  }
}

#mobile_nav ul.sub_menu li.orange-selected, {
  background-color: #f57e20 !important;
  color: white !important;
}

#mobile_nav ul.sub_menu li.orange-selected a, #mobile_nav ul.sub_menu li > ul.menu > li.expanded.open > ul.menu > .item-list > ul.toggle_target > li.orange-selected > a {
  background-color: #f57e20 !important;
  color: white !important;
}
