/**
 * Shurtape - product pages - category, products index, and product detail (but NOT search)
 * pages have body class .product
 */
.product #content {
	clear:both;
	overflow:hidden;
}

.product #content .fixed_wrap.white_box {
	-webkit-border-top-right-radius:0 !important;
	-webkit-border-top-left-radius:0 !important;
	-moz-border-radius-topright:0 !important;
	-moz-border-radius-topleft:0 !important;
	border-top-right-radius:0 !important;
	border-top-left-radius:0 !important;
	border-top:none;
	padding-bottom:40px;
}

.product #product_grid a {
	text-decoration:none;
}

/* sidebar - NOTE most of the CSS for the filter bar is in filter_bar.css*/
.product #sidebar {
	width:210px;
}

/**
 * main (right) section
 */
.product #main {
	width:692px;
}


.product #main .headline {
	font-size:24px;
}

.product #main .blue_bar {
	margin-bottom:6px;
}

/**
 * product category page
 */
.product.category #content .fixed_wrap.white_box {
	padding-left:0 !important;
}

.product.category #main #marquee {
	background-color:#f57e20;
	color:#ffffff;
	margin-bottom:6px;
}

.product.category #main #marquee .marquee_content {
	width:220px;
	padding:10px 10px 0 10px;
	font-size:14px;
}

.product.category #main #marquee .marquee_content p {
	margin-bottom:0 !important;
}

.product.category #main #marquee .marquee_content .highlight {
	text-transform:uppercase;
	font-weight:bold;
}


.product.category #main #marquee .marquee_image {
	width:470px;
	text-align:right;
}

.product.category #main #featured_videos {
	display:block;
	clear:both;
	overflow:hidden;
	color: #ffffff;
	background-color: #003e69;
	padding:6px;
	margin-bottom:6px;
}

.product.category #main #featured_videos .video_thumb {
	position:relative;
	display:block;
	overflow:hidden;
}

.product.category #main #featured_videos .play_overlay {
	position:absolute;
	background-image:url(../images/control_play_button.png);
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:50% 50%;
	width:96px;
	display:block;
	height:72px;
	top:0;
	left:0;
	z-index:501;
}

.product.category #main #featured_videos h3 {
	font-size:18px;
	font-weight:bold;
	margin-left:30px;
	margin-right:10px;
	margin-top:25px !important;
}

.product.category #main #featured_videos ul.list-inline {
	margin-bottom:0 !important;
}

.product.category #main #product_grid {
	background-image:url(../images/bg_grid_box.jpg);
	background-repeat:repeat;
	background-color:transparent;
	background-position:0 0;
	padding:10px 10px 40px;
	-webkit-border-bottom-right-radius:8px !important;
	-webkit-border-bottom-left-radius:8px !important;
	-moz-border-radius-bottomright:8px !important;
	-moz-border-radius-bottomleft:8px !important;
	border-bottom-right-radius:8px !important;
	border-bottom-left-radius:8px !important;
}

.product.category #main #product_grid h3 {
	padding:10px;
	font-weight:bold;
}

.product.category .product_grid ul {
	margin-right:0;
	margin-left:0;
}

.product_grid ul.flush {
	margin-right:-10px !important;
	margin-left:-10px !important;
}

.product_grid ul.flush li a img {
	width:100%;
	height:auto;
}


/**
 * product page (detail)
 */
.node-type-product .breadcrumbs {
	font-family:Arial, Helvetica, sans-serif !important;
}

.node-type-product .breadcrumbs a {
	color:#ffffff !important;
	text-decoration:none !important;
}

.node-type-product #detail_content {
	margin:0;
	padding-bottom:20px;
}

.node-type-product #detail_content .detail_media {
	padding-top:30px;
}

.node-type-product #detail_content .detail_content {
	padding-top:60px;
	position:relative;
	padding-left:40px;
	color:#000000;
	font-weight:bold;
}

.node-type-product #detail_content .detail_content .detail_badge {
	right:10px;
	top:10px;
	position:absolute;
}

.node-type-product #detail_content .detail_content .detail_title {
	font-size:18px;
	color:#003e69 !important;
}

.node-type-product #detail_content .detail_content .detail_subtitle {
	font-size:18px;
	margin-bottom:14px;
}

.node-type-product #detail_content .detail_content .detail_meta {
	margin-bottom:14px;
}

.node-type-product #detail_content .detail_content .detail_desc {
	margin-bottom:20px;
	font-weight:normal !important;
}

.node-type-product #detail_content .detail_content .cta_box_wrap {
	position:relative;
}

.node-type-product #detail_content .detail_content .cta_box {
	width:210px;
	margin:0 auto;
	position:relative;
	z-index:101;
}

.node-type-product #detail_content .detail_content .cta_box ul {
	list-style:none !important;
	margin:0 !important;
	padding:0 !important;
}

.node-type-product #detail_content .detail_content .cta_box ul li {
	list-style-type:none !important;
	list-style-image:none !important;
	margin:0 !important;
	padding:0 !important;
	clear:both;
}

.node-type-product #detail_content .detail_content .cta_box .btn {
	width:100%;
	margin-bottom:10px;
	font-size:13px;
	color:#003e69 !important;
}

.node-type-product #detail_content .detail_content .cta_box .btn.btn-orange {
	font-size:16px;
	color:#ffffff !important;
}

/* popout */
.node-type-product #detail_content .detail_content .popout {
	position:absolute;
	background:#ffffff;
	z-index:102;
	width:390px;
	height:195px;
	top:-4px;
	left:0;
	border:1px solid #cccccc;
	padding:10px !important;
	font-family:Arial, Helvetica, sans-serif;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	display:none;
}

.node-type-product #detail_content .detail_content .popout h3 {
	text-align:center;
	color:#003e69 !important;
	font-weight:bold;
	font-family:"franklin-gothic-urw",sans-serif;
	margin-top:0 !important;
}

.node-type-product #detail_content .detail_content .popout .close_popout {
	position:absolute;
	top:6px;
	right:16px;
	text-decoration:none;
	color:#003e69 !important;
	font-size:10px;
	line-height:11px;
	display:inline-block;
	padding:6px;
	padding-right:18px;
	background-image:url(../images/control_popout_close.png);
	background-color:transparent;
	background-position:100% 50%;
	background-repeat:no-repeat;
}

.node-type-product #detail_content .detail_content .popout .popout_body {
	text-align:center;
	font-size:18px;
	font-weight:normal;
	padding-top:26px;
}

.node-type-product #detail_content .detail_content .popout .popout_body .phone_number {
	font-size:26px;
	font-weight:bold;
	color:#003e69 !important;
}

/**
 * product detail tab section
 */
.node-type-product #tab_section  {
	display:block;
	clear:both;
	overflow:hidden;
	display:block;
}
.node-type-product #tab_section ul.tab_controls {
	margin:20px 0 0;
	border-bottom:1px solid #999999;
	padding-left:20px;
	display:block;
	width:100%;
}

.node-type-product #tab_section ul.tab_controls li a.tab_control {
	padding:10px 20px;
	margin-right:5px;
	font-size:14px;
	border:1px solid #999999;
	border-bottom:none;
}

.node-type-product #tab_section ul.tab_controls li a.tab_control.current {
	border-bottom:1px solid #ffffff;
	margin-bottom:-1px !important;
}

.node-type-product #tab_section .tab_wrapper {
	display:block;
	width:100%;
	border:1px solid #999999;
	border-top:none;
	overflow:hidden;
	clear:both;
	padding:20px 30px;
}

.node-type-product #tab_section .tab_targets {
	width:660px;
	float:left;
	clear:none;
	min-height:400px;
}

.node-type-product #tab_section h3 {
	font-size:16px;
	font-weight:bold;
}

.node-type-product #tab_section table {
	margin-top:14px;
}

.node-type-product #tab_section th {
	font-size:11px;
	padding:8px;
}

.node-type-product #tab_section td {
	padding:8px;
	vertical-align:middle;
}

.node-type-product #tab_section .related_products {
	width:140px;
	float:right;
	clear:none;
	margin-top:20px;
}

.node-type-product #tab_section .related_products ul {
	padding-left:16px;
	color:#003e69 !important;
}

.node-type-product #tab_section .related_products ul li a {
	text-decoration:none !important;
	font-size:12px;
	font-weight:bold;
}

.node-type-product #tab_section .inline_grid .grid_group {
	clear:both;
	overflow:hidden;
	display:table-row;
	vertical-align:inherit;

}

.node-type-product #tab_section .grid_label {
	width:200px;
	margin-right:30px;
	position:relative;
	vertical-align:middle;
	display:table-cell;
}

.node-type-product #tab_section .grid_label h4 {
	font-size:16px;
	font-weight:bold;
}

.node-type-product #tab_section .grid_content {
	width:470px;
	padding-left:30px;
	vertical-align:middle;
	display:table-cell;
	padding:30px 0;
	padding-left:46px;
}

.node-type-product #tab_section .field-content .grid_item {
	width:82px;
	text-align:center;
	margin:10px;
	text-decoration:none !important;
	color:#000000;
}

/****************/

.node-type-product #tab_section .field-items {
	overflow:hidden;
}

.node-type-product #tab_section .field-items a {
	width:90px;
	height:100px;
	text-align:center;
	margin:10px;
	text-decoration:none !important;
	color:#000000;
	float:left!important;
}

.node-type-product #tab_section .title {
	clear:both;
	overflow:hidden;
	display:block;
	margin-top:10px;
	line-height:1.4em;
}


.node-type-product #tab_section #videos_tab {
	clear:both;
	overflow:hidden;
	display:block;
	padding:10px;
}

.node-type-product #tab_section #videos_tab .video_thumbs ul {
	list-style:none;
}

.node-type-product #tab_section #videos_tab .video_thumbs ul li {
	display:inline-block;
	padding:0;
	margin-right:10px;
	width:160px;
	height:180px;
	overflow:hidden;
}

.node-type-product #tab_section #videos_tab .video_thumbs ul li a {
	display:block;
	padding:0;
	overflow:hidden;
	text-decoration:none;
	position:relative;
}

.node-type-product #tab_section #videos_tab .video_thumbs ul li a .play_overlay {
	position:absolute;
	background-image:url(../images/control_play_button.png);
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:50% 50%;
	width:160px;
	display:block;
	height:120px;
	top:0;
	left:0;
	z-index:501;
}

.node-type-product #tab_section #videos_tab .video_thumbs ul li a .vid_title {
	display:block;
	clear:both;
	color:#003e69 !important;
	font-weight:bold;
	margin-top:4px;
}

/**
 * product product table - downloads tab
 */
.node-type-product #tab_section #downloads_tab .grid_group .views-row {
	width:33.333%;
	display:inline-block;
	float:left !important;
	clear:none;
	padding:1em;
	margin:0;
}


/**
 * colors
 */
.color_item {
	display:inline-block;
	float:left;
	margin-right:4px;
}

.color_item .tag{
	font-size:10px;
	text-align:center;
	display:block;
}

.color_item .box{
	background-color:#ffffff;
	width:auto;
	height:16px;
	display:block;
	border:1px solid #000000;
}


.color_item.bei .box{
	background-color:rgb(206, 157, 108);
}

.color_item.bkw .box{
	background-color:#ffffff;
}

.color_item.bky .box{
	background-color:rgb(255, 247, 0);
}

.color_item.blk .box{
	background-color:#000000;
}

.color_item.blu .box{
	background-color:rgb(0, 97, 224);
}

.color_item.bpt .box{
	background-color: rgb(0, 0, 0);
}

.color_item.brg .box{
	background-color:rgb(136, 37, 74);
}

.color_item.brn .box{
	background-color:rgb(141, 94, 47);
}

.color_item.cau .box{
	background-color:rgb(255, 247, 0);
}

.color_item.caution-yel .box{
	background-color:rgb(255, 247, 0);
}

.color_item.clr .box{
	background-color:#ffffff;
}


.color_item.dbl .box{
	background-color:rgb(0, 45, 134);
}

.color_item.dgr .box{
	background-color:rgb(212, 0, 30);
}

.color_item.danger-red .box{
	background-color:rgb(212, 0, 30);
}


.color_item.flg .box{
	background-color: rgb(0, 255, 0);
}

.color_item.flb .box {
  background-color: rgb(0, 105, 225);
}

.color_item.flo .box{
	background-color: rgb(254, 110, 0);
}

.color_item.flp .box{
	background-color: rgb(255, 0, 255);
}

.color_item.fly .box{
	background-color: rgb(255, 255, 0);
}

.color_item.fgr .box{
	background-color:rgb(56, 236, 0);
}

.color_item.fgn .box{
	background-color:rgb(0, 102, 51);
}

.color_item.frd .box{
	background-color:rgb(252, 0, 18);

}

.color_item.gld .box{
	background-color:rgb(251, 239, 5);
}

.color_item.gold .box{
	background-color:rgb(251, 239, 5);
}

.color_item.glg .box{
	background-color:rgb(102, 255, 0);
}

.color_item.gpt .box{
	background-color:rgb(175, 175, 175);
}

.color_item.grn .box{
	background-color:rgb(0, 188, 0);
}

.color_item.gry .box{
	background-color:rgb(220, 220, 220);
}

.color_item.kft .box{
	background-color:rgb(183, 122, 61);
}

.color_item.lbl .box{
	background-color:rgb(102, 204, 255);
}

.color_item.lea .box{
	background-color:#ffffff;
}

.color_item.lead .box{
	background-color:#ffffff;
}

/* bad color code */
.color_item.lead {
	margin-bottom:0 !important;
}

.color_item.hazard-wh .box{
	background-color:#ffffff;
}

.color_item.lgr .box{
	background-color:rgb(153, 255, 0);
}

.color_item.lty .box{
	background-color:rgb(255, 248, 186);
}

.color_item.mpt .box{
	background-color:rgb(220, 220, 220);
}

.color_item.msl .box{
	background-color:rgb(135, 135, 135);
}

.color_item.nat .box{
	background-color:rgb(255, 239, 213);
}

.color_item.olv .box{
	background-color:rgb(102, 102, 51);

}

.color_item.org .box{
	background-color:rgb(255, 47, 0);
}

.color_item.pnk .box{
	background-color:rgb(255, 204, 255);
}

.color_item.prp .box{
	background-color:rgb(102, 0, 204);
}

.color_item.pup .box{
	background-color:rgb(114, 19, 178);
}

.color_item.red .box{
	background-color:rgb(236, 16, 16);
}

.color_item.rpt .box{
	background-color:rgb(153, 0, 0);
}

.color_item.sil .box{
	background-color:rgb(220, 220, 220);
}

.color_item.smt .box{
	background-color:rgb(220, 220, 220);
}

.color_item.spt .box{
	background-color:rgb(220, 220, 220);
}

.color_item.tan .box{
	background-color:rgb(197, 152, 97);
}

.color_item.vlt .box{
	background-color:rgb(214, 141, 255);
}

.color_item.wet .box{
	background-color:rgb(255, 247, 0);
}

.color_item.whi .box{
	background-color:#ffffff;
}

.color_item.yel .box{
	background-color:rgb(255, 247, 0);
}

/**
 * product tables
 */
.node-type-product table.views-table {
	clear:both;
	margin:20px 0;
	font-size:13px;
	background-color:#ffffff;
	border:1px solid transparent;
	width:100%;
}

.node-type-product table.views-table thead th {
	background-color:#003e69;
	color:#ffffff;
	text-transform:uppercase;
	padding:8px 12px;
	font-size:12px;
	font-weight:bold;
	border:none !important;
	vertical-align:middle;
}

.node-type-product table.views-table tbody tr {
	background-color:#ffffff !important;
}

.node-type-product table.views-table tbody tr td {
	padding:6px 12px;
	border:1px solid #ffffff;
}

.node-type-product table.views-table tbody td.region {
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
}

.node-type-product table.views-table tbody tr td.gray_cell {
	background-color:#cccccc;
	font-weight:bold;
}

.node-type-product table.views-table tfoot tr td {
	background-color:#003e69;
	color:#ffffff;
}

.node-type-product table.views-table thead th.views-field-field-product-available-colors {
	width:36%;
}

.node-type-product table.views-table .views-field-field-property-standard,
.node-type-product table.views-table .views-field-field-property-metric,
.node-type-product table.views-table .views-field-field-astm-test-method {
	text-align:center;
}

.node-type-product .view-physical-properties table.views-table tbody tr td:first-child {
	background-color:#cccccc;
	font-weight:bold;
	text-transform:uppercase;
}

.node-type-product table.views-table .views-field-field-astm-test-method ul {
	list-style-type:none !important;
	list-style-image:none !important;
	margin:0 !important;
}

.node-type-product table.views-table .views-field-field-astm-test-method ul li {
	margin:0 !important;
}

.node-type-product .view-product-colors table.views-table td,
.node-type-product .view-product-colors table.views-table th {
	text-align:center;
}

.node-type-product .view-product-colors table.views-table .views-field-field-product-dimensions,
.node-type-product .view-product-colors table.views-table .views-field-field-product-available-colors{
	text-align:left;
}

/**
 * product data tables (changing from <table> to <ul> output block for mobile design)
 */
.node-type-product .product_data_table .blue_bar {
	margin-bottom:1px;
	padding:0;
	display:table;
	width:100%;
}

.node-type-product .product_data_table .blue_bar .col {
	display:table-cell;
	vertical-align:middle;
	font-size:11px;
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
}


.node-type-product .product_data_table .views-row {
	display:table;
	width:100%;
	margin-bottom:1px;
}

.node-type-product .product_data_table .views-row > div > span {
	display:none;
}

.node-type-product .product_data_table .views-row > div {
	display:table-cell;
	vertical-align:middle;
}


.node-type-product .product_data_table .views-row > div > div {
	padding:8px 0;
	text-transform:uppercase;
	font-weight:normal;
	font-size:0.9em;
}

.node-type-product .product_data_table .views-row > div > div.field-content {
	text-transform:none;
	font-weight:normal;
	display:block;
	overflow:hidden;
}

/**
 * product data table - physical properties tab
 */
.product_data_table#physical_tab .blue_bar .col {
	width:19%;
}

.product_data_table#physical_tab .blue_bar .col.title_col,
.product_data_table#physical_tab .views-row > div {
	width:37%;
	text-align:left;
}

.product_data_table#physical_tab .blue_bar .col.astm_col {
	width:24%;
	text-align:left;
}

.product_data_table#physical_tab .views-row .views-label {
	display:none;
}


.product_data_table#physical_tab .views-row > div > div {
	background-color:#cccccc;
	text-transform:uppercase;
	font-weight:bold;
	padding:8px;
}

.product_data_table#physical_tab .views-row > div > div.field-content {
	background-color:#ffffff;
	text-transform:none;
	font-weight:normal;
}

.product_data_table#physical_tab .views-row > div.views-field-field-property-standard,
.product_data_table#physical_tab .views-row > div.views-field-field-property-metric,
.product_data_table#physical_tab .views-row > div.views-field-field-astm-test-method-1 {
	background-color:#ffffff;
}

.product_data_table#physical_tab .views-row > div.views-field-field-property-standard {
	width:19%;
	text-align:center;
}

.product_data_table#physical_tab .views-row > div.views-field-field-property-metric {
	width:18%;
	text-align:center;
}

.product_data_table#physical_tab .views-row > div.views-field-field-astm-test-method-1 {
	width:24%;
}

.product_data_table#physical_tab .views-row > div.views-field-field-property-standard > div.field-content,
.product_data_table#physical_tab .views-row > div.views-field-field-property-metri > div.field-content,
.product_data_table#physical_tab .views-row > div.views-field-field-astm-test-method-1 > div.field-content {
	padding:8px 0;
}


/**
 * product product table - size + color tab
 */
.product_data_table#size_color_tab .blue_bar .col,
.product_data_table#size_color_tab .views-row > div {
	width:17.33333%;
}

.product_data_table#size_color_tab .blue_bar .col.dimensions_col {
	text-align:left;
	width:13%;
	padding-left:8px;
}

.product_data_table#size_color_tab .blue_bar .col.colors_col,
.product_data_table#size_color_tab .views-row > div.views-field-field-product-available-colors {
	width:35%;
}

.product_data_table#size_color_tab .views-row > div > span {
	display:none;
}

.product_data_table#size_color_tab .views-row > div > div {
	text-align:center;
}

.product_data_table#size_color_tab .views-row > div.views-field-field-product-dimensions {
	width:13%;
	padding-left:6px;
}

.product_data_table#size_color_tab .blue_bar .col.colors_col,
.product_data_table#size_color_tab .views-row > div.views-field-field-product-dimensions > div,
.product_data_table#size_color_tab .views-row > div.views-field-field-product-available-colors > div {
	text-align:left;
}

/**
 * product product table - downloads tab
 */
.product_data_table#downloads_tab .grid_group .views-row {
	width:33.333%;
	display:inline-block;
	float:left !important;
	clear:none;
}


/**
 * product index page
 */
.page-products #content .fixed_wrap.white_box {
	padding-left:0 !important;
}

.page-products #content h3.blue_bar {
	font-size:16px !important;
	font-weight:bold;
	margin-bottom:0 !important;
}

/**
 * responsiveness
 */
/* sm devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {

}

/* xs devices (phones) */
@media (max-width: 767px) {

}

/* xs devices (phones) */
@media (max-width: 500px) {

}
